.notion-callout.bg-brown-light .notion-collection-gallery {
  position: relative;
  overflow: hidden;
  width: 100% !important;
  margin: auto;
  border-top: 0 !important;
  aspect-ratio: 16 / 11 !important;
}

.notion-callout.bg-brown-light  .notion-collection-gallery .notion-collection-card.gallery.no-click {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: opacity 0.4s ease;
  opacity: 0;
  pointer-events: none;
  z-index: 0;
}

.notion-callout.bg-brown-light .notion-collection-gallery .notion-collection-card.gallery.no-click.active {
  opacity: 1;
  pointer-events: auto;
  z-index: 1;
  border-radius: 0px !important;
  border-radius: var(--image-border-radii) !important;
}

.notion-callout.bg-brown-light .notion-collection-card__cover,
.notion-collection-card__cover img {
  min-height: 100% !important;
  height: 100% !important;
  border-radius: 0px !important;
}

.theme-dark .notion-callout.bg-brown-light .notion-collection-card__content {
  color: var(--color-text-default) !important;
}

.notion-callout.bg-brown-light .notion-collection-card__content {
  position: absolute !important;
  width: 100% !important;
  bottom: 0 !important;
  background: rgba(50, 50, 50, .7) !important;
  color: var(--color-bg-default) !important;
}

/* CAROUSEL STYLES */

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(1, 1, 1, .4) !important;
  backdrop-filter: blur(2px) !important;
  color: white !important;
  border: none;
  cursor: pointer;
  z-index: 10;
  border-radius: 200px !important;
  width: 32px !important;
  height: 32px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.carousel-button.left {
  left: 10px;
}

.carousel-button.right {
  right: 10px;
}

.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 6px;
  z-index: 10;
  background: rgba(1, 1, 1, .4) !important;
  backdrop-filter: blur(2px) !important;
  padding: 6px !important;
  border-radius: 60px !important;
}

.carousel-indicators span {
  width: 8px;
  height: 8px;
  background: rgba(255, 255, 255, .6) !important;
  border-radius: 50%;
  display: inline-block;
}

.carousel-indicators span.active {
  background: #fff !important;
}