.notion-callout {
    box-shadow: 0 20px 30px -10px rgb(0,0,0,0.2) !important;
    background: var(--color-black) !important;
    transition: var(--transition) !important;
    color: var(--color-white) !important;
    letter-spacing: -0.4px !important;
    border-radius: 100px !important;
    align-items: center !important;
    width: fit-content !important;
    position: relative !important;
    font-weight: 600 !important;
    font-size: 18px !important;
    border: none !important;
    padding: 0 !important;
}

.notion-callout:hover {
    box-shadow: 0 20px 30px -10px rgba(240,189,102,0.8) !important;
    background: var(--color-primary) !important;
}

.notion-callout:active {
    transform: scale(0.95) !important;
}

.notion-callout.bg-gray-light {
    background: var(--color-off-white) !important;
    color: var(--color-black) !important;
}

.notion-callout__icon {
    pointer-events: none !important;
    position: absolute !important;
    display: none !important;
    left: 24px !important;
}

.notion-callout__icon,
.notion-callout__icon div,
.notion-callout__icon img {
    max-width: auto !important;
    min-width: auto !important;
    height: 20px !important;
    width: 20px !important;
}

.notion-callout__content { margin: 0 !important; }
.notion-callout p { font-size: 16px !important; }

.notion-callout .notion-semantic-string .link {
    padding: 13px 28px 14px 60px !important;
    display: inline-block !important;
}