/* GLOBAL */
.notion-collection__header,
.notion-property__title__icon-wrapper {
    display: none !important;
}

/* GALLERIES */
.notion-collection-gallery {
    grid-gap: 32px !important;
    border: none !important;
    padding: 0 !important;
}

.notion-collection-card {
    box-shadow: 0 10px 40px -10px rgba(0,0,0,0.12) !important;
    transition: var(--transition) !important;
    padding: 20px 24px 24px !important;
    flex-direction: column !important;
    border-radius: 16px !important;
    display: flex !important;
}

.notion-collection-card__cover,
.notion-collection-card__cover>div,
.notion-collection-card__cover>img {
    border-radius: 12px !important;
    position: relative !important;
    max-height: 200px !important;
    min-height: auto !important;
    height: 200px !important;
    border: none !important;
}

.notion-collection-card__cover img {
    transition: var(--transition) !important;
    transform: scale(1.06) !important;
}

.notion-collection-card:hover {
    box-shadow: 0 20px 40px -10px rgba(0,0,0,0.12) !important;
    background: var(--color-white) !important;
    transform: translateY(-8px) !important;
}

.notion-collection-card:active {
    box-shadow: 0 10px 40px -10px rgba(0,0,0,0.12) !important;
    transform: translateY(0) !important;
}

.notion-collection-card:hover .notion-collection-card__cover img {
    transform: scale(1.001) !important;
}

.notion-property__title,
.notion-collection-card__content {
    padding: 0 !important;
}

.notion-property__title {
    margin: 50px 0 0 !important;
    font-size: 24px !important;
}

.notion-property__title .notion-semantic-string {
    letter-spacing: -1px !important;
    white-space: normal !important;
    font-weight: 700 !important;
}

.notion-collection-card__content .notion-property__select .notion-pill {
    color: var(--color-grey) !important;
    letter-spacing: -0.2px !important;
    border-radius: 8px !important;
    background: none !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    padding: 0 !important;
}

.notion-collection-card__content {
    overflow: visible !important;
}

/* Subcategory label */
.notion-collection-card__property:first-child {
    position: absolute !important;
    top: 240px !important;
}

/* Right text */
.notion-collection-card__property:nth-child(2) {
    background: var(--color-off-white) !important;
    letter-spacing: -0.5px !important;
    border-radius: 12px !important;
    position: absolute !important;
    font-weight: 700 !important;
    font-size: 20px !important;
    top: -60px !important;
    right: 0 !important;
    padding: 12px 16px;
}








