.notion-image:last-child {
    align-self: flex-start !important;
    margin-bottom: 12px !important;
}

#block-b1d6e6bbac3348289aeb36f0b03355af .notion-semantic-string {
    justify-content: space-between !important;
    display: flex !important;
}

#block-b1d6e6bbac3348289aeb36f0b03355af span:empty {
    display: none !important;
}