.notion-header__title {
    color: var(--color-grey) !important;
    letter-spacing: -1px !important;
    position: absolute !important;
    font-size: 24px !important;
    top: -40px !important;
    left: 2px !important;
}

.notion-header__content {
    padding-right: var(--padding-right) !important;
    padding-left: var(--padding-left) !important;
}

.notion-header__icon-wrapper,
.notion-header__cover.no-cover {
    display: none !important;
}

.notion-header__title-wrapper {
    margin-top: 168px !important;
}