.notion-navbar {
    padding: 0 var(--padding-right) 0 var(--padding-left) !important;
    backdrop-filter: blur(20px) saturate(200%) !important;
    background: rgba(255,255,255,0.9) !important;
    transition: var(--transition) !important;
    height: var(--navbar-height) !important;
}

.notion-navbar>a {
    transition: var(--transition) !important;
    height: auto !important;
}

.notion-navbar>a.has-icon {
    padding: 0 !important;
}

.notion-navbar>a.has-icon>div,
.notion-navbar__icon {
    height: 36px !important;
    width: 36px !important;
}

.notion-navbar>a:hover {
    transform: rotate(-8deg) scale(1.08) !important;
    background: none !important;
}

.notion-navbar>a:active {
    transform: rotate(0) scale(1) !important;
}

.notion-navbar__title {
    display: none !important;
}

.nav-active {
    color: var(--color-black) !important;
}

.nav-scrolled {
    height: var(--navbar-height-scrolled) !important;
    box-shadow: 0 0 20px rgb(0,0,0,0.04) !important;
}