#page-icons,
#page-icons-light {
    transition: var(--transition);
}

#page-icons-light,
#page-icons-light .notion-navbar {
    background: var(--color-off-black) !important;
}

#page-icons-light,
#page-icons-light .notion-quote a:hover {
    color: var(--color-white) !important;
}

#page-icons-light .notion-quote .bg-gray {
    background: var(--color-charcoal) !important;
}