/* HIDDEN CONTENT */
#page-index .notion-header__title,
#page-index .notion-toggle {
    display: none !important;
}

/* SPACING DIVIDER */
#page-index .notion-divider {
    margin: 50px 0 !important;
    border: none !important;
}

/* COLLECTIONS */
#page-index .notion-collection-gallery {
    grid-template-columns: repeat(4, 1fr) !important;
}

/* FEATURES SECTION */
#page-index .collection-34515e24eca84100b4305b4f2923809f .notion-collection-gallery {
    grid-column-gap: 120px !important;
    grid-row-gap: 100px !important;
}
#page-index .collection-34515e24eca84100b4305b4f2923809f .notion-property__title {
    max-width: 140px !important;
    padding: 0 !important;
}

/* SHOWCASE & TEMPLATES */
#page-index .collection-5691069c53964e6bbeca9ed509e43912 .notion-collection-card__content {
    display: none !important;
}
#page-index .collection-5691069c53964e6bbeca9ed509e43912 .notion-property__title {
    margin: 20px 0 0 !important;
    font-size: 22px !important;
}
#page-index .collection-5691069c53964e6bbeca9ed509e43912 .notion-collection-card__cover,
#page-index .collection-5691069c53964e6bbeca9ed509e43912 .notion-collection-card__cover>div,
#page-index .collection-5691069c53964e6bbeca9ed509e43912 .notion-collection-card__cover img {
    max-height: 140px !important;
    height: 140px !important;
}

#page-index .collection-5691069c53964e6bbeca9ed509e43912 
.notion-collection-card:last-child .notion-collection-card {
    justify-content: space-between !important;
}

#page-index .collection-5691069c53964e6bbeca9ed509e43912 
.notion-collection-card:last-child .notion-collection-card__property:first-child {
    transition: var(--transition) !important;
    transform: rotate(-45deg) !important;
    margin: 10px -6px 0 auto !important;
    position: relative !important;
    opacity: 0.25 !important;
    top: auto !important;
}

#page-index .collection-5691069c53964e6bbeca9ed509e43912 
.notion-collection-card:last-child:hover .notion-collection-card__property:first-child {
    transform: rotate(-45deg) translateX(12px) !important;
}

#page-index .collection-5691069c53964e6bbeca9ed509e43912 
.notion-collection-card:last-child .notion-collection-card__content {
    display: flex !important;
}
#page-index .collection-5691069c53964e6bbeca9ed509e43912 
.notion-collection-card:last-child .notion-collection-card__cover {
    display: none !important;
}
#page-index .collection-5691069c53964e6bbeca9ed509e43912 
.notion-collection-card:last-child .notion-property__title {
    margin-top: auto !important;
    font-size: 30px !important;
    order: 2 !important;
}

#page-index .collection-5691069c53964e6bbeca9ed509e43912 
.notion-collection-card:last-child .notion-property__select {
    overflow: visible !important;
}

#page-index .collection-5691069c53964e6bbeca9ed509e43912 
.notion-collection-card:last-child .notion-pill {
    font-size: 40px !important;
}

#page-index .collection-5691069c53964e6bbeca9ed509e43912 
.notion-collection-card:last-child .notion-semantic-string {
    line-height: 1.4 !important;
}