.notion-quote {
    font-size: 16px !important;
    border: none !important;
    z-index: 99 !important;
    margin: 0 !important;
    position: fixed !important;
    top: 0 !important;
    height: var(--navbar-height) !important;
    right: 0 !important;
    padding-right: var(--padding-right) !important;
}

.notion-quote span {
    justify-content: center !important;
    align-items: center !important;
    display: flex !important;
    height: 100% !important;
}

.notion-quote a {
    color: var(--color-grey) !important;
    padding: 10px 16px !important;
    font-weight: 500 !important;
}