.notion-quote {
    padding: 0 var(--padding-right) 0 0 !important;
    transition: var(--transition) !important;
    height: var(--navbar-height) !important;
    font-size: 16px !important;
    position: fixed !important;
    display: flex !important;
    border: none !important;
    z-index: 99 !important;
    margin: 0 !important;
    right: 0 !important;
    top: 0 !important;
}

.notion-quote span {
    justify-content: center !important;
    align-items: center !important;
    display: flex !important;
    height: auto !important;
}

.notion-quote a {
    transition: var(--transition) !important;
    color: var(--color-grey) !important;
    padding: 8px 16px 9px !important;
    font-weight: 500 !important;
}

.notion-quote a:hover {
    color: var(--color-black) !important;
}

.notion-quote .bg-gray {
    background: var(--color-off-white) !important;
    border-radius: 100px !important;
    margin-left: 16px !important;
}

.quote-scrolled {
    height: var(--navbar-height-scrolled) !important;
}