.notion-quote {
    padding: 0 var(--padding-right) 0 0 !important;
    transition: var(--transition) !important;
    height: var(--navbar-height) !important;
    font-size: 16px !important;
    position: fixed !important;
    display: flex !important;
    border: none !important;
    z-index: 99 !important;
    margin: 0 !important;
    right: 0 !important;
    top: 0 !important;
}

.notion-quote span {
    transition: var(--transition) !important;
    justify-content: center !important;
    align-items: center !important;
    display: flex !important;
    height: auto !important;
}

.notion-quote a {
    transition: var(--transition) !important;
    color: var(--color-grey) !important;
    justify-content: center !important;
    letter-spacing: -0.2px !important;
    padding: 8px 18px 9px !important;
    align-items: center !important;
    font-weight: 500 !important;
    display: flex !important;
}

.notion-quote a:hover {
    color: var(--color-black) !important;
}

.notion-quote .bg-gray {
    background: var(--color-off-white) !important;
    border-radius: 100px !important;
    margin-left: 16px !important;
}

.quote-scrolled {
    height: var(--navbar-height-scrolled) !important;
}

.quote-scrolled span,
.quote-scrolled a {
    height: 100% !important;
}

.quote-scrolled .highlighted-color,
.quote-scrolled .bg-gray {
    height: auto !important;
}

.notion-quote .bg-yellow {
    transform: translateX(-100vw);
    background: none !important;
    font-size: 30px !important;
    position: fixed !important;
    display: none !important;
    right: 32px !important;
    z-index: 2 !important;
    top: 13px !important;
}

@media (max-width: 600px) {

    .notion-quote {
        width: 260px !important;
    }
    
    .quote-scrolled span,
    .quote-scrolled a {
        height: auto !important;
    }

    .notion-quote .notion-semantic-string {
        box-shadow: 0 10px 40px -10px rgba(0,0,0,0.12) !important;
        background: var(--color-white) !important;
        transition: var(--transition) !important;
        justify-content: flex-end !important;
        flex-direction: column !important;
        border-radius: 12px !important;
        padding: 40px 12px !important;
        transform: translateX(100vw);
        position: fixed !important;
        height: 100% !important;
        width: 100% !important;
        right: 0 !important;
        left: 0 !important;
        top: 0 !important;
    }

    .menu-show,
    .menu-show .bg-yellow {
        transform: translateX(0) !important;
    }

    .notion-quote span {
        align-items: flex-start !important;
    }

    .notion-quote a {
        letter-spacing: -1px !important;
        padding: 12px 36px !important;
        font-weight: 700 !important;
        font-size: 30px !important;
    }

    .notion-quote .bg-gray {
        background: none !important;
        border-radius: 0 !important;
        margin-left: 0 !important;
    }

    .notion-quote .bg-yellow {
        display: block !important;
    }

}
