.notion-toggle {
    box-shadow: 0 10px 30px -10px rgba(0,0,0,0.1) !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    user-select: none !important;
    margin: 0 !important;
}

.notion-toggle p .highlighted-color {
    font-size: inherit !important;
}

.notion-toggle:first-child {
    border-top-right-radius: 12px !important;
    border-top-left-radius: 12px !important;
}

.notion-toggle__summary {
    color: var(--color-grey) !important;
    letter-spacing: -0.5px !important;
    position: relative !important;
    font-weight: 600 !important;
    font-size: 24px !important;
    padding: 40px !important;
}

.notion-toggle__summary:before {
    /* position: relative !important; */
    /* content: "\0253C" !important; */
    /* order: 2 !important; */
    transition: var(--transition) !important;
    font-weight: 100 !important;
    margin: -4px 0 0 !important;
    font-size: 40px !important;
    line-height: 1 !important;
    opacity: 0.4 !important;
    content: "+" !important;
    right: 40px !important;
}

.notion-toggle[open]>summary:before {
    transform: rotate(45deg) translate(2px, -1px) !important;
}

.notion-toggle__summary:hover:before {
    background: none !important;
}

.notion-toggle__content {
    padding: 0 15% 40px 40px !important;
    margin-top: -24px !important;
}

.notion-toggle__summary .notion-semantic-string {
    padding-inline-start: 0 !important;
}