h1 {
    letter-spacing: -2.5px !important;
    margin-bottom: 8px !important;
    line-height: 1.3 !important;
    font-size: 60px !important;
    max-width: 100% !important;
    width: 700px !important;
}

h2 {
    letter-spacing: -1px !important;
    font-weight: 700 !important;
    margin-top: 20px !important;
    line-height: 1.4 !important;
    font-size: 26px !important;
}

h3 {
    letter-spacing: -0.4px !important;
    margin-bottom: 12px !important;
    line-height: 1.5 !important;
    font-size: 20px !important;
}

p {
    letter-spacing: -0.2px !important;
    font-weight: 500 !important;
    font-size: 18px !important;
}

p .highlighted-color {
    font-size: 15px !important;
}

.notion-semantic-string .link {
    transition: var(--transition) !important;
    border: none !important;
    opacity: 1 !important;
}

.color-yellow a:hover {
    color: var(--color-black) !important;
}

strong {
    font-weight: 900 !important;
}