.notion-callout {
    background: var(--color-white) !important;
    color: var(--color-black) !important;
    letter-spacing: -0.4px !important;
    border-radius: 100px !important;
    align-items: center !important;
    width: fit-content !important;
    font-weight: 600 !important;
    padding: 0 !important;
}

.notion-callout__icon {
    margin: 4px 16px 0 -12px !important;
    pointer-events: none !important;
    order: 2 !important;
}

.notion-callout__icon>div {
    height: 20px !important;
    width: 20px !important;
}

.notion-callout .notion-semantic-string .link {
    padding: 14px 20px 12px !important;
    display: block !important;
    border: none !important;
}

@media (prefers-color-scheme: light) {
    .notion-callout {
        background: var(--color-black) !important;
        color: var(--color-white) !important;
    }
    .notion-callout__icon {
        -webkit-filter: invert(1) !important;
        filter: invert(1) !important;
    }
}