.super-navbar__cta {
    padding: 6px 12px !important;
    border-radius: 8px !important;
    border: 1px solid var(--color-text-default) !important;
    background: transparent !important;
    color: var(--color-text-default) !important;
}

.super-navbar {
    background: rgba(252, 252, 252, .7);
    -webkit-backdrop-filter: blur(20px) saturate(200%) !important;
    backdrop-filter: blur(20px) saturate(200%) !important;
}

.theme-dark .super-navbar {
    background: rgba(25, 25, 25, .7);
    -webkit-backdrop-filter: blur(20px) saturate(200%) !important;
    backdrop-filter: blur(20px) saturate(200%) !important;
}

/**/

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeSpeed;
    text-decoration: none;
    outline: none;
}

h1 {
    letter-spacing: -1.5px !important;
    margin-bottom: 20px !important;
}

.notion-collection-gallery {
    grid-template-columns: repeat(3, 1fr) !important;
    grid-gap: 30px !important;
    margin: 80px 0 !important;
    border: none !important;
    padding: 0 !important;
}

.notion-collection-card.gallery {
    transition: transform .3s cubic-bezier(.4, 0, .2, 1) !important;
    border-radius: 16px !important;
    overflow: hidden !important;
    box-shadow: none !important;
}

.notion-collection-card.gallery:before {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 40%) !important;
    pointer-events: none !important;
    position: absolute !important;
    content: "" !important;
    z-index: 1 !important;
    bottom: 0 !important;
    right: 0 !important;
    left: 0 !important;
    top: 0 !important;
}

/* Cover */

.notion-collection-card__cover,
.notion-collection-card__cover>div,
.notion-collection-card__cover img {
    border: none !important;
    height: 100% !important;
}

/* Card title */

.notion-collection-card.gallery .notion-property__title {
    position: absolute !important;
    padding: 24px 30px !important;
    max-width: 400px !important;
    font-size: 20px !important;
    color: #fff !important;
    z-index: 2 !important;
    bottom: 0 !important;
    left: 0 !important;
}

/* Price */
.notion-property.property-56503a49 {
    position: absolute !important;
    right: 0 !important;
    top: 0 !important;
    padding: 10px !important;
    background: var(--color-text-default) !important;
    color: var(--color-bg-default) !important;
    border-radius: 50px !important;
    width: 60px !important;
    height: 60px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    font-size: 1.2rem !important;
    margin: 20px !important;
}

@media (min-width: 856px) {
    .notion-collection-card:nth-child(0n +1) {
        grid-column: span 2 / auto;
    }
}

.notion-collection-card:hover {
    transform: translateY(-8px) !important;
}

.notion-collection-card:active {
    transform: translateY(0) !important;
}

@media (max-width: 856px) {
    .notion-collection-gallery {
        grid-template-columns: 1fr !important;
    }
}

@media (max-width: 856px) {

    h1 {
        letter-spacing: -1px !important;
        font-size: 38px !important;
        margin-bottom: 12px !important;
    }

    h2 {
        font-size: 26px !important;
    }

}