:root {
  /* Style options */
  --callout-padding: 16px!important;
  --callout-border-radii: 8px!important;
  --column-spacing: 32px!important;
  --layout-max-width: 1000px!important;
  --color-border-default: #E7E6E6!important;
  --collection-card-gap: 24px!important;
  --header-cover-height: 45vh!important;
  --image-border-radii: 8px!important;
  --db-title-spacing: -0.5px!important;
  --color-card-bg: #F8F8F8!important;
  --color-card-bg-hover: #f4f4f4!important;
  --collection-card-cover-height-small: 160px!important;
  --quote-background: #e2edff!important;
  /* Database view picker options */
  /* Active colors */
  --picker-active-bg-color: #f0f0f0!important;
  --picker-active-text-color: var(--color-text-default)!important;
  --picker-active-border-color: #f0f0f0!important;
  /* Default colors */
  --picker-border-color: rgb(233, 233, 233)!important;
  --picker-text-color: rgb(70, 70, 70)!important;
  --picker-border-radius: 50px!important;
  /* Hover colors */
  --picker-hover-bg-color: #f0f0f0!important;
  --picker-hover-text-color: var(--color-text-default)!important;
  --picker-hover-border-color: #f0f0f0!important;
  --collection-card-cover-size-small: 140px!important;
  /* CTA button styles */
  --cta-padding: 12px 16px!important;
  --cta-border-radii: 7px!important;
  --cta-color-bg: var(--navbar-button-background-color)!important;
  --cta-color-text: var(--navbar-button-text-color)!important; }

body {
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  text-rendering: optimizeLegibility !important; }

.notion-embed__container > iframe {
  background: var(--color-bg-default) !important; }

.notion-header__title-wrapper {
  margin-bottom: 24px !important; }
  .notion-header__title-wrapper div:first-child {
    display: none !important; }

.notion-root.full-width, .notion-collection-page {
  max-width: var(--layout-max-width) !important;
  margin: 0 auto !important; }

.notion-toggle.bg-brown {
  display: none !important; }

.super-navbar__item {
  font-weight: 600 !important;
  letter-spacing: -0.2px !important; }

.super-navbar__cta {
  padding: 12px 16px !important;
  border-radius: var(--cta-border-radii) !important;
  font-weight: 600 !important;
  letter-spacing: -0.2px !important; }

.notion-link {
  opacity: 1 !important; }
  .notion-link:hover {
    opacity: 0.7 !important; }

.notion-root .notion-text .notion-text__content .notion-semantic-string span strong .notion-link,
.notion-root .notion-text .notion-text__content .notion-semantic-string span .notion-link strong {
  padding: var(--cta-padding) !important;
  border-radius: var(--cta-border-radii) !important;
  opacity: 1 !important;
  font-weight: 500 !important;
  display: inline-flex !important;
  justify-content: center !important;
  transition: background 0.2s ease-in-out !important;
  background: var(--cta-color-bg) !important;
  color: var(--cta-color-text) !important;
  margin: -2px !important; }

h1.notion-heading {
  font-size: 2.4rem !important;
  font-weight: 700 !important;
  letter-spacing: -1px !important;
  line-height: 1.2 !important; }
  @media screen and (max-width: 768px) {
    h1.notion-heading {
      font-size: 2.6rem !important; } }
  h1.notion-heading * {
    line-height: 1.2 !important; }

h1.notion-header__title {
  font-size: 3rem !important;
  font-weight: 700 !important;
  letter-spacing: -1.4px !important;
  line-height: 1.2 !important; }
  @media screen and (max-width: 768px) {
    h1.notion-header__title {
      font-size: 2.6rem !important; } }
  h1.notion-header__title * {
    line-height: 1.2 !important; }

h2.notion-heading {
  font-size: 2.2rem !important;
  font-weight: 700 !important;
  letter-spacing: -1px !important;
  line-height: 1.2 !important;
  margin-bottom: 16px !important; }
  h2.notion-heading * {
    line-height: 1.2 !important; }

h3.notion-heading {
  font-size: 1.4rem !important;
  font-weight: 700 !important;
  letter-spacing: -0.5px !important;
  margin-bottom: 8px !important; }

.notion-quote {
  border: 0 !important;
  background: var(--quote-background) !important;
  border-radius: 7px !important;
  padding: 24px !important;
  font-size: 1.4rem !important;
  letter-spacing: -0.2px !important; }

.notion-toggle {
  border: 1px solid var(--color-border-default) !important;
  border-radius: 8px !important;
  padding: 10px !important;
  margin-bottom: 8px !important; }
  .notion-toggle h3.notion-heading, .notion-toggle h2.notion-heading, .notion-toggle h1.notion-heading {
    margin: 0 !important; }

.notion-toggle.open {
  background: rgba(0, 0, 0, 0.05) !important; }

.notion-toggle__summary {
  margin: 0 !important; }

.notion-toggle.open {
  padding-bottom: 16px !important; }

.notion-collection-gallery {
  padding-top: 0px !important; }

.notion-collection-card {
  box-shadow: none !important;
  border: 1px solid var(--color-border-default) !important;
  border-radius: 12px !important;
  transition: background 0.3s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.3s cubic-bezier(0.165, 0.84, 0.44, 1), transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) !important; }
  .notion-collection-card:hover {
    opacity: 0.88 !important;
    -webkit-transform: translate(0, -4px) !important;
    -ms-transform: translate(0, -4px) !important;
    transform: translate(0, -4px) !important; }

.notion-collection-card__property-list {
  margin-top: 12px !important; }

.notion-collection-card__property {
  font-size: 1rem !important; }

.notion-property__title {
  font-weight: 600 !important; }

.notion-pill {
  font-size: 0.75rem !important;
  border-radius: 50px !important;
  padding: 3px 6px !important; }

.notion-collection-gallery, .notion-collection-list {
  border: 0 !important; }

.notion-property__title__icon-wrapper {
  display: none !important; }

.notion-page__properties {
  margin-top: 12px !important; }

.notion-collection-gallery {
  margin-top: 16px !important; }

.notion-collection-gallery.small .notion-collection-card__content {
  padding: 16px !important; }

.notion-collection-gallery.small .notion-property__title {
  font-size: 1rem !important;
  white-space: normal !important; }
  .notion-collection-gallery.small .notion-property__title * {
    font-weight: 700 !important;
    line-height: 1.2 !important;
    letter-spacing: var(--db-title-spacing) !important; }

.notion-collection-gallery.medium {
  grid-template-columns: 1fr 1fr 1fr !important; }
  .notion-collection-gallery.medium .notion-collection-card__content {
    padding: 16px !important; }
  .notion-collection-gallery.medium .notion-collection-card__property-list {
    display: flex !important;
    flex-direction: column !important;
    gap: 8px !important; }
  .notion-collection-gallery.medium .notion-property__title {
    font-size: 1.4rem !important; }
    .notion-collection-gallery.medium .notion-property__title * {
      line-height: 1.2 !important;
      font-weight: 800 !important;
      letter-spacing: var(--db-title-spacing) !important; }

.notion-collection-gallery.large {
  grid-template-columns: 1fr !important; }
  .notion-collection-gallery.large .notion-collection-card {
    display: flex !important;
    flex-direction: row-reverse !important;
    min-height: 420px !important; }
    .notion-collection-gallery.large .notion-collection-card .notion-property__title {
      font-size: 2.6rem !important;
      max-width: 600px !important; }
      .notion-collection-gallery.large .notion-collection-card .notion-property__title * {
        line-height: 1 !important;
        font-weight: 800 !important;
        letter-spacing: var(--db-title-spacing) !important; }
    .notion-collection-gallery.large .notion-collection-card .notion-collection-card__cover {
      height: 100% !important; }
    .notion-collection-gallery.large .notion-collection-card .notion-collection-card__content {
      display: flex !important;
      flex-direction: column !important;
      justify-content: center !important;
      padding: 40px 40px !important; }
      .notion-collection-gallery.large .notion-collection-card .notion-collection-card__content::before {
        content: "Featured" !important;
        padding: 4px 8px !important;
        font-size: 0.875rem !important;
        background: #F0F0F0 !important;
        border-radius: 50px !important;
        display: inline-block !important;
        margin-bottom: 16px !important;
        width: fit-content !important;
        border: 1px solid #E3E3E3 !important; }
    .notion-collection-gallery.large .notion-collection-card .notion-pill {
      max-width: 100% !important; }
    .notion-collection-gallery.large .notion-collection-card .notion-collection-card__property-list {
      overflow: visible !important;
      display: flex !important;
      justify-content: flex-start !important;
      gap: 16px !important; }
    .notion-collection-gallery.large .notion-collection-card .notion-collection-card__content .notion-property__text {
      overflow: visible !important; }
  .notion-collection-gallery.large .notion-collection-card:nth-child(n+2) {
    display: none !important; }

#page-index .notion-header__title-wrapper, #page-index .notion-header__cover.no-cover {
  display: none !important; }

#page-index .notion-collection-gallery.medium {
  grid-template-columns: 1fr 1fr !important; }

.notion-collection-list {
  gap: 8px !important;
  padding: 0px !important;
  margin-top: 16px !important; }
  .notion-collection-list .notion-property__title {
    white-space: normal !important; }
    .notion-collection-list .notion-property__title * {
      font-weight: 700 !important;
      letter-spacing: var(--db-title-spacing) !important; }
    .notion-collection-list .notion-property__title .notion-semantic-string {
      white-space: pre-wrap !important; }
      .notion-collection-list .notion-property__title .notion-semantic-string span {
        border: none !important; }
  .notion-collection-list .notion-collection-list__item {
    white-space: normal !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    border: 1px solid var(--color-border-default) !important;
    padding: 8px !important;
    border-radius: 8px !important;
    transition: background 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) !important; }
    .notion-collection-list .notion-collection-list__item:nth-child(n+6) {
      display: none !important; }
    .notion-collection-list .notion-collection-list__item:hover {
      background: #F8F8F8 !important; }

.super-root:not(.page__index) .notion-header__title {
  text-align: center !important;
  width: 100% !important; }

.super-root:not(.page__index) .notion-dropdown__option-list {
  justify-content: center !important; }

.parent-page__posts .super-content {
  max-width: 740px !important; }

.parent-page__posts .notion-bulleted-list, .parent-page__posts .notion-numbered-list, .parent-page__posts .notion-to-do, .parent-page__posts .notion-callout {
  font-size: 1.2rem !important; }

.parent-page__posts .notion-text__content {
  font-size: 1.2rem !important; }
  .parent-page__posts .notion-text__content * {
    line-height: 1.4 !important; }

.parent-page__posts .notion-image.page-width {
  max-width: 120% !important;
  width: 120% !important; }

.parent-page__posts .notion-header__content.max-width {
  max-width: 840px !important; }

.parent-page__posts .notion-property__person > .notion-semantic-string > span {
  margin: 0 !important; }

.parent-page__posts .notion-page__property {
  display: flex !important;
  width: fit-content !important;
  margin: 0 auto !important; }

.notion-dropdown__menu-header,
.notion-dropdown__option-icon,
.notion-dropdown__button svg:first-of-type {
  display: none !important; }

@media all and (min-width: 576px) {
  .notion-dropdown {
    width: 100% !important;
    z-index: 1 !important;
    margin-bottom: 16px !important; }
  .notion-dropdown__button {
    justify-content: space-between !important;
    width: 100% !important;
    border: 1px solid var(--color-border-default) !important;
    padding: 10x !important;
    border-radius: 8px !important; }
  .notion-dropdown__menu-wrapper {
    position: relative !important; }
  .notion-dropdown__menu-wrapper .notion-dropdown__menu {
    width: 100% !important;
    border-radius: 8px !important;
    transform: none !important;
    left: auto !important;
    top: auto !important; }
  .notion-dropdown__menu-wrapper .notion-dropdown__menu .notion-dropdown__option-list {
    padding: 0px !important;
    flex-wrap: wrap !important; }
  .notion-dropdown__menu-wrapper .notion-dropdown__menu .notion-dropdown__option {
    padding: 5px 10px !important; }
  .notion-dropdown__button {
    display: none !important; }
  .notion-dropdown__menu.initial-state {
    z-index: 1 !important;
    opacity: 1 !important;
    transform: none !important; }
  .notion-dropdown__menu.animate-in.animate-out,
  .notion-dropdown__menu.animate-in,
  .notion-dropdown__menu.animate-out {
    animation: none !important; }
  .notion-dropdown__menu {
    width: 80% !important;
    margin: 0 auto !important;
    background: none !important;
    box-shadow: unset !important;
    position: relative !important; }
  .notion-dropdown__menu .notion-dropdown__option-list {
    display: flex !important;
    gap: 8px !important; }
  .notion-dropdown__menu .notion-dropdown__option.active {
    background: var(--picker-active-bg-color) !important;
    border: 1px solid var(--picker-active-border-color) !important; }
  .notion-dropdown__menu .notion-dropdown__option.active p {
    color: var(--picker-active-text-color) !important; }
  .notion-dropdown__menu .notion-dropdown__option {
    border-radius: var(--picker-border-radius) !important;
    border: 1px solid var(--picker-border-color) !important;
    transition: all 0.15s ease-in-out !important;
    align-items: center !important; }
  .notion-dropdown__menu .notion-dropdown__option:hover {
    background: var(--picker-hover-bg-color) !important;
    border-color: var(--picker-hover-border-color) !important; }
  .notion-dropdown__menu .notion-dropdown__option:hover p {
    color: var(--picker-hover-text-color) !important; }
  .notion-dropdown__menu .notion-dropdown__option p {
    font-size: .9rem !important;
    letter-spacing: -0.3px !important;
    color: var(--picker-text-color) !important; } }

@media all and (max-width: 768px) {
  #page-index .notion-collection-gallery.large .notion-collection-card {
    flex-direction: column !important; }
  #page-index .notion-collection-gallery.medium {
    grid-template-columns: 1fr !important; }
  #page-posts .notion-collection-gallery.medium {
    grid-template-columns: 1fr !important; } }

.notion-collection-page .notion-dropdown__menu-wrapper {
  left: 0px !important; }

.notion-collection-list__item .notion-property.notion-property__title .notion-semantic-string > span {
  white-space: pre-wrap !important; }
