:root {
    --transition: all 0.8s cubic-bezier(0.2, 1, 0.2, 1) !important;
    --color-bg-default: #f9fAfe !important;
}

.notion-navbar {
    height: 60px !important;
}

.notion-embed {
    transform: scale(0.85) !important;
    position: fixed !important;
    z-index: 999 !important;
    right: -24px !important;
    width: 360px !important;
    top: -20px !important;
}
.notion-embed iframe { background: none !important; }
.notion-embed:after {
    background: var(--color-bg-default);
    height: 24px !important;
    position: absolute;
    width: 100%;
    content: "";
    top: 0;
}

/* Main */
.notion-header,
.notion-collection__header {
    display: none !important;
}

.max-width {
    max-width: none !important;
    width: 90% !important;
    padding: 0 !important;
}

.super-content {
    padding: 80px 0 !important;
}

/* Galleries */
.notion-collection-gallery {
    grid-template-columns: repeat(3, 1fr) !important;
    grid-gap: 60px !important;
    border: none !important;
}
.notion-collection-card {
    transition: var(--transition) !important;
    overflow: visible !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}
.notion-collection-card:hover {
    transform: scale(1.04) !important;
    background: none !important;
}
.notion-collection-card:active {
    transition: all .1s ease !important;
    transform: scale(1) !important;
}
.notion-collection-card__cover,
.notion-collection-card__cover div,
.notion-collection-card__cover img {
    max-height: 220px !important;
    overflow: visible !important;
    height: 220px !important;
    border: none !important;
}
.notion-collection-card__cover img {
    box-shadow: 0 20px 40px -20px rgba(0,0,0,0.1) !important;
    border-radius: 4px !important;
}
.notion-property__title {
    padding: 20px 0 !important;
}