:root {
  --collection-card-content-padding: 24px!important;
  --navbar-button-border-radii: 9px!important;
  --button-border: inset 0 0 0 1px rgba(255, 255, 255, 0.2)!important;
  --header-gradient: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 98%)!important;
  --navbar-background-color: rgba(246, 246, 246, .6) !important;
  --image-border-radii: 8px!important
  --color-pill-default: var(--color-card-bg)!important;
  --color-pill-text-default: var(--color-text-gray)!important;
  --card-shadow: 0px 3px 6px -4px rgba(0,0,0,0.06),0px 9px 31px -12px rgba(0,0,0,0.02)!important;
}

.theme-dark {
  --header-gradient: linear-gradient(to bottom, rgba(17, 18, 19, 0), rgba(17, 18, 19, 1) 98%)!important;
  --navbar-background-color: rgba(17, 18, 19, .8) !important;
    --color-pill-default: var(--color-card-bg)!important;
  --color-pill-text-default: var(--color-text-gray)!important;
--button-border: inset 0 0 0 1px rgba(1, 1, 1, 0.2)!important;
}

body {
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    text-rendering: optimizeLegibility !important;
}

/* Images */
img[src*=".svg"] {
   border-radius: 0px!important;
}

/* Databases */
.notion-collection-gallery, .notion-collection-list {
  border-top: 0!important;
}

/* List */
.notion-collection-list__item:first-child {
  border-top: 1px solid var(--color-border-default) !important;
}

.notion-property__title__icon-wrapper {
  display: none!important;
}

.notion-collection-list__item .notion-property.notion-property__title .notion-semantic-string>span {
  white-space: pre-wrap!important;
}

.notion-collection-list__item {
  border-bottom: 1px solid var(--color-border-default) !important;
  padding: 12px 0px!important;
  border-radius: 0px !important;
  transition: padding .2s cubic-bezier(0.25, 1.5, 0.5, 1), background-color .15s ease !important;
  margin: 0 !important;
}

.notion-collection-list__item:hover {
  padding: 12px 16px!important;
}

.notion-collection-list__item .notion-property__title .notion-semantic-string>span {
  border-bottom: 0px !important;
}

.notion-collection-list__item .notion-property__title .notion-semantic-string {
  white-space: pre-wrap !important;
}

@media all and (max-width: 546px) {  
.notion-callout .notion-collection-list__item .notion-property__title {
  margin: 0!important;
}
}

/* List Inside callout */
.notion-callout .notion-collection-list {
  padding-left: 12px!important;  
    border-left: 1px solid var(--color-border-default) !important;
}

.notion-callout .notion-collection-list__item {
    color: var(--color-text-gray)!important;
  display: block!important;
  padding: 4px 6px!important;
  font-size: 14px!important;
  font-weight: 300!important;
  border: 0!important;
  border-radius: 6px!important;
}

.notion-callout .notion-collection-list .notion-property__title {
  font-weight: 300!important;
  width: 100%!important;
}

.notion-callout .notion-collection-list__item.active {
  background: var(--color-ui-hover-bg)!important;
  color: var(--color-text-default)!important;
}

.notion-callout .notion-collection-list__item.active .notion-property__title {
  font-weight: 500!important;
}


/* Properties */

.notion-page__property-name>span {
  font-size: 16px !important;
}

.notion-page__properties .notion-divider {
  margin: 32px 0px !important;
}

.notion-collection-card__property-list {
  display: flex !important;
  flex-direction: column !important;
  gap: 8px !important
}

.notion-property__date .date {
  opacity: .6!important;
}

.notion-property__person>.notion-semantic-string>span {
  display: flex !important;
}

/* Gallery */
.notion-collection-card__content {
  display: flex!important;
  flex-direction: column!important;
  gap: 8px!important;
}

.gallery .notion-property__text {
  font-size: 14px!important;
  line-height: 1.6!important;
  color: var(--color-text-gray)!important;
}

/* Nav */
.super-navbar {
  backdrop-filter: blur(8px) !important;
}

.super-navbar__list-content {
  background: var(--color-card-bg)!important;
  border: 1px solid var(--color-border-default)!important;
  border-radius: 12px!important;
}

.super-navbar__viewport {
  box-shadow: none!important;
}

.super-footer__footnote {
  opacity: .4!important;
}

.super-footer__content {
  gap: 24px!important;
}

.super-footer__links {
 gap: 32px!important;
}

.super-navbar__theme-toggle, .super-footer__icons a {
  display: flex!important;
  justify-content: center!important;
  align-items: center!important;
  border: 1px solid var(--color-border-default)!important;
  border-radius: 50px!important;
  padding: 8px!important;
  width: 38px!important;
  height: 38px!important;
  background: var(--navbar-background-color)!important;
}

.super-navbar__menu {
  background: var(--color-bg-default)!important;
}

/* Header */

.notion-header__title {
  word-break: normal!important;
}

@media all and (max-width: 764px) {  
  .notion-header__title {
    font-size: 3rem!important;
  }
}

.notion-header__cover.has-cover {
  position: absolute!important;
  width: 100%!important;
  top: 0!important;
  z-index: -2!important;
  opacity: .13!important;
}

.notion-header__cover:after {
  content: ""!important;
  position: absolute!important;
  z-index: 0!important;
  bottom: -2px!important;
  left: 0!important;
  background-image: var(--header-gradient)!important;
  width: 100%!important;
  height: 100%!important;
}


#page-index .notion-header__content {
  display: none!important;
}

/* Typography */

strong h1, h1 strong {
  font-size: 3.8rem!important;
}

@media all and (max-width: 764px) {
  strong h1, h1 strong {
    font-size: 2.8rem!important;
    line-height: 1!important;
  }
}

h1 {
  margin-bottom: 8px!important;
  line-height: 1!important;
  font-weight: 00!important;
  letter-spacing: -2.6px!important;
  overflow-wrap: word-wrap!important;
}

h2 {
  margin-bottom: 8px!important;
  letter-spacing: -1.8px!important;
}

h3 {
  letter-spacing: -1.4px!important;
  line-height: 1.1!important;
  margin-bottom: 4px!important;
}

.notion-text {
  opacity: .78!important;
}

.notion-list-item {
  padding-top: 4px!important;
  padding-bottom: 5px!important;
}

.notion-quote {
  letter-spacing: -.3px!important;
  line-height: 1.4!important;
  border:0!important;
  padding: 0!important;
  margin: 0!important;
  margin-bottom: 12px!important;
  font-size: 1.15rem!important;
  font-weight: 300!important;
}

.notion-quote.large {
  letter-spacing: -1px!important;
  line-height: 1.3!important;
  border:0!important;
  padding: 0!important;
  margin: 0!important;
  font-size: 1.8rem!important;
  font-weight: 500!important;
}

/* Specific spacing */

.notion-callout + .notion-callout {
    margin-top: 32px!important; 
}

.notion-column > .notion-heading:first-child {
  margin-top: 12px!important;
}

.notion-root > h2, 
.notion-column > h2 {
  margin-top: 36px!important;
  margin-bottom: 12px!important;
}

.notion-root > h3, 
.notion-column > h3 {
  margin-top: 32px!important;
  margin-bottom: 12px!important;
}

/* Contents */
.notion-table-of-contents {
  margin-top: 0px!important;
  padding: 0!important;
  border-left: 1px solid var(--color-border-default)!important;
  padding-left: 8px!important;
  border-radius: 0px!important;
  
  .notion-table-of-contents__item  {
    border-radius: 6px!important;
  }
  
  .notion-table-of-contents__item > a > div {
    text-decoration: none!important;
    padding: 2px 6px!important;
  }
}

/* Button */
.super-navbar__cta {
  padding: 8px 12px!important;
  height: 40px!important;
  align-content: center!important;
  box-shadow: var(--button-border)!important;
   border: 1px solid transparent!important;
}

.notion-button {
  margin-top: 12px!important;
  margin-bottom: 12px!important;
}

.notion-button__content {
  box-shadow: var(--button-border)!important;
  transition: opacity .2s ease-in-out!important;
  border-radius: var(--navbar-button-border-radii)!important;
  font-weight: 400!important;
  border: 0!important;
  border: 1px solid transparent!important;
}

.notion-button__content:not([class*="bg-"]) {
  background: var(--color-bg-default)!important;
  border: 1px solid var(--color-border-default)!important;
}

.notion-button__content:hover {
  opacity: .7!important;
}

.notion-button__content.bg-gray-light {
  background: var(--color-card-bg)!important;
  color: var(--color-text-default)!important;
  border: 1px solid var(--color-border-default)!important;
}

.notion-button__content.bg-purple-light {
  background: #4E4297!important;
  color: #f2f2f2!important;
}

.notion-button__content.bg-brown-light {
  background: #6A4943!important;
  color: #f2f2f2!important;
}

.notion-button__content.bg-orange-light {
  background: #FB9525!important;
  color: #f2f2f2!important;
}

.notion-button__content.bg-yellow-light {
  background: #FDD148!important;
  color: #111111!important;
}

.notion-button__content.bg-green-light {
  background: #7EB93B!important;
  color: #f2f2f2!important;
}

.notion-button__content.bg-blue-light {
  background: #2D98F3!important;
  color: #f2f2f2!important;
}

.notion-button__content.bg-pink-light {
  background: #F283B4!important;
  color: #f2f2f2!important;
}

.notion-button__content.bg-red-light {
  background: #F6483D!important;
  color: #f2f2f2!important;
}

/* Callout */
.notion-callout h2 {
  margin-top: 4px!important;
}

.notion-callout {
  margin: 0!important;
}

.notion-callout:not(.bg-brown-light) {
  box-shadow: var(--card-shadow)!important;
}

.notion-callout.bg-gray-light {
  background: var(--color-card-bg)!important;
  border: 1px solid var(--color-border-default)!important;
}

/* Toggle */
.notion-toggle {
  border: 1px solid var(--color-border-default) !important;
  border-radius: 14px !important;
  margin-top: 8px!important;
  margin-bottom: 8px !important;
  position: relative !important;
  text-align: left !important;
  transition: background .3s ease-in-out !important;
  box-shadow: var(--card-shadow)!important;
}

.notion-toggle__summary {
  margin: 0 !important;
  margin-left: 0px !important;
  padding: 18px !important;
  padding-right: 30px !important;
}

.notion-heading.toggle {
  padding: 0px !important;
}

.notion-toggle.open {
  background: var(--color-card-bg) !important;
  padding-bottom: 16px !important;
}

.notion-toggle.open .notion-toggle__content {
  border-top: 1px solid var(--color-border-default) !important;
}

.notion-toggle__content {
  padding-inline-start: 0px !important;
  border-top: 1px solid var(--color-border-default) !important;
  margin: 0px 20px 0px 20px !important;
  padding-top: 16px !important;
  transition: all .05s ease-in-out !important;
}

.notion-toggle__trigger {
  display: none !important;
}

.notion-toggle__content .notion-text__content {
  margin-bottom: 0px !important;
}

.notion-toggle:hover {
  background: var(--color-card-bg) !important;
}

.notion-toggle__summary {
  position: relative!important;
}

.notion-toggle__summary:before {
  position: absolute !important;
  font-weight: 100 !important;
  font-size: 24px !important;
  opacity: .4 !important;
  content: "" !important;
  width: 18px!important;
  height: 18px!important;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 24 24'%3E%3Cg fill='none'%3E%3Cpath d='M6 9L12 15L18 9' stroke='%23212121' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/g%3E%3C/svg%3E")!important;
  top: 50%!important;
  transform: translateY(-50%)!important;
  right: 18px !important;
}

.open .notion-toggle__summary:before {
  position: absolute !important;
  font-weight: 100 !important;
  font-size: 24px !important;
  line-height: 1 !important;
  opacity: .4 !important;
  content: "" !important;
  width: 18px!important;
  height: 18px!important;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 24 24'%3E%3Cg fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.2929 8.29289C11.6834 7.90237 12.3166 7.90237 12.7071 8.29289L18.7071 14.2929C19.0976 14.6834 19.0976 15.3166 18.7071 15.7071C18.3166 16.0976 17.6834 16.0976 17.2929 15.7071L12 10.4142L6.70711 15.7071C6.31658 16.0976 5.68342 16.0976 5.29289 15.7071C4.90237 15.3166 4.90237 14.6834 5.29289 14.2929L11.2929 8.29289Z' fill='%23212121'%3E%3C/path%3E%3C/g%3E%3C/svg%3E")!important;
  top: 50%!important;
  transform: translateY(-50%)!important;
  right: 18px !important;
}

.notion-toggle.open .notion-toggle__content {
  opacity: 1 !important;
  height: auto !important;
}

.notion-toggle.closed .notion-toggle__content {
  opacity: 0 !important;
  height: 0px !important;
  padding: 0 !important;
  display: block !important;
}

.notion-toggle-heading-1 h1 {
  font-size: 2.4rem!important;
  letter-spacing: -1px!important;
  margin-bottom: 0px!important;
}

.notion-toggle-heading-2 h2 {
  font-size: 2rem!important;
  letter-spacing: -1px!important;
  margin-bottom: 0px!important;
}

.notion-toggle-heading-3 h3 {
  font-size: 1.6rem!important;
  letter-spacing: -1px!important;
  margin-bottom: 0px!important;
}

/* Database layouts */
.notion-page__title-properties {
  gap: 32px!important;
  border: 1px solid var(--color-border-default)!important;
  padding: 16px 24px!important;
  border-radius: var(--callout-border-radii)!important;
  margin-bottom: 16px!important;
  background: var(--color-bg-default)!important;
}

@media all and (max-width: 764px) {  
  .notion-page__title-properties {
    gap: 12px!important;
    padding: 16px!important;
  }
  
  .notion-page__property {
    display: flex!important;
    flex-direction: column!important;
  }
}

/* Todo */
del {
  text-decoration: none!important;
}

.notion-to-do__title.checked {
  opacity: 1!important;
}

.notion-to-do__icon {
  margin-right: 8px!important;
}

.notion-checkbox.checked {
  width: 1.2rem!important;
  height: 1.2rem!important;
  border-radius: 20px!important;
}

.notion-checkbox.checked > svg {
  width: 0.6em!important;
  height: 0.6em!important;
}

/*.notion-callout .notion-to-do__content {*/
/*  display: flex!important;*/
/*  justify-content: center!important;*/
/*}*/

/* Divider */
.notion-divider {
  margin-top: 24px!important;
  margin-bottom: 24px!important;
}

/* Code */
.notion-code pre {
  background: var(--color-card-bg)!important;
  border: 1px solid var(--color-border-default)!important;
  border-radius: var(--callout-border-radii)!important;
  scrollbar-color: var(--color-border-default) transparent!important;
  scrollbar-width: thin!important;
}

/* Membership */
.super-membership-form-modal__title {
  font-size: 2rem!important;
  letter-spacing: -1px!important;
}

.super-gated-protection__title {
  letter-spacing: -1px!important;
}

.super-membership__modal h1 {
  letter-spacing: 0px!important;
}

.super-membership__modal h2 {
  letter-spacing: 0px!important;
}


.super-membership__modal h3 {
  letter-spacing: 0px!important;
}

/* View picker */
.notion-collection__header-wrapper .notion-dropdown__menu-header,
.notion-dropdown__button svg:first-of-type,
.notion-dropdown__option-icon {
    display: none !important;
}
@keyframes dropdown-animation-out {
    0% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
    to {
        z-index: -1;
        opacity: 0;
        transform: translateY(-5%) scale(0.95);
    }
}
.notion-dropdown__menu {
    border: 0 !important;
    
}
@media all and (max-width: 576px) {
    .notion-dropdown {
        width: 100% !important;
    }
    .notion-dropdown__button {
        justify-content: space-between !important;
        width: 100% !important;
        border: 1px solid var(--color-border-default) !important;
        padding: 10px !important;
        border-radius: 8px !important;
    }
    .notion-dropdown__menu-wrapper {
        margin-bottom: 25px !important;
    }
    .notion-dropdown__menu {
        width: 100% !important;
        border-radius: 8px !important;
        transform: none !important;
        left: auto !important;
        top: auto !important;
        box-shadow: 0 10px 20px -10px rgb(0 0 0 / 12%) !important;
        background: var(--color-bg-default) !important;
        border: 1px solid var(--color-border-default) !important;
        margin-top: 5px !important;
    }
    .notion-dropdown__option-list {
        padding: 0 !important;
        flex-wrap: wrap !important;
    }
    .notion-dropdown__option {
        padding: 5px 16px !important;
        height: 50px !important;
    }
    .notion-dropdown__button-title,
    .notion-dropdown__option p {
        font-size: 16px !important;
    }
    .notion-dropdown__button:hover {
        background: 0 0 !important;
    }
    .notion-dropdown__option-icon {
        display: none !important;
    }
}
@media all and (min-width: 576px) {
    .notion-collection__header-wrapper .notion-dropdown {
        width: 100% !important;
        z-index: 1 !important;
    }
    .notion-collection__header-wrapper .notion-dropdown__button {
        justify-content: space-between !important;
        width: 100% !important;
        border: 1px solid var(--color-border-default) !important;
        padding: 10px !important;
        border-radius: 8px !important;
        display: none !important;
    }
    .notion-collection__header-wrapper .notion-dropdown__menu-wrapper {
        margin-bottom: 16px !important;
        position: relative !important;
    }
    .notion-collection__header-wrapper .notion-dropdown__menu-wrapper .notion-dropdown__menu {
        width: 100% !important;
        border-radius: 8px !important;
        transform: none !important;
        left: auto !important;
        top: auto !important;
    }
    .notion-collection__header-wrapper .notion-dropdown__menu-wrapper .notion-dropdown__menu .notion-dropdown__option-list {
        padding: 0 !important;
        flex-wrap: wrap !important;
    }
    .notion-collection__header-wrapper .notion-dropdown__menu-wrapper .notion-dropdown__menu .notion-dropdown__option {
        padding: 5px 12px !important;
        height: 40px !important;
    }
    .notion-collection__header-wrapper .notion-dropdown__menu.initial-state {
        z-index: 1 !important;
        opacity: 1 !important;
        transform: none !important;
    }
    .notion-collection__header-wrapper .notion-dropdown__menu.animate-in,
    .notion-collection__header-wrapper .notion-dropdown__menu.animate-in.animate-out,
    .notion-collection__header-wrapper .notion-dropdown__menu.animate-out {
        animation: none !important;
    }
    .notion-collection__header-wrapper .notion-dropdown__menu {
        width: 80% !important;
        margin: 0 auto !important;
        background: 0 0 !important;
        box-shadow: unset !important;
        position: relative !important;
    }
    .notion-collection__header-wrapper .notion-dropdown__menu .notion-dropdown__option-list {
        display: flex !important;
        gap: 8px !important;
    }
    .notion-collection__header-wrapper .notion-dropdown__menu .notion-dropdown__option.active {
        background: var(--color-card-bg) !important;
    }
    .notion-collection__header-wrapper .notion-dropdown__menu .notion-dropdown__option.active p {
        color: var(--color-text-default)!important;
    }
    .notion-collection__header-wrapper .notion-dropdown__menu .notion-dropdown__option {
        border-radius: var(--navbar-button-border-radii) !important;
        border: 1px solid var(--color-border-default) !important;
        transition: 0.15s ease-in-out !important;
        align-items: center !important;
    }
    .notion-collection__header-wrapper .notion-dropdown__menu .notion-dropdown__option:hover {
        background: var(--color-card-bg) !important;
        border-color: var(--color-border-default) !important;
    }
    .notion-collection__header-wrapper .notion-dropdown__menu .notion-dropdown__option:hover p {
        color: var(--color-text-default) !important;
    }
    .notion-collection__header-wrapper .notion-dropdown__menu .notion-dropdown__option p {
        font-size: 1rem !important;
        color: var(--color-text-gray) !important;
    }
}
@-webkit-keyframes dropdown-animation-in {
    0% {
        opacity: 0;
        transform: translateY(-5%) scale(0.95);
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}
@keyframes dropdown-animation-in {
    0% {
        opacity: 0;
        transform: translateY(-5%) scale(0.95);
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}
@-webkit-keyframes dropdown-animation-out {
    0% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
    to {
        z-index: -1;
        opacity: 0;
        transform: translateY(-5%) scale(0.95);
    }
}


/**/
/**/
/**/
/**/

/* Cheats */

.notion-to-do.bg-brown {
  display: flex!important;
  justify-content: center!important;
  background: transparent!important;
}

.notion-toggle.bg-brown {
  display: none!important;
} 

.notion-toggle.bg-red {
  border: 0!important;
  padding: 0px!important;
  background: transparent!important;
  box-shadow: none!important;
} 

.bg-red .notion-toggle__summary,
.bg-red .notion-toggle__content {
  padding: 0!important;
  border: 0!important;
  margin: 0!important;
}

.open.bg-red .notion-toggle__content {
  border: 0!important;
}

.notion-heading.bg-brown, 
.notion-text.bg-brown{
  background: transparent!important;
  text-align: center!important;
}

.notion-column .notion-callout.bg-red-light:first-child {
  position: sticky!important;
  top: calc(var(--navbar-height) + 24px)!important;
  background: var(--color-card-bg);
  border: 1px solid var(--color-border-default)!important;
}

@media all and (max-width: 576px) {
  .notion-root > .notion-column-list:has(.bg-red-light) {
      flex-direction: column-reverse!important;
  }
}

.notion-callout.bg-brown-light {
  text-align: center!important;
  background: transparent!important;
  border: 0!important;
  padding: 0px!important;
  margin: 0!important;
  justify-content: center!important;
  
  .notion-callout__content {
    display: flex!important;
    align-items: center!important;
    max-width: 800px!important;
  }
}