.notion-header__content {
    padding-right: var(--padding-right) !important;
    padding-left: var(--padding-left) !important;
}

.notion-header__icon-wrapper,
.notion-header__cover.no-cover {
    display: none !important;
}

.notion-header__title-wrapper {
    margin-top: 200px !important;
}