.notion-header__content {
    padding-right: var(--padding-right) !important;
    padding-left: var(--padding-left) !important;
}

.notion-header__icon-wrapper {
    display: none !important;
}

.notion-header__title-wrapper {
    margin-top: 80px !important;
}