/*—————————————————— SUPER WEBSITE ————————————————*/
/*—————————————— © SUPER PUBLISHING CO ————————————*/

@import "reset.css";
@import "callout.css";

:root {
    --color-text-default: #000 !important;
    --color-text-gray: #8F9BA8 !important;
    --color-text-default-light: #8F9BA8 !important;
    --color-bg-default: #fff !important;
    --color-bg-gray-light: #8F9BA8 !important;
    --color-ui-hover-bg: #F5F6FA !important;
    --color-card-bg: transparent !important;
    --transition: all .2s ease-in-out !important;
    --container: 920px !important;
}