/* Start Theme Variables */

:root {
    /* Layout */
    --column-spacing: 40px!important;
    --max-width: 1150px!important;
    /* Navbar CTA */
    --cta-padding: 14px 20px!important;
    --cta-border-radius: 10px!important;
    --cta-border: none!important;
    --cta-shadow: none!important;
    /* Callout */
    --callout-padding: 20px 40px 15px 20px!important;
    --callout-border: none!important;
    --callout-border-radius: 10px!important;
    --callout-shadow: 8.6px 6px 10px rgba(0, 0, 0, 0.07), 69px 48px 80px rgba(0, 0, 0, 0.14)!important;
    --callout-icon-size: 15px!important;
    --callout-emoji-size: 18px!important;
    /* Collections */
    --collection-list-item-border-radius: 0px!important;
    --collection-list-item-padding: 5px 0px 5px 5px!important;
    --collection-gallery-gap: 30px!important;
    --collection-title-text-size: 16px!important;
    --collection-property-text-size: 14px!important;
    --color-card-bg: #222330!important;
    --collection-card-border-radius: 5px!important;
    --collection-card-padding: 20px!important;
    --collection-card-border: none!important;
    --collection-card-cover-size-small: 172px!important;
    --collection-card-cover-size-medium: 260px!important;
    --collection-card-cover-size-large: 320px!important;
    /*Pill */
    --notion-pill-padding: 2px 5px!important;
    --notion-pill-border-radius: 0px!important;
    --notion-pill-text-size: 11px!important;
    --notion-pill-text-weight: 500!important;
    --notion-pill-text-transform: uppercase!important;
    --notion-pill-letter-spacing: 1px!important;
    /* Images */
    --image-border-radius: 10px!important;
    /* Misc */
    --divider-margin: 15px 0px!important;
    --divider-opacity: .8!important;
    /* Typography */
    --text-spacing: 0px!important;
    --secondary-font: 'Inter', sans-serif!important;
    --notion-text-margin: 0px 0px 0px 0px!important;
    /* h1 */
    --h1-size: 2.6rem!important;
    --h1-weight: 500!important;
    --h1-spacing: -2px!important;
    --h1-margin: 10px 0px 15px 0px!important;
    --h1-line-height: 1.1!important;
    /* h2 */
    --h2-size: 1.8rem!important;
    --h2-weight: 500!important;
    --h2-spacing: -.5px!important;
    --h2-margin: 10px 0px 10px 0px!important;
    --h2-line-height: 1.2!important;
    /* h3 */
    --h3-size: 1.4rem!important;
    --h3-weight: 500!important;
    --h3-spacing: -1px!important;
    --h3-margin: 5px 0px 5px 0px!important;
    --h3-line-height: 1.4!important;
    /* Link */
    --link-border-width: 0px 0px 0px 0px!important;
    --link-border-style: none!important;
    --link-border-color: none!important;
    /* Colors */
    --color-ui-hover-bg-light: #2E303D!important;
    --color-bg-gray-light: #1b1b1b!important;
    --color-text-gray: rgba(255, 255, 255, .7)!important;
    --color-text-yellow: #f0bd66!important;
    --color-text-green: #5bd4c1!important;
    --color-text-blue: #28D4D8!important;
    --color-bg-default: #2A2B37!important;
}


/* End Theme Variables*/


/* Start Builder Base */