.notion-header {
    position: fixed !important;
    height: 100vh !important;
    width: 50vw !important;
    bottom: 0 !important;
    margin: 0 !important;
    left: 0 !important;
    top: 0 !important;
}

.notion-header__cover {
    max-height: 100% !important;
    height: 100% !important;
}

.super-content {
    position: absolute !important;
    padding: 120px !important;
    width: 50vw !important;
    margin: 0 !important;
    right: 0 !important;
    top: 0 !important;
}

@media (max-width: 1020px) {

    .notion-header,
    .super-content {
        position: relative !important;
        width: 100vw !important;
    }

    .notion-header {
        height: 420px !important;
    }

}

@media (max-width: 680px) {

    .super-content {
        padding: 60px !important;
    }

}