.notion-header__content {
    display: none !important;
}

.notion-navbar {
    position: fixed !important;
    display: flex !important;
    width: 50vw !important;
    left: 50vw !important;
    top: 0 !important;
}

#page-index .notion-navbar {
    display: none !important;
}

@media (max-width: 1020px) {
  
    .notion-navbar {
      width: 100vw !important;
      left: 0 !important;
    }
    
}