.notion-collection-gallery {
  border-top: 0px !important;
}

.notion-collection-gallery.small .notion-collection-card {
  box-shadow: none !important;
  border: 1px solid var(--gray-50) !important;
  text-align: center !important;
  padding: 24px 0px !important;
  background: transparent !important;
}
.notion-collection-gallery.small .notion-collection-card:hover {
  border: 1px solid var(--gray-100) !important;
}
.notion-collection-gallery.small .notion-collection-card:hover .notion-property__title {
  color: var(--base-black) !important;
}
.notion-collection-gallery.small .notion-collection-card .notion-property__title {
  justify-content: center !important;
  font-size: 0.875rem !important;
  color: var(--gray-300) !important;
}

.notion-collection-gallery.large,
.notion-collection-gallery.medium {
  gap: 32px !important;
  border-top: 0px !important;
}
.notion-collection-gallery.large .notion-collection-card,
.notion-collection-gallery.medium .notion-collection-card {
  border-radius: 8px !important;
  box-shadow: 2.6px 4px 2.6px rgba(0, 0, 0, 0.007), 7.3px 11px 7.1px rgba(0, 0, 0, 0.01), 17.5px 26.5px 17.2px rgba(0, 0, 0, 0.013), 58px 88px 57px rgba(0, 0, 0, 0.02) !important;
  position: relative !important;
  transition: all 0.15s ease-in-out !important;
  cursor: pointer !important;
}
.notion-collection-gallery.large .notion-collection-card:hover,
.notion-collection-gallery.medium .notion-collection-card:hover {
  box-shadow: 0 20px 40px -10px rgba(0, 0, 0, 0.12) !important;
  background: var(--base-white) !important;
  transform: translateY(-8px) !important;
}
.notion-collection-gallery.large .notion-collection-card .notion-property__title,
.notion-collection-gallery.medium .notion-collection-card .notion-property__title {
  font-size: 1.125rem !important;
}
.notion-collection-gallery.large .notion-collection-card .notion-property__title__icon-wrapper,
.notion-collection-gallery.medium .notion-collection-card .notion-property__title__icon-wrapper {
  display: none !important;
}
.notion-collection-gallery.large .notion-collection-card__content,
.notion-collection-gallery.medium .notion-collection-card__content {
  margin-top: 0px !important;
}
.notion-collection-gallery.large .notion-collection-card__content .property-7a5f6142 span,
.notion-collection-gallery.medium .notion-collection-card__content .property-7a5f6142 span {
  position: absolute !important;
  top: 8px !important;
  right: 8px !important;
  background: var(--base-white) !important;
  color: var(--base-black) !important;
  width: 48px !important;
  height: 48px !important;
  padding: 4px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border-radius: 100% !important;
  font-size: 1.125rem !important;
  font-weight: 500 !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.06) !important;
}
.notion-collection-gallery.large .notion-collection-card__content .property-52525675,
.notion-collection-gallery.medium .notion-collection-card__content .property-52525675 {
  display: flex !important;
  align-items: center !important;
  font-size: 1rem !important;
}
.notion-collection-gallery.large .notion-collection-card__content .property-52525675 .notion-page__icon,
.notion-collection-gallery.medium .notion-collection-card__content .property-52525675 .notion-page__icon {
  display: none !important;
}
.notion-collection-gallery.large .notion-collection-card__content .property-52525675 .notion-page__title .notion-semantic-string,
.notion-collection-gallery.medium .notion-collection-card__content .property-52525675 .notion-page__title .notion-semantic-string {
  border: 0 !important;
  font-weight: 300 !important;
}
.notion-collection-gallery.large .notion-collection-card__content .property-52525675::before,
.notion-collection-gallery.medium .notion-collection-card__content .property-52525675::before {
  color: var(--gray-500) !important;
  content: "by";
  margin-right: 4px !important;
}
.notion-collection-gallery.large .notion-collection-card__content .property-5f417276,
.notion-collection-gallery.medium .notion-collection-card__content .property-5f417276 {
  margin-top: 8px !important;
}
.notion-collection-gallery.large .notion-collection-card__content .property-5f417276 span,
.notion-collection-gallery.medium .notion-collection-card__content .property-5f417276 span {
  background: var(--gray-25) !important;
  color: var(--gray-500) !important;
  font-size: 1rem !important;
  padding: 4px 8px !important;
}
.notion-collection-gallery.large .notion-collection-card__property,
.notion-collection-gallery.medium .notion-collection-card__property {
  min-height: unset !important;
}
.notion-collection-gallery.large .notion-collection-card__property span,
.notion-collection-gallery.medium .notion-collection-card__property span {
  color: var(--gray-500) !important;
  font-size: 1rem !important;
}