:root {
    --transition: all .2s ease-in-out !important;
    --color-text-gray: #808c99 !important;
}

.super-navbar__cta {
  border-radius: 0px!important;
}

.super-root:not(#page-index) .notion-header {
  padding-top: 120px!important;
}

#page-index .notion-header__title {
  display: none!important;
}

/* Hide certain elements */
.notion-collection__header,
.notion-property__title__icon-wrapper,
.notion-header__cover.no-cover {
    display: none !important;
}

.notion-collection__header-wrapper {
  margin-top: 0px!important;
}

/* Decrease default bottom spacing */
.super-content {
    padding-bottom: 40px !important;
}

/* Change default font weights for headings */
.notion-header__title,
.notion-heading {
    font-weight: 500 !important;
}

/* Remove background & decrease margin for iframes */
.notion-embed__container>iframe {
    background: none !important;
    margin: -20px 0 !important;
}

/* Make post images full width */
.notion-image.page-width {
    max-width: 100vw !important;
    width: 100vw !important;
}

/* Remove default margins for images */
.notion-image {
    margin: 0 !important;
}


/* Remove border radii for full width images */
.notion-image.page-width img {
    border-radius: 0 !important;
}

/* Increase default line height for titles */
.notion-header__title {
    line-height: 1.4 !important;
}

/* Change default gallery styles */
.notion-collection-gallery {
    grid-template-columns: 1fr !important;
    grid-gap: 40px !important;
    border: none !important;
    padding: 0 !important;
}

/* Add opacity on gallery card hover */
.notion-collection-gallery:hover .notion-collection-card {
    opacity: 0.6;
}

/* Change default gallery card styles */
.notion-collection-card {
    transition: var(--transition) !important;
    align-items: center !important;
    flex-direction: row !important;
    position: relative !important;
    box-shadow: none !important;
    height: 240px !important;
    display: flex !important;
    border: none !important;
}

/* Change default height of gallery card covers */
.notion-collection-card__cover,
.notion-collection-card__cover div,
.notion-collection-card__cover img {
    max-height: 100% !important;
    height: 100% !important;
}


/* Make gallery cards opaque on hover */
.notion-collection-card:hover {
    background: none !important;
    opacity: 1 !important;
}

/* Change default gallery card cover styles */
.notion-collection-card__cover {
    position: relative !important;
    border: none !important;
    flex: 2 !important;
}

/* Change default gallery card content styles */
.notion-collection-card__content {
    padding-left: 60px !important;
    position: relative !important;
    flex: 1 !important;
}

/* Prevent gallery card content from cutting off */
.notion-collection-card__content span {
    white-space: normal !important;
}

/* Change default gallery card text property styles */
.notion-property__text {
    margin: 8px 0 12px !important;
    font-size: 24px !important;
}

/* Tighten default Notion quote border */
.notion-quote {
    border-left: 1px solid !important;
}

/* Make sticky sidebar */
#page-index .notion-root > .notion-column-list > .notion-column:first-child {
    align-self: flex-start !important;
    position: sticky !important;
    top: 115px !important;
}

/* Mobile styles */
@media (max-width: 800px) {

    .notion-header__title {
        font-size: 40px !important;
    }

    .notion-collection-card {
        display: block !important;
        height: auto !important;
    }

    .notion-collection-card__cover,
    .notion-collection-card__content {
        padding: 0 !important;
        flex: auto !important;
    }

    .notion-collection-card__cover {
        margin-bottom: 20px !important;
        min-height: 200px !important;
    }

    #page-index .notion-root > .notion-column-list > .notion-column:first-child {
        position: relative !important;
        align-self: auto !important;
        top: auto !important;
    }

}
.notion-toggle.bg-brown {
  display: none!important ;
}