.parent-page__blog .notion-text .notion-text__content strong .notion-link,
.parent-page__blog .notion-text .notion-text__content .notion-link strong {
  opacity: 1 !important;
  padding: var(--button-padding) !important;
  border-radius: var(--rounded-md) !important;
  font-weight: 500 !important;
  font-size: 1rem !important;
  display: inline-flex !important;
  justify-content: center !important;
  cursor: pointer !important;
  transition: background 0.2s ease-in-out, transform 0.1s ease-in-out, box-shadow 0.15s ease-in-out !important;
  border: 0px !important;
  background: var(--base-black) !important;
  color: var(--base-white) !important;
}
.parent-page__blog .notion-text .notion-text__content strong .notion-link:active,
.parent-page__blog .notion-text .notion-text__content .notion-link strong:active {
  transform: translateY(1px) !important;
}
.parent-page__blog .notion-text .notion-text__content strong .notion-link:hover,
.parent-page__blog .notion-text .notion-text__content .notion-link strong:hover {
  box-shadow: 0px 5px 28px -6px rgb(255, 190, 61) !important;
  -webkit-box-shadow: 0px 5px 28px -6px rgb(255, 190, 61) !important;
  background: var(--gray-900) !important;
}