.parent-page__guides,
.parent-page__blog,
.parent-page__case-studies,
.parent-page__create {
  --header-cover-height: 42vh !important;
  --image-border-radii: 12px !important;
  --quote-size: 1.4rem !important;
}
.parent-page__guides .notion-quote,
.parent-page__blog .notion-quote,
.parent-page__case-studies .notion-quote,
.parent-page__create .notion-quote {
  margin: 1.2rem 0 !important;
  color: var(--gray-600) !important;
  letter-spacing: -0.3px !important;
}
.parent-page__guides .notion-bulleted-list,
.parent-page__guides .notion-numbered-list,
.parent-page__blog .notion-bulleted-list,
.parent-page__blog .notion-numbered-list,
.parent-page__case-studies .notion-bulleted-list,
.parent-page__case-studies .notion-numbered-list,
.parent-page__create .notion-bulleted-list,
.parent-page__create .notion-numbered-list {
  color: var(--gray-600) !important;
  margin-left: 16px !important;
}
.parent-page__guides .notion-bulleted-list li,
.parent-page__blog .notion-bulleted-list li,
.parent-page__case-studies .notion-bulleted-list li,
.parent-page__create .notion-bulleted-list li {
  color: var(--gray-600) !important;
}
.parent-page__guides .notion-image:not(.notion-callout .notion-image):not(.notion-column .notion-image),
.parent-page__blog .notion-image:not(.notion-callout .notion-image):not(.notion-column .notion-image),
.parent-page__case-studies .notion-image:not(.notion-callout .notion-image):not(.notion-column .notion-image),
.parent-page__create .notion-image:not(.notion-callout .notion-image):not(.notion-column .notion-image) {
  margin-top: 2rem !important;
}
.parent-page__guides h2.notion-heading:not(.notion-callout h2.notion-heading),
.parent-page__guides .parent-page__blog h2.notion-heading:not(.notion-callout h2.notion-heading),
.parent-page__blog h2.notion-heading:not(.notion-callout h2.notion-heading),
.parent-page__blog .parent-page__blog h2.notion-heading:not(.notion-callout h2.notion-heading),
.parent-page__case-studies h2.notion-heading:not(.notion-callout h2.notion-heading),
.parent-page__case-studies .parent-page__blog h2.notion-heading:not(.notion-callout h2.notion-heading),
.parent-page__create h2.notion-heading:not(.notion-callout h2.notion-heading),
.parent-page__create .parent-page__blog h2.notion-heading:not(.notion-callout h2.notion-heading) {
  margin-top: 3rem !important;
}
.parent-page__guides h3.notion-heading:not(.notion-callout h3.notion-heading),
.parent-page__guides .parent-page__blog h3.notion-heading:not(.notion-callout h3.notion-heading),
.parent-page__blog h3.notion-heading:not(.notion-callout h3.notion-heading),
.parent-page__blog .parent-page__blog h3.notion-heading:not(.notion-callout h3.notion-heading),
.parent-page__case-studies h3.notion-heading:not(.notion-callout h3.notion-heading),
.parent-page__case-studies .parent-page__blog h3.notion-heading:not(.notion-callout h3.notion-heading),
.parent-page__create h3.notion-heading:not(.notion-callout h3.notion-heading),
.parent-page__create .parent-page__blog h3.notion-heading:not(.notion-callout h3.notion-heading) {
  margin-top: 2.2rem !important;
}
.parent-page__guides .notion-text p,
.parent-page__blog .notion-text p,
.parent-page__case-studies .notion-text p,
.parent-page__create .notion-text p {
  margin-top: 1rem !important;
}
.parent-page__guides h3,
.parent-page__guides h3.notion-heading,
.parent-page__guides h3.notion-heading span,
.parent-page__blog h3,
.parent-page__blog h3.notion-heading,
.parent-page__blog h3.notion-heading span,
.parent-page__case-studies h3,
.parent-page__case-studies h3.notion-heading,
.parent-page__case-studies h3.notion-heading span,
.parent-page__create h3,
.parent-page__create h3.notion-heading,
.parent-page__create h3.notion-heading span {
  letter-spacing: -0.8px !important;
  font-size: clamp(0.275rem, 4vw, 1.6rem) !important;
  line-height: 1.2 !important;
  margin-bottom: 8px !important;
  margin-top: 24px !important;
}
.parent-page__guides strong .notion-link,
.parent-page__guides .notion-link strong,
.parent-page__blog strong .notion-link,
.parent-page__blog .notion-link strong,
.parent-page__case-studies strong .notion-link,
.parent-page__case-studies .notion-link strong,
.parent-page__create strong .notion-link,
.parent-page__create .notion-link strong {
  opacity: 1 !important;
  padding: var(--button-padding) !important;
  border-radius: var(--rounded-md) !important;
  font-weight: 500 !important;
  font-size: 1rem !important;
  display: inline-flex !important;
  justify-content: center !important;
  cursor: pointer !important;
  transition: background 0.15s ease-out, transform 0.1s ease-out, box-shadow 0.15s ease-out !important;
  border: 0px !important;
  background: var(--primary-500) !important;
  color: var(--base-black) !important;
}
.parent-page__guides strong .notion-link:active,
.parent-page__guides .notion-link strong:active,
.parent-page__blog strong .notion-link:active,
.parent-page__blog .notion-link strong:active,
.parent-page__case-studies strong .notion-link:active,
.parent-page__case-studies .notion-link strong:active,
.parent-page__create strong .notion-link:active,
.parent-page__create .notion-link strong:active {
  transform: translateY(1px) !important;
}
.parent-page__guides strong .notion-link:hover,
.parent-page__guides .notion-link strong:hover,
.parent-page__blog strong .notion-link:hover,
.parent-page__blog .notion-link strong:hover,
.parent-page__case-studies strong .notion-link:hover,
.parent-page__case-studies .notion-link strong:hover,
.parent-page__create strong .notion-link:hover,
.parent-page__create .notion-link strong:hover {
  box-shadow: 0px 5px 28px -6px rgb(255, 190, 61) !important;
  -webkit-box-shadow: 0px 5px 28px -6px rgb(255, 190, 61) !important;
  background: var(--primary-600) !important;
}
.parent-page__guides #block-e79bc599f53e43ac8e25706f10fa5f63,
.parent-page__blog #block-e79bc599f53e43ac8e25706f10fa5f63,
.parent-page__case-studies #block-e79bc599f53e43ac8e25706f10fa5f63,
.parent-page__create #block-e79bc599f53e43ac8e25706f10fa5f63 {
  padding: 0px !important;
  margin: 0px !important;
  border: none !important;
  overflow: visible !important;
  text-align: center !important;
  padding: 80px 24px !important;
  background-position: center !important;
  background-size: cover !important;
  position: relative !important;
  overflow: hidden !important;
  border-radius: 24px !important;
}
.parent-page__guides #block-e79bc599f53e43ac8e25706f10fa5f63 .notion-callout__icon,
.parent-page__blog #block-e79bc599f53e43ac8e25706f10fa5f63 .notion-callout__icon,
.parent-page__case-studies #block-e79bc599f53e43ac8e25706f10fa5f63 .notion-callout__icon,
.parent-page__create #block-e79bc599f53e43ac8e25706f10fa5f63 .notion-callout__icon {
  display: none !important;
}
.parent-page__guides #block-e79bc599f53e43ac8e25706f10fa5f63 .notion-callout__content,
.parent-page__blog #block-e79bc599f53e43ac8e25706f10fa5f63 .notion-callout__content,
.parent-page__case-studies #block-e79bc599f53e43ac8e25706f10fa5f63 .notion-callout__content,
.parent-page__create #block-e79bc599f53e43ac8e25706f10fa5f63 .notion-callout__content {
  margin-inline-start: 0px !important;
  overflow: visible !important;
}
.parent-page__guides #block-e79bc599f53e43ac8e25706f10fa5f63 .notion-callout__content > span,
.parent-page__blog #block-e79bc599f53e43ac8e25706f10fa5f63 .notion-callout__content > span,
.parent-page__case-studies #block-e79bc599f53e43ac8e25706f10fa5f63 .notion-callout__content > span,
.parent-page__create #block-e79bc599f53e43ac8e25706f10fa5f63 .notion-callout__content > span {
  display: none !important;
}
.parent-page__guides #block-e79bc599f53e43ac8e25706f10fa5f63 .notion-link,
.parent-page__blog #block-e79bc599f53e43ac8e25706f10fa5f63 .notion-link,
.parent-page__case-studies #block-e79bc599f53e43ac8e25706f10fa5f63 .notion-link,
.parent-page__create #block-e79bc599f53e43ac8e25706f10fa5f63 .notion-link {
  margin-top: 24px !important;
  opacity: 1 !important;
  padding: var(--button-padding) !important;
  border-radius: var(--rounded-md) !important;
  font-weight: 500 !important;
  font-size: 1rem !important;
  display: inline-flex !important;
  justify-content: center !important;
  cursor: pointer !important;
  transition: background 0.15s ease-out, transform 0.1s ease-out, box-shadow 0.15s ease-out !important;
  border: 0px !important;
  background: var(--base-black) !important;
  color: var(--base-white) !important;
}
.parent-page__guides #block-e79bc599f53e43ac8e25706f10fa5f63 .notion-link:active,
.parent-page__blog #block-e79bc599f53e43ac8e25706f10fa5f63 .notion-link:active,
.parent-page__case-studies #block-e79bc599f53e43ac8e25706f10fa5f63 .notion-link:active,
.parent-page__create #block-e79bc599f53e43ac8e25706f10fa5f63 .notion-link:active {
  transform: translateY(1px) !important;
}
.parent-page__guides #block-e79bc599f53e43ac8e25706f10fa5f63 .notion-link:hover,
.parent-page__blog #block-e79bc599f53e43ac8e25706f10fa5f63 .notion-link:hover,
.parent-page__case-studies #block-e79bc599f53e43ac8e25706f10fa5f63 .notion-link:hover,
.parent-page__create #block-e79bc599f53e43ac8e25706f10fa5f63 .notion-link:hover {
  box-shadow: 0px 5px 28px -6px rgb(255, 190, 61) !important;
  -webkit-box-shadow: 0px 5px 28px -6px rgb(255, 190, 61) !important;
  background: var(--gray-900) !important;
}
.parent-page__guides #block-e79bc599f53e43ac8e25706f10fa5f63 .notion-image:last-child,
.parent-page__blog #block-e79bc599f53e43ac8e25706f10fa5f63 .notion-image:last-child,
.parent-page__case-studies #block-e79bc599f53e43ac8e25706f10fa5f63 .notion-image:last-child,
.parent-page__create #block-e79bc599f53e43ac8e25706f10fa5f63 .notion-image:last-child {
  position: absolute !important;
  width: 100% !important;
  height: 100% !important;
  max-width: 100% !important;
  max-height: 100% !important;
  top: -5% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  z-index: -1 !important;
}
@media screen and (max-width: 992px) {
  .parent-page__guides #block-e79bc599f53e43ac8e25706f10fa5f63 .notion-image:last-child,
.parent-page__blog #block-e79bc599f53e43ac8e25706f10fa5f63 .notion-image:last-child,
.parent-page__case-studies #block-e79bc599f53e43ac8e25706f10fa5f63 .notion-image:last-child,
.parent-page__create #block-e79bc599f53e43ac8e25706f10fa5f63 .notion-image:last-child {
    top: 20% !important;
    width: 100% !important;
    max-width: 140% !important;
    max-height: 140% !important;
  }
}
@media screen and (max-width: 576px) {
  .parent-page__guides #block-e79bc599f53e43ac8e25706f10fa5f63 .notion-image:last-child,
.parent-page__blog #block-e79bc599f53e43ac8e25706f10fa5f63 .notion-image:last-child,
.parent-page__case-studies #block-e79bc599f53e43ac8e25706f10fa5f63 .notion-image:last-child,
.parent-page__create #block-e79bc599f53e43ac8e25706f10fa5f63 .notion-image:last-child {
    top: 135% !important;
    width: 140% !important;
    height: 280% !important;
    max-width: 280% !important;
    max-height: 280% !important;
  }
}

#block-e3e869ea4829488893e2a8767af9f57e .notion-link,
#block-e3e869ea4829488893e2a8767af9f57e .notion-link {
  background: var(--primary-500) !important;
}

#block-e3e869ea4829488893e2a8767af9f57e .notion-link:hover,
#block-e3e869ea4829488893e2a8767af9f57e .notion-link:hover {
  background: #FFCC6A !important;
}

#block-e3e869ea4829488893e2a8767af9f57e .notion-link::after,
#block-e3e869ea4829488893e2a8767af9f57e .notion-link::after {
  width: 20px !important;
  height: 20px !important;
  margin-left: 4px !important;
  content: url("https://sites.super.so/super/assets/arrow-right-black.svg") !important;
}