#page-pricing,
#page-pricing-annual {
  overflow-x: hidden !important;
}
#page-pricing #block-8c2505c01a7d44d3b95db58542a095b4,
#page-pricing-annual #block-8c2505c01a7d44d3b95db58542a095b4 {
  width: 100vw !important;
  position: relative !important;
  margin-left: -50vw !important;
  height: auto !important;
  left: 50% !important;
  background: transparent !important;
  border-radius: 0px !important;
  --column-spacing: 24px !important;
  text-align: center !important;
}
#page-pricing #block-8c2505c01a7d44d3b95db58542a095b4 > .notion-callout__content,
#page-pricing-annual #block-8c2505c01a7d44d3b95db58542a095b4 > .notion-callout__content {
  padding-top: 80px !important;
  padding-bottom: 80px !important;
  max-width: 1280px !important;
  margin: 0 auto !important;
  padding-left: calc(env(safe-area-inset-left) + 96px);
  padding-right: calc(env(safe-area-inset-right) + 96px);
}
@media screen and (max-width: 576px) {
  #page-pricing #block-8c2505c01a7d44d3b95db58542a095b4 > .notion-callout__content,
  #page-pricing-annual #block-8c2505c01a7d44d3b95db58542a095b4 > .notion-callout__content {
    padding: 60px 25px !important;
  }
}
@media screen and (max-width: 768px) {
  #page-pricing #block-8c2505c01a7d44d3b95db58542a095b4 .notion-column,
  #page-pricing-annual #block-8c2505c01a7d44d3b95db58542a095b4 .notion-column {
    padding: 0 !important;
  }
}
#page-pricing #block-8c2505c01a7d44d3b95db58542a095b4 .notion-link,
#page-pricing-annual #block-8c2505c01a7d44d3b95db58542a095b4 .notion-link {
  text-decoration: 0 !important;
  border: 0 !important;
}
#page-pricing #block-8c2505c01a7d44d3b95db58542a095b4 .notion-callout__content > .notion-text,
#page-pricing-annual #block-8c2505c01a7d44d3b95db58542a095b4 .notion-callout__content > .notion-text {
  opacity: 0.7 !important;
  margin-top: 8px !important;
}
#page-pricing #block-8c2505c01a7d44d3b95db58542a095b4 .notion-callout,
#page-pricing-annual #block-8c2505c01a7d44d3b95db58542a095b4 .notion-callout {
  padding: 24px !important;
  padding-top: 20px !important;
  border: 1px solid #f2f1f1 !important;
  border-radius: 16px !important;
  margin-bottom: 24px !important;
  text-align: left !important;
  cursor: default !important;
  transition: all 0.15s ease-out !important;
  font-size: 0.875rem !important;
  background: #fdfdfc !important;
}
#page-pricing #block-8c2505c01a7d44d3b95db58542a095b4 .notion-callout:hover,
#page-pricing-annual #block-8c2505c01a7d44d3b95db58542a095b4 .notion-callout:hover {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 20px 0px !important;
  border: 1px solid transparent !important;
  transform: translateY(-2px) !important;
}
#page-pricing #block-8c2505c01a7d44d3b95db58542a095b4 .notion-callout .notion-column-list,
#page-pricing-annual #block-8c2505c01a7d44d3b95db58542a095b4 .notion-callout .notion-column-list {
  align-items: center !important;
}
#page-pricing #block-8c2505c01a7d44d3b95db58542a095b4 .notion-callout .notion-column-list .notion-image,
#page-pricing-annual #block-8c2505c01a7d44d3b95db58542a095b4 .notion-callout .notion-column-list .notion-image {
  width: 56px !important;
  height: 56px !important;
  border-radius: 50% !important;
}
#page-pricing #block-8c2505c01a7d44d3b95db58542a095b4 .notion-callout .notion-column-list .notion-image img,
#page-pricing-annual #block-8c2505c01a7d44d3b95db58542a095b4 .notion-callout .notion-column-list .notion-image img {
  border-radius: 50% !important;
}
#page-pricing #block-8c2505c01a7d44d3b95db58542a095b4 .notion-callout .notion-column,
#page-pricing-annual #block-8c2505c01a7d44d3b95db58542a095b4 .notion-callout .notion-column {
  padding: 0px !important;
}
#page-pricing #block-8c2505c01a7d44d3b95db58542a095b4 .notion-callout .notion-column:first-child,
#page-pricing-annual #block-8c2505c01a7d44d3b95db58542a095b4 .notion-callout .notion-column:first-child {
  max-width: fit-content !important;
}
#page-pricing #block-8c2505c01a7d44d3b95db58542a095b4 .notion-callout .notion-column:last-child,
#page-pricing-annual #block-8c2505c01a7d44d3b95db58542a095b4 .notion-callout .notion-column:last-child {
  margin-inline-start: 16px !important;
}
@media screen and (max-width: 768px) {
  #page-pricing #block-8c2505c01a7d44d3b95db58542a095b4 .notion-callout .notion-column:last-child,
  #page-pricing-annual #block-8c2505c01a7d44d3b95db58542a095b4 .notion-callout .notion-column:last-child {
    width: calc((100% - var(--column-spacing) * 1) * 0.75) !important;
  }
}
#page-pricing #block-8c2505c01a7d44d3b95db58542a095b4 .notion-callout .notion-column .notion-text,
#page-pricing-annual #block-8c2505c01a7d44d3b95db58542a095b4 .notion-callout .notion-column .notion-text {
  min-height: auto !important;
}
#page-pricing #block-8c2505c01a7d44d3b95db58542a095b4 .notion-callout .notion-column .notion-text__content,
#page-pricing-annual #block-8c2505c01a7d44d3b95db58542a095b4 .notion-callout .notion-column .notion-text__content {
  padding: 0px !important;
}
#page-pricing #block-8c2505c01a7d44d3b95db58542a095b4 > .notion-callout__content > .notion-column-list,
#page-pricing-annual #block-8c2505c01a7d44d3b95db58542a095b4 > .notion-callout__content > .notion-column-list {
  margin-top: 26px !important;
}
@media screen and (max-width: 992px) {
  #page-pricing #block-8c2505c01a7d44d3b95db58542a095b4 > .notion-callout__content > .notion-column-list > :last-child,
  #page-pricing-annual #block-8c2505c01a7d44d3b95db58542a095b4 > .notion-callout__content > .notion-column-list > :last-child {
    display: none !important;
  }
}
@media screen and (max-width: 992px) {
  #page-pricing #block-8c2505c01a7d44d3b95db58542a095b4 > .notion-callout__content > .notion-column-list .notion-column,
  #page-pricing-annual #block-8c2505c01a7d44d3b95db58542a095b4 > .notion-callout__content > .notion-column-list .notion-column {
    flex-grow: 1 !important;
  }
}
#page-pricing .notion-root > h1.notion-heading,
#page-pricing-annual .notion-root > h1.notion-heading {
  text-align: center !important;
  max-width: 800px !important;
  margin: 0 auto !important;
}
#page-pricing .notion-callout,
#page-pricing-annual .notion-callout {
  padding: 0px !important;
  margin: 0px !important;
  border: none !important;
  overflow: visible !important;
}
#page-pricing .notion-callout .notion-callout__icon,
#page-pricing-annual .notion-callout .notion-callout__icon {
  display: none !important;
}
#page-pricing .notion-callout .notion-callout__content,
#page-pricing-annual .notion-callout .notion-callout__content {
  margin-inline-start: 0px !important;
  overflow: visible !important;
}
#page-pricing .notion-callout .notion-callout__content > span,
#page-pricing-annual .notion-callout .notion-callout__content > span {
  display: none !important;
}
#page-pricing #block-5f4034b33f5e4ef5aee7421baadd223e .notion-column:first-child,
#page-pricing-annual #block-5f4034b33f5e4ef5aee7421baadd223e .notion-column:first-child {
  padding: 12px 16px !important;
  background: var(--base-white) !important;
  margin-right: 8px !important;
  cursor: default !important;
}
@media screen and (max-width: 576px) {
  #page-pricing #block-5f4034b33f5e4ef5aee7421baadd223e .notion-column:last-child,
  #page-pricing-annual #block-5f4034b33f5e4ef5aee7421baadd223e .notion-column:last-child {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    width: 100% !important;
  }
}
#page-pricing #block-e5bbddb674254449a439e4d6a593c5da .notion-column:last-child,
#page-pricing-annual #block-e5bbddb674254449a439e4d6a593c5da .notion-column:last-child {
  padding: 12px 16px !important;
  background: var(--base-white) !important;
  margin-left: 8px !important;
  cursor: default !important;
}
@media screen and (max-width: 576px) {
  #page-pricing #block-e5bbddb674254449a439e4d6a593c5da .notion-column:last-child,
  #page-pricing-annual #block-e5bbddb674254449a439e4d6a593c5da .notion-column:last-child {
    margin: 0px !important;
  }
}
#page-pricing #block-5f4034b33f5e4ef5aee7421baadd223e,
#page-pricing #block-e5bbddb674254449a439e4d6a593c5da,
#page-pricing-annual #block-5f4034b33f5e4ef5aee7421baadd223e,
#page-pricing-annual #block-e5bbddb674254449a439e4d6a593c5da {
  margin: 0 auto !important;
  text-align: center !important;
  background: var(--gray-25) !important;
  border-radius: 100px !important;
  padding: 8px !important;
  border: 1px solid var(--gray-50) !important;
  box-shadow: 2.6px 4px 2.6px rgba(0, 0, 0, 0.017), 7.3px 11px 7.1px rgba(0, 0, 0, 0.025), 17.5px 26.5px 17.2px rgba(0, 0, 0, 0.033), 58px 88px 57px rgba(0, 0, 0, 0.05) !important;
}
@media screen and (max-width: 576px) {
  #page-pricing #block-5f4034b33f5e4ef5aee7421baadd223e,
  #page-pricing #block-e5bbddb674254449a439e4d6a593c5da,
  #page-pricing-annual #block-5f4034b33f5e4ef5aee7421baadd223e,
  #page-pricing-annual #block-e5bbddb674254449a439e4d6a593c5da {
    border-radius: 12px !important;
    width: 100% !important;
  }
}
@media screen and (max-width: 576px) {
  #page-pricing #block-5f4034b33f5e4ef5aee7421baadd223e .notion-column-list,
  #page-pricing #block-e5bbddb674254449a439e4d6a593c5da .notion-column-list,
  #page-pricing-annual #block-5f4034b33f5e4ef5aee7421baadd223e .notion-column-list,
  #page-pricing-annual #block-e5bbddb674254449a439e4d6a593c5da .notion-column-list {
    flex-wrap: nowrap !important;
  }
}
#page-pricing #block-5f4034b33f5e4ef5aee7421baadd223e .notion-column,
#page-pricing #block-e5bbddb674254449a439e4d6a593c5da .notion-column,
#page-pricing-annual #block-5f4034b33f5e4ef5aee7421baadd223e .notion-column,
#page-pricing-annual #block-e5bbddb674254449a439e4d6a593c5da .notion-column {
  width: auto !important;
  margin-inline-start: 0px !important;
  padding: 8px 0px !important;
  border-radius: 100px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: row !important;
}
@media screen and (max-width: 576px) {
  #page-pricing #block-5f4034b33f5e4ef5aee7421baadd223e .notion-column,
  #page-pricing #block-e5bbddb674254449a439e4d6a593c5da .notion-column,
  #page-pricing-annual #block-5f4034b33f5e4ef5aee7421baadd223e .notion-column,
  #page-pricing-annual #block-e5bbddb674254449a439e4d6a593c5da .notion-column {
    width: 100% !important;
    border-radius: 8px !important;
  }
}
#page-pricing #block-5f4034b33f5e4ef5aee7421baadd223e .notion-column .notion-callout,
#page-pricing #block-e5bbddb674254449a439e4d6a593c5da .notion-column .notion-callout,
#page-pricing-annual #block-5f4034b33f5e4ef5aee7421baadd223e .notion-column .notion-callout,
#page-pricing-annual #block-e5bbddb674254449a439e4d6a593c5da .notion-column .notion-callout {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
#page-pricing #block-5f4034b33f5e4ef5aee7421baadd223e .notion-column .notion-text,
#page-pricing #block-e5bbddb674254449a439e4d6a593c5da .notion-column .notion-text,
#page-pricing-annual #block-5f4034b33f5e4ef5aee7421baadd223e .notion-column .notion-text,
#page-pricing-annual #block-e5bbddb674254449a439e4d6a593c5da .notion-column .notion-text {
  min-height: 0 !important;
}
#page-pricing #block-5f4034b33f5e4ef5aee7421baadd223e .notion-column .notion-semantic-string,
#page-pricing #block-e5bbddb674254449a439e4d6a593c5da .notion-column .notion-semantic-string,
#page-pricing-annual #block-5f4034b33f5e4ef5aee7421baadd223e .notion-column .notion-semantic-string,
#page-pricing-annual #block-e5bbddb674254449a439e4d6a593c5da .notion-column .notion-semantic-string {
  line-height: 0 !important;
}
#page-pricing #block-5f4034b33f5e4ef5aee7421baadd223e .notion-column .notion-text__content,
#page-pricing #block-e5bbddb674254449a439e4d6a593c5da .notion-column .notion-text__content,
#page-pricing-annual #block-5f4034b33f5e4ef5aee7421baadd223e .notion-column .notion-text__content,
#page-pricing-annual #block-e5bbddb674254449a439e4d6a593c5da .notion-column .notion-text__content {
  padding: 0px !important;
}
#page-pricing #block-5f4034b33f5e4ef5aee7421baadd223e .notion-column .notion-link,
#page-pricing #block-e5bbddb674254449a439e4d6a593c5da .notion-column .notion-link,
#page-pricing-annual #block-5f4034b33f5e4ef5aee7421baadd223e .notion-column .notion-link,
#page-pricing-annual #block-e5bbddb674254449a439e4d6a593c5da .notion-column .notion-link {
  text-decoration: none !important;
  border-radius: 100px !important;
  padding: 12px 16px !important;
  opacity: 1 !important;
  transition: background 0.2s ease-out !important;
}
@media screen and (max-width: 576px) {
  #page-pricing #block-5f4034b33f5e4ef5aee7421baadd223e .notion-column .notion-link,
  #page-pricing #block-e5bbddb674254449a439e4d6a593c5da .notion-column .notion-link,
  #page-pricing-annual #block-5f4034b33f5e4ef5aee7421baadd223e .notion-column .notion-link,
  #page-pricing-annual #block-e5bbddb674254449a439e4d6a593c5da .notion-column .notion-link {
    border-radius: 8px !important;
  }
}
#page-pricing #block-5f4034b33f5e4ef5aee7421baadd223e .notion-column .notion-link:hover,
#page-pricing #block-e5bbddb674254449a439e4d6a593c5da .notion-column .notion-link:hover,
#page-pricing-annual #block-5f4034b33f5e4ef5aee7421baadd223e .notion-column .notion-link:hover,
#page-pricing-annual #block-e5bbddb674254449a439e4d6a593c5da .notion-column .notion-link:hover {
  background: var(--gray-50);
}
#page-pricing #block-f59ac23d8cf344f084e546567605a696 .notion-column:first-child > .notion-callout .notion-link,
#page-pricing #block-f59ac23d8cf344f084e546567605a696 .notion-column:last-child > .notion-callout .notion-link,
#page-pricing #block-abea645bf4084158b5f710c635984ec4 .notion-column:first-child > .notion-callout .notion-link,
#page-pricing #block-abea645bf4084158b5f710c635984ec4 .notion-column:last-child > .notion-callout .notion-link,
#page-pricing-annual #block-f59ac23d8cf344f084e546567605a696 .notion-column:first-child > .notion-callout .notion-link,
#page-pricing-annual #block-f59ac23d8cf344f084e546567605a696 .notion-column:last-child > .notion-callout .notion-link,
#page-pricing-annual #block-abea645bf4084158b5f710c635984ec4 .notion-column:first-child > .notion-callout .notion-link,
#page-pricing-annual #block-abea645bf4084158b5f710c635984ec4 .notion-column:last-child > .notion-callout .notion-link {
  text-decoration: none !important;
  opacity: 1 !important;
  padding: var(--button-padding) !important;
  border-radius: var(--rounded-md) !important;
  font-weight: 500 !important;
  font-size: 1rem !important;
  display: inline-flex !important;
  justify-content: center !important;
  cursor: pointer !important;
  transition: background 0.15s ease-out, transform 0.1s ease-out, box-shadow 0.15s ease-out !important;
  border: 1px solid var(--gray-50) !important;
  color: var(--gray-700) !important;
  background: var(--base-white) !important;
  width: 100% !important;
  margin-top: 16px !important;
  position: relative !important;
  align-items: center !important;
}
#page-pricing #block-f59ac23d8cf344f084e546567605a696 .notion-column:first-child > .notion-callout .notion-link:hover,
#page-pricing #block-f59ac23d8cf344f084e546567605a696 .notion-column:last-child > .notion-callout .notion-link:hover,
#page-pricing #block-abea645bf4084158b5f710c635984ec4 .notion-column:first-child > .notion-callout .notion-link:hover,
#page-pricing #block-abea645bf4084158b5f710c635984ec4 .notion-column:last-child > .notion-callout .notion-link:hover,
#page-pricing-annual #block-f59ac23d8cf344f084e546567605a696 .notion-column:first-child > .notion-callout .notion-link:hover,
#page-pricing-annual #block-f59ac23d8cf344f084e546567605a696 .notion-column:last-child > .notion-callout .notion-link:hover,
#page-pricing-annual #block-abea645bf4084158b5f710c635984ec4 .notion-column:first-child > .notion-callout .notion-link:hover,
#page-pricing-annual #block-abea645bf4084158b5f710c635984ec4 .notion-column:last-child > .notion-callout .notion-link:hover {
  background: var(--gray-25) !important;
  color: var(--gray-900) !important;
}
#page-pricing #block-f59ac23d8cf344f084e546567605a696 .notion-column:first-child > .notion-callout .notion-link::after,
#page-pricing #block-f59ac23d8cf344f084e546567605a696 .notion-column:last-child > .notion-callout .notion-link::after,
#page-pricing #block-abea645bf4084158b5f710c635984ec4 .notion-column:first-child > .notion-callout .notion-link::after,
#page-pricing #block-abea645bf4084158b5f710c635984ec4 .notion-column:last-child > .notion-callout .notion-link::after,
#page-pricing-annual #block-f59ac23d8cf344f084e546567605a696 .notion-column:first-child > .notion-callout .notion-link::after,
#page-pricing-annual #block-f59ac23d8cf344f084e546567605a696 .notion-column:last-child > .notion-callout .notion-link::after,
#page-pricing-annual #block-abea645bf4084158b5f710c635984ec4 .notion-column:first-child > .notion-callout .notion-link::after,
#page-pricing-annual #block-abea645bf4084158b5f710c635984ec4 .notion-column:last-child > .notion-callout .notion-link::after {
  width: 20px !important;
  height: 20px !important;
  margin-left: 4px !important;
  content: url("https://sites.super.so/super/assets/arrow-right-gray-500.svg");
}
#page-pricing #block-f59ac23d8cf344f084e546567605a696 .notion-column:first-child > .notion-callout .notion-link:hover::after,
#page-pricing #block-f59ac23d8cf344f084e546567605a696 .notion-column:last-child > .notion-callout .notion-link:hover::after,
#page-pricing #block-abea645bf4084158b5f710c635984ec4 .notion-column:first-child > .notion-callout .notion-link:hover::after,
#page-pricing #block-abea645bf4084158b5f710c635984ec4 .notion-column:last-child > .notion-callout .notion-link:hover::after,
#page-pricing-annual #block-f59ac23d8cf344f084e546567605a696 .notion-column:first-child > .notion-callout .notion-link:hover::after,
#page-pricing-annual #block-f59ac23d8cf344f084e546567605a696 .notion-column:last-child > .notion-callout .notion-link:hover::after,
#page-pricing-annual #block-abea645bf4084158b5f710c635984ec4 .notion-column:first-child > .notion-callout .notion-link:hover::after,
#page-pricing-annual #block-abea645bf4084158b5f710c635984ec4 .notion-column:last-child > .notion-callout .notion-link:hover::after {
  width: 20px !important;
  height: 20px !important;
  margin-left: 4px !important;
  content: url("https://sites.super.so/super/assets/arrow-right-black.svg") !important;
}
#page-pricing #block-f59ac23d8cf344f084e546567605a696 .notion-column:nth-child(2) > .notion-callout,
#page-pricing #block-abea645bf4084158b5f710c635984ec4 .notion-column:nth-child(2) > .notion-callout,
#page-pricing-annual #block-f59ac23d8cf344f084e546567605a696 .notion-column:nth-child(2) > .notion-callout,
#page-pricing-annual #block-abea645bf4084158b5f710c635984ec4 .notion-column:nth-child(2) > .notion-callout {
  border: 1px solid #FFBE3D !important;
  position: relative !important;
}
#page-pricing #block-f59ac23d8cf344f084e546567605a696 .notion-column:nth-child(2) > .notion-callout::before,
#page-pricing #block-abea645bf4084158b5f710c635984ec4 .notion-column:nth-child(2) > .notion-callout::before,
#page-pricing-annual #block-f59ac23d8cf344f084e546567605a696 .notion-column:nth-child(2) > .notion-callout::before,
#page-pricing-annual #block-abea645bf4084158b5f710c635984ec4 .notion-column:nth-child(2) > .notion-callout::before {
  content: "Most popular" !important;
  position: absolute !important;
  top: -14px !important;
  background: #FFF9ED !important;
  padding: 6px 12px !important;
  border-radius: 50px !important;
  border: 1px solid #FFBE3D !important;
  font-size: 11px !important;
  letter-spacing: 1px !important;
  text-transform: uppercase !important;
  font-weight: 500 !important;
}
#page-pricing #block-f59ac23d8cf344f084e546567605a696 .notion-column:nth-child(2) > .notion-callout .notion-link,
#page-pricing #block-abea645bf4084158b5f710c635984ec4 .notion-column:nth-child(2) > .notion-callout .notion-link,
#page-pricing-annual #block-f59ac23d8cf344f084e546567605a696 .notion-column:nth-child(2) > .notion-callout .notion-link,
#page-pricing-annual #block-abea645bf4084158b5f710c635984ec4 .notion-column:nth-child(2) > .notion-callout .notion-link {
  text-decoration: none !important;
  opacity: 1 !important;
  padding: var(--button-padding) !important;
  border-radius: var(--rounded-md) !important;
  font-weight: 500 !important;
  font-size: 1rem !important;
  display: inline-flex !important;
  justify-content: center !important;
  cursor: pointer !important;
  transition: background 0.15s ease-out, transform 0.1s ease-out, box-shadow 0.15s ease-out !important;
  border: 0px !important;
  background: var(--primary-500) !important;
  color: var(--base-black) !important;
  width: 100% !important;
  margin-top: 16px !important;
  position: relative !important;
  align-items: center !important;
}
#page-pricing #block-f59ac23d8cf344f084e546567605a696 .notion-column:nth-child(2) > .notion-callout .notion-link:active,
#page-pricing #block-abea645bf4084158b5f710c635984ec4 .notion-column:nth-child(2) > .notion-callout .notion-link:active,
#page-pricing-annual #block-f59ac23d8cf344f084e546567605a696 .notion-column:nth-child(2) > .notion-callout .notion-link:active,
#page-pricing-annual #block-abea645bf4084158b5f710c635984ec4 .notion-column:nth-child(2) > .notion-callout .notion-link:active {
  transform: translateY(1px) !important;
}
#page-pricing #block-f59ac23d8cf344f084e546567605a696 .notion-column:nth-child(2) > .notion-callout .notion-link:hover,
#page-pricing #block-abea645bf4084158b5f710c635984ec4 .notion-column:nth-child(2) > .notion-callout .notion-link:hover,
#page-pricing-annual #block-f59ac23d8cf344f084e546567605a696 .notion-column:nth-child(2) > .notion-callout .notion-link:hover,
#page-pricing-annual #block-abea645bf4084158b5f710c635984ec4 .notion-column:nth-child(2) > .notion-callout .notion-link:hover {
  box-shadow: 0px 5px 28px -6px rgb(255, 190, 61) !important;
  -webkit-box-shadow: 0px 5px 28px -6px rgb(255, 190, 61) !important;
  background: var(--primary-600) !important;
}
#page-pricing #block-f59ac23d8cf344f084e546567605a696 .notion-column:nth-child(2) > .notion-callout .notion-link::after,
#page-pricing #block-abea645bf4084158b5f710c635984ec4 .notion-column:nth-child(2) > .notion-callout .notion-link::after,
#page-pricing-annual #block-f59ac23d8cf344f084e546567605a696 .notion-column:nth-child(2) > .notion-callout .notion-link::after,
#page-pricing-annual #block-abea645bf4084158b5f710c635984ec4 .notion-column:nth-child(2) > .notion-callout .notion-link::after {
  width: 20px !important;
  height: 20px !important;
  margin-left: 4px !important;
  content: url("https://sites.super.so/super/assets/arrow-right-black.svg");
}
#page-pricing #block-f59ac23d8cf344f084e546567605a696 .notion-callout:first-child,
#page-pricing #block-abea645bf4084158b5f710c635984ec4 .notion-callout:first-child,
#page-pricing-annual #block-f59ac23d8cf344f084e546567605a696 .notion-callout:first-child,
#page-pricing-annual #block-abea645bf4084158b5f710c635984ec4 .notion-callout:first-child {
  background: var(--base-white) !important;
  border-radius: 24px !important;
  box-shadow: 2.6px 4px 2.6px rgba(0, 0, 0, 0.017), 7.3px 11px 7.1px rgba(0, 0, 0, 0.025), 17.5px 26.5px 17.2px rgba(0, 0, 0, 0.033), 58px 88px 57px rgba(0, 0, 0, 0.05) !important;
  padding: 32px !important;
}
#page-pricing #block-f59ac23d8cf344f084e546567605a696 .notion-callout:first-child h3,
#page-pricing #block-abea645bf4084158b5f710c635984ec4 .notion-callout:first-child h3,
#page-pricing-annual #block-f59ac23d8cf344f084e546567605a696 .notion-callout:first-child h3,
#page-pricing-annual #block-abea645bf4084158b5f710c635984ec4 .notion-callout:first-child h3 {
  font-size: 24px !important;
  font-weight: 500 !important;
  margin-top: 0px !important;
  margin-bottom: 0 !important;
}
#page-pricing #block-f59ac23d8cf344f084e546567605a696 .notion-callout:first-child h3 code,
#page-pricing #block-abea645bf4084158b5f710c635984ec4 .notion-callout:first-child h3 code,
#page-pricing-annual #block-f59ac23d8cf344f084e546567605a696 .notion-callout:first-child h3 code,
#page-pricing-annual #block-abea645bf4084158b5f710c635984ec4 .notion-callout:first-child h3 code {
  background-color: var(--base-black) !important;
  color: var(--base-white) !important;
  border-radius: 100px !important;
  padding: 4px 8px 5px 8px !important;
  font-family: inherit !important;
  font-size: 0.75rem !important;
}
#page-pricing #block-f59ac23d8cf344f084e546567605a696 .notion-callout:first-child .notion-divider,
#page-pricing #block-abea645bf4084158b5f710c635984ec4 .notion-callout:first-child .notion-divider,
#page-pricing-annual #block-f59ac23d8cf344f084e546567605a696 .notion-callout:first-child .notion-divider,
#page-pricing-annual #block-abea645bf4084158b5f710c635984ec4 .notion-callout:first-child .notion-divider {
  margin: 18px 0px !important;
}
#page-pricing #block-f59ac23d8cf344f084e546567605a696 .notion-callout:first-child .notion-bulleted-list,
#page-pricing #block-abea645bf4084158b5f710c635984ec4 .notion-callout:first-child .notion-bulleted-list,
#page-pricing-annual #block-f59ac23d8cf344f084e546567605a696 .notion-callout:first-child .notion-bulleted-list,
#page-pricing-annual #block-abea645bf4084158b5f710c635984ec4 .notion-callout:first-child .notion-bulleted-list {
  position: relative;
  list-style: none;
  margin-left: 0px;
  padding-left: 36px;
}
#page-pricing #block-f59ac23d8cf344f084e546567605a696 .notion-callout:first-child h2.notion-heading,
#page-pricing #block-abea645bf4084158b5f710c635984ec4 .notion-callout:first-child h2.notion-heading,
#page-pricing-annual #block-f59ac23d8cf344f084e546567605a696 .notion-callout:first-child h2.notion-heading,
#page-pricing-annual #block-abea645bf4084158b5f710c635984ec4 .notion-callout:first-child h2.notion-heading {
  font-size: 18px !important;
  font-weight: 300 !important;
}
#page-pricing #block-f59ac23d8cf344f084e546567605a696 .notion-callout:first-child .notion-list-item,
#page-pricing #block-abea645bf4084158b5f710c635984ec4 .notion-callout:first-child .notion-list-item,
#page-pricing-annual #block-f59ac23d8cf344f084e546567605a696 .notion-callout:first-child .notion-list-item,
#page-pricing-annual #block-abea645bf4084158b5f710c635984ec4 .notion-callout:first-child .notion-list-item {
  margin: 8px 0px !important;
}
#page-pricing #block-f59ac23d8cf344f084e546567605a696 .notion-callout:first-child .notion-list-item::before,
#page-pricing #block-abea645bf4084158b5f710c635984ec4 .notion-callout:first-child .notion-list-item::before,
#page-pricing-annual #block-f59ac23d8cf344f084e546567605a696 .notion-callout:first-child .notion-list-item::before,
#page-pricing-annual #block-abea645bf4084158b5f710c635984ec4 .notion-callout:first-child .notion-list-item::before {
  content: "";
  position: absolute;
  background: url("https://sites.super.so/super/assets/check-icon.svg");
  background-size: cover !important;
  background-position: center !important;
  left: 0;
  width: 24px;
  height: 24px;
}
#page-pricing #block-f59ac23d8cf344f084e546567605a696 .notion-callout:first-child .notion-callout strong,
#page-pricing #block-abea645bf4084158b5f710c635984ec4 .notion-callout:first-child .notion-callout strong,
#page-pricing-annual #block-f59ac23d8cf344f084e546567605a696 .notion-callout:first-child .notion-callout strong,
#page-pricing-annual #block-abea645bf4084158b5f710c635984ec4 .notion-callout:first-child .notion-callout strong {
  font-size: 48px !important;
  font-weight: 500 !important;
}
#page-pricing #block-f59ac23d8cf344f084e546567605a696 .notion-callout:first-child .notion-callout .notion-callout__content,
#page-pricing #block-abea645bf4084158b5f710c635984ec4 .notion-callout:first-child .notion-callout .notion-callout__content,
#page-pricing-annual #block-f59ac23d8cf344f084e546567605a696 .notion-callout:first-child .notion-callout .notion-callout__content,
#page-pricing-annual #block-abea645bf4084158b5f710c635984ec4 .notion-callout:first-child .notion-callout .notion-callout__content {
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start !important;
}
@media screen and (max-width: 992px) {
  #page-pricing #block-f59ac23d8cf344f084e546567605a696 .notion-callout:first-child .notion-callout .notion-callout__content,
  #page-pricing #block-abea645bf4084158b5f710c635984ec4 .notion-callout:first-child .notion-callout .notion-callout__content,
  #page-pricing-annual #block-f59ac23d8cf344f084e546567605a696 .notion-callout:first-child .notion-callout .notion-callout__content,
  #page-pricing-annual #block-abea645bf4084158b5f710c635984ec4 .notion-callout:first-child .notion-callout .notion-callout__content {
    flex-direction: column !important;
    align-items: flex-start !important;
  }
}
#page-pricing #block-f59ac23d8cf344f084e546567605a696 .notion-callout:first-child .notion-callout .notion-callout__content strong,
#page-pricing #block-abea645bf4084158b5f710c635984ec4 .notion-callout:first-child .notion-callout .notion-callout__content strong,
#page-pricing-annual #block-f59ac23d8cf344f084e546567605a696 .notion-callout:first-child .notion-callout .notion-callout__content strong,
#page-pricing-annual #block-abea645bf4084158b5f710c635984ec4 .notion-callout:first-child .notion-callout .notion-callout__content strong {
  margin-right: 6px !important;
  font-size: 48px !important;
  font-weight: 500 !important;
}
#page-pricing #block-f59ac23d8cf344f084e546567605a696 .notion-callout:first-child .notion-callout .notion-callout__content .notion-text,
#page-pricing #block-abea645bf4084158b5f710c635984ec4 .notion-callout:first-child .notion-callout .notion-callout__content .notion-text,
#page-pricing-annual #block-f59ac23d8cf344f084e546567605a696 .notion-callout:first-child .notion-callout .notion-callout__content .notion-text,
#page-pricing-annual #block-abea645bf4084158b5f710c635984ec4 .notion-callout:first-child .notion-callout .notion-callout__content .notion-text {
  font-size: 0.875rem !important;
  padding: 0px !important;
  margin-top: 8px !important;
  color: var(--base-black) !important;
}
#page-pricing #block-f59ac23d8cf344f084e546567605a696 .notion-callout:first-child .notion-callout .notion-callout__content .notion-text *,
#page-pricing #block-abea645bf4084158b5f710c635984ec4 .notion-callout:first-child .notion-callout .notion-callout__content .notion-text *,
#page-pricing-annual #block-f59ac23d8cf344f084e546567605a696 .notion-callout:first-child .notion-callout .notion-callout__content .notion-text *,
#page-pricing-annual #block-abea645bf4084158b5f710c635984ec4 .notion-callout:first-child .notion-callout .notion-callout__content .notion-text * {
  line-height: 1.2 !important;
}

#block-1f2516c0a13841bc8d4ba00ebc554fe1,
#block-e3db84374788481b822017d293ba9366 {
  margin: 0 auto !important;
  text-align: center !important;
  margin-top: 16px !important;
}