:root {
    --body-background: url('https://images.unsplash.com/photo-1598237601465-af66b7475e92?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=735&q=80')!important;
    --color-bg-default: #e0e0e0!important;
    --color-text-default: #f2f2f2!important;
    --max-width: 650px!important;
    --link-padding: 20px!important;
    --link-border-radius: 2px!important;
    --link-background: rgba(255, 255, 255, .05)!important;
    --link-border: 1px solid rgba(0, 0, 0, .1)!important;
    --link-color: #f2f2f2!important;
    --link-shadow: 0 4px 30px rgba(0, 0, 0, 0.3)!important;
    --link-hover-shadow: 0 7px 12px rgba(0, 0, 0, 0.5)!important;
    --link-hover-background: rgba(255, 255, 255, .1)!important;
    --link-hover-translate: translate(0, -2px)!important;
    --link-backdrop-filter: 0!important;
    --social-icons-filter: grayscale(100%) brightness(0%) invert(100%) contrast(100%)!important;
}