/* Cotton  */
:root {
  --color-bg-default: #F9F6F0 !important;
  --color-text-default: #4B5673 !important;
  --color-text-default-light: #959BA9 !important;
  --color-text-gray: #959BA9 !important;
  --color-border-default: rgba(23,23,24,0.15) !important;
}
