/*

Slite Template
Powered by Super.so

*/

/*-------------------------------------------*/
/*------------------ FONTS ------------------*/
/*-------------------------------------------*/

@font-face {
    font-family: 'ny';
    src:  url('https://sites.super.so/slite/assets/ny.woff') format('woff'),
          url('https://sites.super.so/slite/assets/ny.ttf') format('truetype');
}

/*-------------------------------------------*/
/*---------------- VARIABLES ----------------*/
/*-------------------------------------------*/

:root {
    --color-bg-default: #fff !important;
    --color-border-default: rgba(0,0,0,0.2) !important;
    
    --color-text-default: #000 !important;
    --color-text-gray: var(--color-bg-default) !important;
    
    --shadow: 0 10px 20px -10px rgb(0,0,0,0.1) !important;
    --transition: all .2s ease-in-out !important;
    --column-spacing: 30px !important;
    --font: 'ny', serif !important;
}

/*-------------------------------------------*/
/*-------------- FADE ANIMATION -------------*/
/*-------------------------------------------*/

body {
    background: radial-gradient(30% 55.51% at 50% 70%, #FFD3C7 0%, rgba(255, 211, 200, 0.04) 100%),
                radial-gradient(30% 80% at 94% 96%, #C8EAFF 0%, rgba(230, 245, 255, 0) 70%),
                radial-gradient(44% 80% at 4% 94%, rgba(107, 110, 154, 0.8) 0%, rgba(225, 225, 234, 0) 100%), #FFFFFF !important;
    background-attachment: fixed !important;
    -webkit-animation: fadeIn 1s !important;
    -moz-animation: fadeIn 1s !important;
    animation: fadeIn 1s !important;
}
@keyframes fadeIn { 0% {  opacity: 0; } 100% { opacity: 1; } }
@-moz-keyframes fadeIn { 0% {  opacity: 0; } 100% { opacity: 1; } }
@-webkit-keyframes fadeIn { 0% {  opacity: 0; } 100% { opacity: 1; } }

/*-------------------------------------------*/
/*--------------- MAIN CONTENT --------------*/
/*-------------------------------------------*/

.max-width {
    max-width: 90% !important;
    width: 600px !important;
    padding: 0 !important;
}

.notion-column-list {
    align-items: center !important;
}

.notion-divider {
    border-bottom: 1px solid var(--color-border-default) !important;
}

/*-------------------------------------------*/
/*-------------- HIDDEN CONTENT -------------*/
/*-------------------------------------------*/

.notion-property__title__icon-wrapper,
.notion-collection__header,
.notion-header__content,
.notion-toggle.bg-gray,
.notion-callout__icon,
.notion-page__icon,
.notion-navbar {
    display: none !important;
}

.super-content {
    padding-bottom: 40px !important;
}

/*-------------------------------------------*/
/*---------------- GALLERY ------------------*/
/*-------------------------------------------*/

.notion-collection-gallery {
    display: block !important;
    border: none !important;
}

.notion-collection-card {
    grid-template-columns: min-content !important;
    align-items: center !important;
    overflow: visible !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    grid-gap: 30px !important;
    display: grid !important;
}

.notion-collection-card__cover,
.notion-collection-card__cover div,
.notion-collection-card__cover img {
    border-radius: 12px !important;
    min-height: 100px !important;
    max-height: 100px !important;
    height: 100px !important;
    width: 160px !important;
}

.notion-property__title,
.notion-collection-card__content {
    display: flex !important;
    height: 60px !important;
    padding: 0 !important;
}

.notion-property__title {
    font-family: var(--font) !important;
    grid-column-start: 2 !important;
    grid-row-start: 1 !important;
    font-size: 24px !important;
}

.notion-collection-card__content {
    align-items: flex-end !important;
    grid-column-start: 2 !important;
    grid-row-start: 1 !important;
}

/*-------------------------------------------*/
/*--------------- TYPOGRAPHY ----------------*/
/*-------------------------------------------*/

h1, h2, h3 {
    font-family: var(--font) !important;
    font-weight: 100 !important;
}

h1 {
    font-size: 60px !important;
}

h2 {
    font-size: 30px !important;
}

p {
    line-height: 2.4 !important;
}

.notion-text {
    min-height: calc(1.5rem) !important; 
}

.notion-link {
    transition: var(--transition) !important;
    border: none !important;
    opacity: 0.4 !important;
}

.notion-semantic-string .link:hover {
    opacity: 1 !important;
}

/*-------------------------------------------*/
/*-------------- CALLOUT BLOCK --------------*/
/*-------------------------------------------*/

.notion-callout {
    background: var(--color-bg-default) !important;
    transition: var(--transition) !important;
    box-shadow: var(--shadow) !important;
    border-radius: 100px !important;
    position: relative !important;
    padding: 24px !important;
    border: none !important;
}

.notion-callout:hover {
    opacity: 0.6 !important;
}

.notion-callout a {
    justify-content: center !important;
    align-items: center !important;
    position: absolute !important;
    padding-top: 2px !important;
    display: flex !important;
    height: 100% !important;
    border: none !important;
    width: 100% !important;
    opacity: 1 !important;
    left: 0 !important;
    top: 0 !important;
}

/*-------------------------------------------*/
/*-------------- SITE SPECIFIC --------------*/
/*-------------------------------------------*/

#block-4e524e5a61e54ff0b5fcb8aab8e2d0cb {
    max-width: 85% !important;
}