.notion-callout {
    transition: var(--transition) !important;
    border-radius: 100px !important;
    width: fit-content !important;
    position: relative !important;
    min-height: 60px !important;
    border: none !important;
    padding: 0 !important;
}

.notion-callout:hover {
    opacity: 0.8 !important;
}

.notion-callout__content {
    margin: 0 !important;
}

.notion-callout .notion-semantic-string .link {
    color: var(--color-bg-default) !important;
    justify-content: center !important;
    border-radius: 100px !important;
    padding: 2px 30px 0 !important;
    align-items: center !important;
    width: fit-content !important;
    font-weight: 500 !important;
    min-height: 60px !important;
    display: flex !important;
    border: none !important;
}

.notion-callout .notion-semantic-string .link:hover {
    color: var(--color-bg-default) !important;
}