.notion-collection-gallery {
    grid-template-columns: 1fr 1fr !important;
    grid-gap: 50px !important;
}

.notion-collection-card {
    transition: var(--transition) !important;
    margin-bottom: 20px !important;
    border-radius: 0 !important;
}

.notion-collection-card:hover {
    background: none !important;
    opacity: 0.8 !important;
}

.notion-collection-card .notion-property__title {
    letter-spacing: -0.5px !important;
    padding: 30px 0 0 !important;
    font-size: 24px !important;
}

.notion-collection-card__cover,
.notion-collection-card__cover div,
.notion-collection-card__cover img {
    max-height: 480px !important;
    border-radius: 0 !important;
    height: 480px !important;
    border: none !important;
}

.notion-collection__header,
.notion-property__title__icon-wrapper {
    display: none !important;
}