.max-width {
    padding-right: var(--padding-right) !important;
    padding-left: var(--padding-left) !important;
    max-width: 100% !important;
}

.super-content {
    padding-bottom: 40px !important;
    padding-top: 60px !important;
}