#page-index .notion-header {
    display: none !important;
}

#page-index h1 {
    max-width: var(--container-md);
    /* text-align: left !important; */
}

#page-index .super-content {
    padding-top: 300px !important;
}