.notion-quote {
    flex-direction: column !important;
    position: relative !important;
    font-size: 18px !important;
    z-index: auto !important;
    display: flex !important;
    border: none !important;
    height: auto !important;
    right: auto !important;
    padding: 0 !important;
    top: auto !important;
}

.notion-quote span,
.notion-quote .link {
    display: block !important;
    width: 100% !important;
}

.notion-quote .notion-semantic-string .link {
    letter-spacing: -1px !important;
    line-height: 1.5 !important;
    font-weight: 300 !important;
    font-size: 32px !important;
}

.notion-quote:first-child {
    padding: 0 var(--padding-right) 0 0 !important;
    height: var(--navbar-height) !important;
    justify-content: flex-end !important;
    align-items: center !important;
    flex-direction: row !important;
    position: fixed !important;
    z-index: 9999 !important;
    margin: 0 !important;
    right: 0 !important;
    top: 0 !important;
}

.notion-quote:first-child span,
.notion-quote:first-child .link {
    display: inline !important;
}

.notion-quote:first-child .notion-semantic-string .link {
    letter-spacing: -0.4px !important;
    font-weight: 300 !important;
    font-size: 18px !important;
    line-height: 1 !important;
}