:root {
    --color-bg-default: #000 !important;
    --color-text-default: #FFF !important;
    --color-text-gray: #8F9BA8 !important;

    --color-bg-brown-light: #F1ECE0 !important;
    --color-bg-blue-light: #C0D5E1 !important;
    
    --navbar-height: 88px !important;
    --transition: all .2s linear !important;

    --container-md: 920px !important;

    --padding-right: calc(env(safe-area-inset-right) + 50px) !important;
    --padding-left: calc(env(safe-area-inset-left) + 50px) !important;
}

*::-webkit-selection { background-color: var(--color-text-gray); color: var(--color-text-default); }
*::-moz-selection { background-color: var(--color-text-gray); color: var(--color-text-default); }
*::selection { background-color: var(--color-text-gray); color: var(--color-text-default); }