:root {
    --color-bg-default: #000 !important;
    --color-text-default: #fff !important;
    
    --navbar-height: 100px !important;
    --transition: all .2s linear !important;

    --container-md: 960px !important;

    --padding-right: calc(env(safe-area-inset-right) + 40px) !important;
    --padding-left: calc(env(safe-area-inset-left) + 40px) !important;
}