:root {
    --color-text-default: #FFF !important;
    --color-text-gray: #8F9BA8 !important;
    --color-bg-default: #000 !important;
    --color-ui-hover-bg: #131419 !important;
    
    --navbar-height: 88px !important;
    --transition: all .2s ease-in-out !important;

    --container-md: 920px !important;
    --column-spacing: 80px !important;

    --padding-right: calc(env(safe-area-inset-right) + 50px) !important;
    --padding-left: calc(env(safe-area-inset-left) + 50px) !important;
}