.notion-column {
    justify-content: center !important;
}

/* // Vertically centered blocks */
#block-63108f9a46ee471982a372959754ed62,
#block-b5c75dedb3d745e296c6fd7572a9275d,
#block-44d5031be119498f98b5a7e0196707c5 {
    justify-content: center !important;
}

@media (max-width: 600px) {

    .notion-column {
        padding: 4px 0 !important;
    }

}