#page-index .notion-header__title,
#page-market .notion-header__title,
#page-guides .notion-header__title,
#page-blog .notion-header__title,
#page-features .notion-header__title,
#page-pricing .notion-header__title,
#page-showcase .notion-header__title,
#page-icons .notion-header__title,
#page-icons-light .notion-header__title,
#page-docs .notion-header__title,
#page-pulse .notion-header__title,
#page-builder .notion-header__title,
#page-careers .notion-header__title,
#page-resources .notion-header__title {
    color: var(--color-grey) !important;
    letter-spacing: -1px !important;
    position: absolute !important;
    font-size: 24px !important;
    top: -50px !important;
    left: 2px !important;
}

.notion-header__content {
    padding-right: var(--padding-right) !important;
    padding-left: var(--padding-left) !important;
    max-width: 1600px !important;
    margin: 0 auto !important;
}

.notion-header__content.max-width {
    max-width: 900px !important;
}

.notion-header__icon-wrapper,
.notion-header__cover.no-cover {
    display: none !important;
}

#page-index .notion-header__title-wrapper,
#page-market .notion-header__title-wrapper,
#page-guides .notion-header__title-wrapper,
#page-blog .notion-header__title-wrapper,
#page-features .notion-header__title-wrapper,
#page-pricing .notion-header__title-wrapper,
#page-showcase .notion-header__title-wrapper,
#page-icons .notion-header__title-wrapper,
#page-icons-light .notion-header__title-wrapper,
#page-docs .notion-header__title-wrapper,
#page-pulse .notion-header__title-wrapper,
#page-builder .notion-header__title-wrapper,
#page-careers .notion-header__title-wrapper,
#page-resources .notion-header__title-wrapper {
    margin-top: 168px !important;
}

.notion-header__title-wrapper {
    margin-top: 120px !important;
}

@media (max-width: 600px) {

    #page-index .notion-header__title-wrapper,
    #page-market .notion-header__title-wrapper,
    #page-blog .notion-header__title-wrapper,
    #page-guides .notion-header__title-wrapper,
    #page-features .notion-header__title-wrapper,
    #page-pricing .notion-header__title-wrapper,
    #page-showcase .notion-header__title-wrapper,
    #page-icons .notion-header__title-wrapper,
    #page-icons-light .notion-header__title-wrapper,
    #page-docs .notion-header__title-wrapper,
    #page-pulse .notion-header__title-wrapper,
    #page-builder .notion-header__title-wrapper,
    #page-careers .notion-header__title-wrapper,
    #page-resources .notion-header__title-wrapper,
    .notion-header__title-wrapper  {
        margin-top: 120px !important;
    }

}