.notion-image {
    margin: 20px auto !important;
}

.notion-image div {
    overflow: visible !important;
}

.notion-image img {
    box-shadow: 0 10px 40px -10px rgba(0,0,0,0.06) !important;
    align-self: flex-start !important;
    margin-bottom: 16px !important;
    border-radius: 12px !important;
    overflow: hidden !important;
}