.notion-navbar {
    display: none !important;
}

.super-navbar {
    padding: 0 var(--padding-right) 0 var(--padding-left) !important;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0) !important;
    transition: height 0.3s ease-in-out !important;
    z-index: 99!important;
}

.super-navbar__content {
    max-width: 1400px !important;
    margin: 0 auto !important;
    padding: 0 !important;
}

.super-navbar__item:hover,
.super-navbar__cta:hover {
    color: var(--color-black) !important;
    opacity: 1 !important;
}

.super-navbar__item {
    letter-spacing: -0.4px !important;
    user-select: none !important;
    opacity: 1 !important;
}

.super-navbar__cta {
    transition: all 0.2s ease-in-out !important;
    letter-spacing: -0.3px !important;
    padding: 12px 20px !important;
    font-weight: 500 !important;
}

.super-navbar.scrolled {
    -webkit-backdrop-filter: blur(20px) saturate(200%) !important;
    -moz-backdrop-filter: blur(20px) saturate(200%) !important;
    backdrop-filter: blur(20px) saturate(200%) !important;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.04) !important;
    background: rgba(255, 255, 255, 0.8) !important;
}
  
.super-navbar.scrolled {
    height: 70px !important;
}

.super-navbar__logo {
    filter: drop-shadow(0 4px 8px rgba(240, 189, 102, 0.2)) !important;
    transition: var(--transition) !important;
    padding: 0 !important;
}

.super-navbar__actions {
    padding: 0 0 0 16px !important;
}
  
.super-navbar__logo-wrapper:hover .super-navbar__logo {
    filter: drop-shadow(0 6px 10px rgba(240, 189, 102, 0.4)) !important;
}

.super-navbar__item.active {
    color: var(--color-black) !important;
}

#page-icons-light .super-navbar { background: rgba(24, 25, 27, 1) !important; }
#page-icons-light .super-navbar.scrolled { background: rgba(24, 25, 27, 0.85) !important; }
#page-icons-light .super-navbar__item:hover { color: var(--color-white) !important; }
#page-icons-light .super-navbar__cta { background: #212224 !important; }