.notion-quote {
    color: var(--color-grey) !important;
    letter-spacing: -1px !important;
    font-weight: 600 !important;
    font-size: 24px !important;
    border: none !important;
    padding: 0 !important;
}

@media (max-width: 600px) {

    .notion-quote {
        font-size: 22px !important;
    }

}