

.notion-collection-group__section .notion-collection-list__toggle-wrapper {
  flex-direction: row-reverse!important;
}
/* Start first col specific */
.notion-root>.notion-column-list>.notion-column:first-child {
    --color-pill-text-default: var(--color-text-default)!important;
    padding-left: 24px !important;
    
    .notion-collection {
      margin-top: 0px !important;
    }
    .notion-collection-list__item-property .notion-pill {
      font-size: .675rem !important;
      padding: 0px 5px !important;
      margin-inline-end: 0!important;
    }
  
  /* Start group list specitic*/ 
  .notion-collection-group__list {

    .notion-collection-group__section:not(:last-child) {
      margin-bottom: 16px!important;
    }
    
    /* Sidebar heading pill */
    .notion-collection-group__section-header .notion-pill {
      padding: 0px !important;
      margin: 0px !important;
      font-weight: 500!important;
      font-size: 16px!important;
      line-height: 1.125rem!important;
      white-space: nowrap!important;
      display: inline-block!important;
      background: transparent!important;
    }
    
    .notion-collection-group__section-header {
      padding: 0px!important;
      padding-bottom: 8px!important;
      margin-bottom: 0px!important;
      display: flex!important;
      align-items: center!important;
      flex-direction: row-reverse!important;
      justify-content: space-between!important;
      opacity: .6!important;
    }
  
    .notion-collection-group__section-header:hover {
      opacity: 1!important;
    }
    .notion-collection-group__section-toggle {
      position: static!important; 
    }
    
    .notion-collection-list {
      border-left: 1px solid var(--color-border-default)!important;
      padding: 0px 0px 0px 6px!important;
      gap: 2px!important;
    }
    
    .notion-collection-list__item {
      padding: 6px 6px!important;
      margin: 0!important;
      font-size: 14px!important;
      border-radius: 8px!important;
      border: 1px solid transparent!important;
      transition: background .15s ease-in-out, border .15s ease-in-out!important;
  
      &:hover {
        border: 1px solid #F1F1F1!important;
      }
    }
  
    
    .notion-collection-list__item .notion-property__title .notion-semantic-string {
      -webkit-margin-end: 4px !important;
      margin-inline-end: 4px !important;
    }
    
    .notion-property__title span {
      font-weight: 400!important;
    }
    
    .active-bg {
      background: var(--color-ui-hover-bg)!important;
      border-color: var(--color-border-default)!important;
    }
  
    .active-text span {
      font-weight: 500!important;
    }
    
    .notion-collection-list__item .notion-property__title .notion-semantic-string > span {
      border-bottom: 0!important;
    }
    
    .notion-collection-list__item-property {
      padding: 0!important;  
    }
  
    .notion-toggle__trigger {
      margin: 0px !important;
    }
    
    .notion-toggle__trigger_icon {
      color: var(--color-gray)!important;
    }
    
    .notion-collection-group__section.open:not(.board) {
      margin-bottom: 0px;
    }
    
    .notion-collection-group__section-header:not(.no-border) {
      border: 0!important;
    }
    /* End group list specific*/
  }
  /* End first col specific */
  }