/*

Context Template
Powered by Super.so

*/

/* Custom font */
@font-face {
    font-family: 'orpheus';
    src:  url('https://sites.super.so/context/assets/orpheus.woff') format('woff'),
          url('https://sites.super.so/context/assets/orpheus.ttf') format('truetype');
}

/* Variables */
:root {
    --padding-right: calc(env(safe-area-inset-right) + 80px) !important;
    --padding-left: calc(env(safe-area-inset-left) + 80px) !important;
    --transition: all .4s cubic-bezier(0.8,0.04,0.4,1) !important;
    --color-text-default-light: rgba(255,255,255,0.4) !important;
    --color-border-default: rgba(255,255,255,0.1) !important;
    --color-text-gray: rgba(255,255,255,0.4) !important;
    --color-bg-default: #9ba0b0 !important;
    --color-text-default: #fff !important;
    --color-primary: #4d586f !important;
    --navbar-height: 100px !important;
}

/* Fade in animation */
body {
    -webkit-animation: fadeIn 1s !important;
    -moz-animation: fadeIn 1s !important;
    animation: fadeIn 1s !important;
}
h1, p, .notion-collection {
    -webkit-animation: fadeInUp 1s !important;
    -moz-animation: fadeInUp 1s !important;
    animation: fadeInUp 1s !important;
}
@keyframes fadeIn { 0% {  opacity: 0; } 100% { opacity: 1; } }
@-moz-keyframes fadeIn { 0% {  opacity: 0; } 100% { opacity: 1; } }
@-webkit-keyframes fadeIn { 0% {  opacity: 0; } 100% { opacity: 1; } }
@keyframes fadeInUp { 0% { transform: translate3d(0,40px,0); } 100% { transform: translate3d(0,0,0); } }
@-moz-keyframes fadeInUp { 0% { transform: translate3d(0,40px,0); } 100% { transform: translate3d(0,0,0); } }
@-webkit-keyframes fadeInUp { 0% { transform: translate3d(0,40px,0); } 100% { transform: translate3d(0,0,0); } }

/* Hides certain elements */
.notion-toggle,
.notion-page__icon,
.notion-header__content,
.notion-collection__header,
.notion-property__title__icon-wrapper,
.notion-breadcrumb__divider,
.notion-breadcrumb__item {
    display: none !important;
}

/* Always show the page title */
.notion-navbar a[href="/"] {
    display: flex !important;
}

/* Sizing & spacing */
.max-width,
.super-content,
.notion-navbar {
    padding-right: var(--padding-right) !important;
    padding-left: var(--padding-left) !important;
}
.super-content {
    padding-bottom: 50px !important;
    padding-top: 80px !important;
}
.notion-header__title { padding: 0 !important; }
.max-width { max-width: 100% !important; }

/* Navbar */
.notion-navbar {
    background: rgba(155,160,176,0.94) !important;
    height: var(--navbar-height) !important;
    box-shadow: none !important;
    position: fixed !important;
}
.notion-breadcrumb__divider,
.notion-navbar__title,
.notion-quote, p {
    font-size: 26px !important;
}
.notion-navbar>a:hover { background: none !important; }
.notion-breadcrumb__divider { margin: -4px 4px 0 !important; }
.notion-navbar__title { overflow: visible !important; }
.notion-quote {
    padding: 0 var(--padding-right) 0 0 !important;
    height: var(--navbar-height) !important;
    justify-content: flex-end !important;
    align-items: center !important;
    position: fixed !important;
    z-index: 9999 !important;
    display: flex !important;
    border: none !important;
    margin: 0 !important;
    right: 0 !important;
    top: 0 !important;
}

/* Text + link elements */
h1, h2, h3, p, a {
    font-family: 'orpheus', serif !important;
    font-weight: 100 !important;
}
h1 {
    line-height: 1.4 !important;
    font-size: 62px !important;
}
h2 { font-size: 30px !important; }
h1 a { color: var(--color-primary) !important; }
.notion-semantic-string .link { border: none !important; }

/* Collection list */
.notion-collection-list {
    border: none !important;
    padding: 0 !important;
}
.notion-collection-list__item {
    transition: var(--transition) !important;
    color: var(--color-primary) !important;
    font-size: 48px !important;
    padding: 12px 0 !important;
    opacity: 0.7 !important;
}
.notion-collection-list__item:hover {
    padding-left: 20px !important;
    background: none !important;
    opacity: 1 !important;
}
.notion-property__title .notion-semantic-string>span { border: none !important; }

/* Code block */
.notion-semantic-string .code {
    background: var(--color-border-default) !important;
    color: rgba(255,255,255,0.6) !important;
    display: inline-block !important;
    padding: 12px 20px !important;
    font-size: 16px !important;
    margin: 12px 0 !important;
}

/* Mobile styles */
@media (max-width: 800px) {
    :root {
        --navbar-height: 60px !important;
        --padding-right: 24px !important;
        --padding-left: 24px !important;
    }
    h1 { font-size: 36px !important; }
    h2, .notion-collection-list__item { font-size: 24px !important; }
    .notion-breadcrumb__divider,
    .notion-navbar__title,
    .notion-quote {
        font-size: 20px !important;
    }
    .super-content { padding-top: 40px !important; }
}