@import "variables";
@import "mixins";
@import "components/view-switcher";
@import "components/collection";
@import "components/toggle";
@import "components/navbar";
@import "components/footer-cta";

// –––––––––––––––––
// Base
// –––––––––––––––––

::selection {
    background: rgba(255, 193, 88, 0.4) !important;
}
::-moz-selection {
    background: rgba(255, 193, 88, 0.4) !important;
}

body {
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    text-rendering: optimizeLegibility !important;
    font-weight: 400 !important;
}

// ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
// Global Styles
// ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

// hide brown toggles
.notion-toggle.bg-brown {
    display: none !important;
}

// –––––––––––––––––
// Media
// –––––––––––––––––
.notion-video video,
.notion-embed__container > iframe {
    border-radius: 24px !important;
}

// –––––––––––––––––
// Typography
// –––––––––––––––––
// h1
h1,
h1.notion-heading,
h1.notion-heading span {
    font-size: clamp(2.6rem, 6vw, 3.6rem) !important;
    line-height: 1.1 !important;
    letter-spacing: -2.5px !important;
}
// h2
h2,
h2.notion-heading,
h2.notion-heading span {
    font-size: clamp(2rem, 4vw, 2.4rem) !important;
    line-height: 1.1 !important;
    margin-bottom: 8px !important;
}

h2.notion-heading .notion-semantic-string {
    letter-spacing: -1.5px !important;
}

.notion-text {
    color: var(--gray-600) !important;
    & * {
        line-height: 1.6 !important;
    }
}

.notion-root > .notion-heading {
    margin-bottom: 16px !important;
}

.super-root:not(#page-index, #page-pricing, #page-pricing-annual) {
    .notion-root > h1.notion-heading {
        max-width: 48rem !important;
        margin-top: 16px!important;
    }
}

// –––––––––––––––––
// Footer
// –––––––––––––––––
.super-footer__footnote {
    opacity: 0.4 !important;
    text-align: left !important;
}

// –––––––––––––––––
// Video modal
// –––––––––––––––––
// .modal-closed {
//     display: none !important;
// }

// .modal-open {
//     display: flex !important;
// }

// ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
// Page specific Styles
// ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
// –––––––––––––––––
// Header
// –––––––––––––––––
#page-index,
#page-pricing,
#page-pricing-annual {
    .notion-header__title {
        display: none !important;
    }
}

#page-templates,
#page-showcase,
#page-icons,
#page-icons-light,
#page-illustrations,
#page-guides,
#page-blog,
#page-create,
#page-report,
#page-builder {
    .notion-header__title {
        color: var(--gray-300) !important;
        letter-spacing: -1px !important;
        position: absolute !important;
        font-size: 24px !important;
        top: 100px !important;
        left: 2px !important;

        @include breakpoint-xs {
            top: 40px !important;
        }
    }
}

#page-index,
.parent-page__index:not(#page-privacy, #page-terms) {
    .notion-header__cover {
        height: 110vh !important;
        width: 100% !important;
        max-height: none !important;
        z-index: -9999 !important;
        position: absolute !important;
        top: -110px !important;

        &::after {
            content: "" !important;
            position: absolute !important;
            z-index: 1 !important;
            bottom: -2px !important;
            background-image: linear-gradient(
                to bottom,
                rgba(253, 253, 252, 0),
                rgba(253, 253, 252, 1) 100%
            ) !important;
            width: 100% !important;
            height: 100vh !important;
        }

        img {
            position: absolute;
            object-position: center !important;
            object-fit: cover !important;
            height: 100% !important;
            width: 90% !important;
            z-index: -9999 !important;
        }
    }

    .notion-header__icon-wrapper,
    .notion-header__cover.no-cover {
        display: none !important;
    }

    // –––––––––––––––––
    // Layout
    // –––––––––––––––––
    .super-content {
        padding-top: 120px !important;
        max-width: 1280px !important;
        margin: 0 auto !important;

        @include breakpoint-xs {
            padding-top: 100px !important;
        }
    }

    // –––––––––––––––––
    // Header
    // –––––––––––––––––

    .notion-header__content {
        margin: 0 auto !important;
        max-width: 1280px !important;

        .notion-header__title-wrapper {
            margin-bottom: 4px;
            position: relative;
            margin-top: 0px !important;
            z-index: 1 !important;
        }
    }
}

// –––––––––––––––––
// Misc
// –––––––––––––––––
#page-icons .notion-page,
#page-icons-light .notion-page,
#page-pricing .notion-page,
#page-pricing-annual .notion-page,
#page-illustrations .notion-page {
    display: none !important;
}

// Submit template button
// Submit showcase button
// Builder duplicate button
// Icon light toggle button
// Icon dark toggle button
#block-a86b81903a6543e79aaccdb292aaefa2 .notion-link,
#block-4bc224d57a9d4a33acf1c1115706792d .notion-link,
#block-d4275c52214e4bc3929a23f991fa9c18 .notion-link,
#block-85d934e03c8840b29134ed96836c9b33 .notion-link,
#block-1b6a89ce78f34f42b0bfe60f07482ffa .notion-link,
#block-7ee63c2361cb48188152939336f9ea8e .notion-link {
    margin-top: 16px !important;
    @include button-secondary-gray;
    padding: 7px 16px 8px 16px !important;
}

// –––––––––––––––––
// Dark bg callout
// –––––––––––––––––
#page-builder .notion-callout.bg-gray-light,
#page-index .notion-callout.bg-gray-light {
    background: var(--gray-900) !important;
    color: var(--base-white) !important;
    transition: box-shadow 0.2s ease-out !important;
    padding: 48px !important;
    background-clip: padding-box !important;
    border: solid 1px transparent !important;
    position: relative !important;

    @include breakpoint-xs {
        padding: 8px !important;
    }

    &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        margin: -1px;
        border-radius: inherit;
        background: linear-gradient(to right, rgb(95, 95, 95), rgb(239, 239, 239));
    }

    .notion-text {
        color: var(--gray-200) !important;
    }
}
