@import "mixins";
// –––––––––––––––––
// Page: index
// –––––––––––––––––
#page-index {
    .super-content-wrapper {
        overflow: hidden !important;
    }

    .super-content {
        @include breakpoint-sm {
            padding-left: 25px !important;
            padding-right: 25px !important;
        }
    }
}

// Feature images
// 1. Your content lives in Notion
// 2. Customize to match your brand

#block-47d80926dfb54a588732432a8a7d9565,
#block-638dabeaf2b146d7bd92521e650cf64e {
    position: relative !important;

    &::after {
        content: "" !important;
        position: absolute !important;
        left: 0 !important;
        top: 0 !important;
        background-image: linear-gradient(to bottom, rgba(253, 253, 252, 0), rgba(253, 253, 252, 1) 100%) !important;
        width: 120% !important;
        height: 100% !important;
    }
}

// Feature icons
// 1. Your content lives in Notion
// 2. Customize to match your brand
#block-aee16c9e7f704fdea51d1e1d3b8ac4f0,
#block-3cb9d6fc0b2c4516b73480fc7ba14901 {
    align-self: flex-start !important;
}

// Feature paragraphs
#block-c3c403a9d51e4fec87372aeb0fd7707c,
#block-b5aeedef74b0434f9ae72560c9962bd9,
#block-8ed31ce480824ac284f5b93f7cf04ac7,
#block-7d64ae3e538840a49c44f4c000a0abd5 {
    max-width: 40rem !important;
}

// –––––––––––––––––
// section-hero
// –––––––––––––––––
// No CC required
#block-456681c2bf7f4461ac51a39dbb35e44a {
    @include text-sm;
    margin-top: 8px !important;
}

// Hero subtext
#block-9a6e043bd0b742068d2d91081eaca2fa {
    @include text-lg;
    max-width: 48rem !important;
    margin: 16px auto 0 !important;
}

// Video button
#block-ca319f58fb8f4a0ab5bb814aeffd6062 {
    @include button-secondary-gray;
    padding: 7px 16px 8px 16px !important;

    .notion-link {
        @include button-secondary-gray;
        padding: 7px 16px 8px 16px !important;
        box-shadow: var(--shadow-md) !important;
    }

    @include breakpoint-xs {
        margin-top: 16px !important;
    }
}

// Video
#block-0566e957626d48dfb97500a48d34fe8e {
    position: fixed !important;
    top: 0 !important;
    padding: 6rem !important;
    left: 0 !important;
    width: 100% !important;
    height: 100vh !important;
    display: none;
    justify-content: center!important;
    align-items: center!important;
    z-index: 999 !important;
    background: rgba(0, 0, 0, 0.4) !important;

    & .hidden {
        display: none !important;
    }

    .notion-callout__content {
        display: flex !important;
        align-items: center !important;
        flex-direction: column !important;
        max-width: 900px!important;
    }

    .notion-image {
        align-self: flex-end !important;
        background: rgba(255, 255, 255, 0.3) !important;
        border-radius: 100px !important;
        display: flex !important;
        align-items: center !important;
        padding: 8px !important;
        margin-bottom: 16px !important;
        cursor: pointer !important;
        transition: background 0.2s ease-in-out !important;

        &:hover {
            background: rgba(255, 255, 255, 0.5) !important;
        }

        img {
            height: 32px !important;
            width: 32px !important;
        }
    }
}

#block-a00cb4de7898428b9501e67cc48f19a5 {
    text-align: center !important;
    // @include center;

    h1.notion-heading {
        max-width: 800px !important;
        margin: 0 auto !important;
        margin: 16px auto 0 !important;
    }

    .notion-link {
        @include button-primary-default;
        box-shadow: var(--shadow-md) !important;
    }

    // Notion to Super images
    .notion-column-list {
        gap: 4px !important;
        @include breakpoint-xs {
            flex-direction: column !important;
            align-items: center !important;
        }
    }

    .notion-column {
        margin-inline-start: 0px !important;
        padding: 0px !important;

        @include breakpoint-sm {
            width: 100% !important;
        }

        // Notion
        &:nth-child(1) {
            flex: 1 !important;
        }

        // Super
        &:nth-child(3) {
            flex: 1 !important;
        }

        // Arrow
        &:nth-child(2) {
            width: 3% !important;
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
            margin: 0px 8px !important;

            @include breakpoint-xs {
                width: 10% !important;
            }

            .notion-image {
                margin: 0 auto !important;
                opacity: 0.2 !important;
                @include breakpoint-xs {
                    transform: rotate(90deg) !important;
                }
            }
        }

        .notion-callout {
            .notion-image {
                filter: drop-shadow(0px 10px 12px rgba(0, 0, 0, 0.06));
                -webkit-filter: drop-shadow(0px 10px 12px rgba(0, 0, 0, 0.06));
            }
        }
    }
}
// –––––––––––––––––
// section-credibility-logos
// –––––––––––––––––
#block-936c07766ae8466b80cc2a4ac2242942 {
    text-align: center !important;
}

#block-c2b91ef5f88a4f49a294e572dc98ca5f.notion-callout {
    .notion-callout__content {
        display: flex !important;
        flex-wrap: wrap !important;
        max-width: 800px !important;
        gap: 32px !important;
        margin: 0 auto !important;
        justify-content: center !important;

        @include breakpoint-xs {
            max-width: 100% !important;
            gap: 16px !important;
        }

        .notion-image {
            padding: 4px 16px !important;
            max-width: 180px !important;
            filter: saturate(0) contrast(0.7) !important;

            @include breakpoint-xs {
                max-width: 130px !important;

                &:nth-child(4) {
                    max-width: 100px !important;
                }
            }
        }
    }
}

// –––––––––––––––––
// section-main_features
// –––––––––––––––––
#page-index #block-4ec0da2865a3465eae8ce500894d1281 {
    @include full-width-section(var(--gray-900));
}
// –––––––––––––––––
// section-testimonials
// –––––––––––––––––
#page-index #block-88bbe3ad95784b4bae4613cdc44f843a {
    --column-spacing: 24px !important;
    text-align: center !important;
    @include full-width-section(#f9f9f8);

    .notion-link {
        border: 0 !important;
    }

    .notion-callout__content > .notion-text {
        opacity: 0.7 !important;
        margin-top: 8px !important;
    }

    .notion-callout {
        padding: 24px !important;
        padding-top: 20px !important;
        border: 1px solid #f2f1f1 !important;
        border-radius: 16px !important;
        margin-bottom: 24px !important;
        text-align: left !important;
        cursor: default !important;
        transition: all 0.15s ease-out !important;
        @include text-sm;
        background: #fdfdfc !important;

        &:hover {
            box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 20px 0px !important;
            border: 1px solid transparent !important;
            transform: translateY(-2px) !important;
        }

        .notion-column-list {
            align-items: center !important;

            .notion-image {
                width: 56px !important;
                height: 56px !important;
                border-radius: 50% !important;

                img {
                    border-radius: 50% !important;
                }
            }
        }

        .notion-column {
            padding: 0px !important;

            &:first-child {
                max-width: fit-content !important;
            }

            &:last-child {
                margin-inline-start: 16px !important;

                @include breakpoint-sm {
                    width: calc((100% - var(--column-spacing) * 1) * 0.75) !important;
                }
            }

            .notion-text {
                min-height: auto !important;
            }

            .notion-text__content {
                padding: 0px !important;
            }
        }
    }

    // Column list wrapper
    #block-618181ac627d4b07b192a8a07578d857 {
        margin-top: 16px!important;

        .notion-column {
            @include breakpoint-md {
                flex-grow: 1 !important;
            }
        }
    }

    // Third column
    #block-575b8344f4364ea59201c4e73e5020dc {
        @include breakpoint-md {
            display: none !important;
        }
    }
}

#block-3b03677a8afc4486b464f43409fedcd3 {
    max-width: 776px;
    margin: auto;
}

// –––––––––––––––––
// section-templates
// –––––––––––––––––
#page-index #block-ac8563a8ae1a4967a27d8383bdf78f77 {
    @include full-width-section(var(--gray-900));

    .notion-heading {
        color: var(--base-white) !important;
    }

    .notion-text {
        opacity: 0.95 !important;
    }

    .notion-collection-gallery {
        gap: 24px !important;
        display: grid !important;
        width: 100% !important;
        flex: 3 !important;
        grid-template-columns: 1fr 1fr 1fr !important;

        .notion-collection-card {
            background: var(--gray-800) !important;
            color: var(--base-white) !important;
        }

        .notion-collection-card__cover.large {
            height: 300px !important;
            max-height: 300px !important;
        }

        // Type property
        .property-5f417276 {
            margin-top: 8px !important;

            span {
                background: var(--gray-900) !important;
                color: var(--gray-200) !important;
                @include text-base;
                padding: 4px 8px !important;
            }
        }

        @include breakpoint-md {
            grid-template-columns: 1fr 1fr !important;
        }

        @include breakpoint-xs {
            grid-template-columns: 1fr !important;
        }
    }
}
// –––––––––––––––––
// section-showcase
// –––––––––––––––––
#block-41e832c0a32a4c35ab58e507af0f105a {
    .notion-text .notion-link:first-of-type {
        @include button-secondary-gray;
        margin-top: 16px !important;
    }

    .notion-collection-card__cover.large {
        height: 300px !important;
        max-height: 300px !important;
    }
}
// –––––––––––––––––
// section-other-features
// –––––––––––––––––
#page-index #block-e3c38ab927894e78b4eca1d2cebdd6a9 {
    text-align: center !important;
    overflow: visible !important;
    @include full-width-section(var(--gray-900));

    .notion-link:last-child {
        @include button-primary-default;
    }

    .notion-collection-gallery.small {
        gap: 30px !important;
        grid-row-gap: 50px !important;

        @include breakpoint-xs {
            grid-template-columns: 1fr 1fr !important;
            grid-row-gap: 0px !important;
        }

        .notion-collection-card {
            box-shadow: none !important;
            background: transparent !important;
            display: flex !important;
            align-items: center !important;
            justify-content: flex-start !important;
            flex-direction: column !important;
            overflow: visible !important;
            border: 0 !important;

            .notion-property__title {
                transition: color 0.2s ease-in-out !important;
                @include text-lg;
            }

            // &:hover {
            //     border: 0!important;
            //     transform: none!important;
            // }

            &:hover .notion-property__title {
                color: var(--base-white) !important;
            }
        }

        .notion-collection-card__cover {
            /* Primary/50 */
            background: var(--gray-800);
            /* Primary/300 */
            border: 1px solid var(--gray-700);
            width: 72px !important;
            height: 72px !important;
            min-height: 72px !important;
            display: flex !important;
            justify-content: center !important;
            align-items: center !important;
            border-radius: 12px !important;
            transition: all 0.15s ease-out !important;
            /* Shadow/special */
            // filter: drop-shadow(0px 4px 11px rgba(53, 53, 53, 0.01)) drop-shadow(0px 0px 7px rgba(251, 180, 60, 0.45))!important;

            img {
                height: 32px !important;
                width: 32px !important;
                max-width: 32px !important;
                max-height: 32px !important;
                min-height: 32px !important;
            }
        }
    }
}
// –––––––––––––––––
// section-notion
// –––––––––––––––––
#page-index #block-4efa8492d79a427cb7659632ebf70754 {
    justify-content: center !important;
    align-items: center !important;
    overflow: hidden !important;
    @include full-width-section(var(--gray-900));
    border: 0px !important;

    @include breakpoint-md {
        text-align: center !important;
        padding-bottom: 20px !important;
    }

    .notion-column {
        margin: 0px !important;
        padding: 0px !important;
        position: relative !important;

        @include breakpoint-md {
            width: 100% !important;
        }

        .notion-image {
            position: absolute !important;
            top: 12px !important;
            margin: 0 auto !important;
            margin-left: 65px !important;
            background: var(--base-white) !important;
            border-radius: 10px !important;
        }

        &:last-child {
            display: flex !important;
            justify-content: center !important;
            align-items: center !important;

            @include breakpoint-md {
                display: none !important;
            }
        }
    }

    a.notion-link {
        @include button-primary-light;
        margin-top: 16px !important;
    }
}

// –––––––––––––––––
// Dark bg callout
// –––––––––––––––––
#page-builder .notion-callout.bg-gray-light,
#page-index .notion-callout.bg-gray-light {
    background: var(--gray-900) !important;
    color: var(--base-white) !important;
    transition: box-shadow 0.2s ease-out !important;
    padding: 48px !important;
    background-clip: padding-box !important;
    border: solid 1px transparent !important;
    position: relative !important;
    border-radius: 24px!important;

    .notion-callout__icon {
        display: none!important;
    }

    @include breakpoint-xs {
        padding: 8px !important;
    }

    &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        margin: -1px;
        border-radius: inherit;
        background: linear-gradient(to right, rgb(95, 95, 95), rgb(239, 239, 239));
    }

    .notion-text {
        color: var(--gray-200) !important;
    }
}