// –––––––––––––––––   
// SASS Mixins
// –––––––––––––––––
@mixin button {
    opacity: 1!important;
    padding: var(--button-padding)!important;
    border-radius: var(--rounded-md)!important;
    font-weight: 500!important;
    @include text-base;
    display: inline-flex!important;
    justify-content: center!important;
    cursor: pointer!important;
    transition: background .2s ease-in-out, transform .1s ease-in-out, box-shadow .15s ease-in-out!important;
}
    
@mixin button-primary {
    @include button;
    border: 0px!important;

    &:active {
    transform: translateY(1px)!important;
    }
}
    
@mixin button-primary-default {
    @include button-primary;
    background: var(--primary-500)!important;
    color: var(--base-black)!important;

    &:hover {
        box-shadow: 0px 5px 28px -6px rgba(255, 190, 61, 1)!important;
        -webkit-box-shadow: 0px 5px 28px -6px rgba(255, 190, 61, 1)!important;
        background: var(--primary-600)!important;
    } 
}

@mixin button-primary-dark {
    @include button-primary;
    background: var(--base-black)!important;
    color: var(--base-white)!important;

    &:hover {
        box-shadow: 0px 5px 28px -6px rgba(255, 190, 61, 1)!important;
        -webkit-box-shadow: 0px 5px 28px -6px rgba(255, 190, 61, 1)!important;
        background: var(--gray-900)!important;
    }
}
    
@mixin button-primary-light {
    @include button-primary;
    background: var(--base-white)!important;
    color: var(--gray-900)!important;


    &:hover {
        background: var(--gray-200)!important;
    }
}
    
@mixin button-secondary-gray {
    @include button;
    border: 1px solid var(--gray-50)!important;
    color: var(--gray-700)!important;
    background: var(--base-white)!important;

    &:hover {
        background: var(--gray-25)!important;
        color: var(--gray-900)!important;
    }
}
    
@mixin button-special {
    @include button;
    background: var(--base-white)!important;
    border: 1px solid var(--primary-500);
    box-shadow: 0px 4px 11px rgba(53, 53, 53, 0.01), 0px 0px 7px rgba(251, 180, 60, 0.45);
    color: var(--gray-700)!important;

    &:hover {
        background: var(--primary-500)!important;
        color: var(--base-black)!important;
    }
}

@mixin black-pill {
    background-color: var(--base-black)!important;
    color: var(--base-white)!important;
    border-radius: 100px!important;
    padding: 4px 8px 4px 8px!important;
    font-family: inherit!important;
    font-size: 0.75rem!important;
}

@mixin center {
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
}

@mixin full-width-section($bg-color) {
    width: 100vw!important;
    position: relative!important;
    margin-left: -50vw!important;
    height: auto!important;
    left: 50%!important;
    background: $bg-color!important;
    border-radius: 0px!important;

    & > .notion-callout__content {
        padding-top: 80px!important;
        padding-bottom: 80px!important;
        max-width: 1280px!important;
        margin: 0 auto!important;
        padding-left: calc(env(safe-area-inset-left) + 96px);
        padding-right: calc(env(safe-area-inset-right) + 96px);

        @include breakpoint-xs {
            padding: 60px 25px!important;
        }
    }
}

// –––––––––––––––––   
// Media Query Mixins
// –––––––––––––––––

@mixin above-xs {
    @media all and (min-width: 576px) { 
        @content;
    }
}

@mixin breakpoint-xs {
    @media screen and (max-width: 576px) {
        @content;
    }
}

@mixin breakpoint-sm {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin breakpoint-md {
    @media screen and (max-width: 992px) {
        @content;
    }
}

@mixin breakpoint-lg {
    @media screen and (max-width: 1100px) {
        @content;
    }
}

@mixin breakpoint-xl {
    @media screen and (max-width: 1400px) {
        @content;
    }
}

@mixin text-sm {
    font-size: 0.875rem!important;
}

@mixin text-base {
    font-size: 1rem!important;
}

@mixin text-lg {
    font-size: 1.125rem!important;
}

// –––––––––––––––––   
// Variables
// –––––––––––––––––

:root {
    --primary-font: 'Beausite Classic'!important;
    --secondary-font: 'Beausite Classic'!important;
    --collection-card-cover-height-small: 48px!important;
    --rounded-md: 8px!important;
    --padding-layout: 1rem!important;
    --primary-500: #FFBE3C!important;
    --primary-600: #FBB43C!important;
    --gray-25: #F7F8F9!important;
    --gray-50: #F2F4F5!important;
    --gray-100: #E6E9ED!important;
    --gray-200: #CCD1D6!important;
    --gray-300: #B3BAC2!important;
    --gray-500: #808C99!important;
    --gray-600: #66707A!important;
    --gray-700: #4D545C!important;
    --gray-800: #33383D!important;
    --gray-900: #262A2E!important;
    --base-white: #ffffff!important;
    --base-warm-gray: #FDFDFC!important;
    --base-cold-white: #F9FAFE!important;
    --base-black: #111111!important;
    --color-bg-default: #FDFDFC!important;
    --color-text-default: var(--gray-900)!important;
    --column-spacing: 32px!important;
    --navbar-height: 80px!important; 
    --button-padding: 13px 16px 14px 16px!important;
    --shadow-md: 0px 12px 40px -3px rgba(18,18,32,0.05)!important;
} 

// –––––––––––––––––   
// Fonts
// –––––––––––––––––

@font-face {
    font-family: 'Beausite Classic';
    src: url('https://sites.super.so/super/assets/fonts/beausite-regular.eot');
    src:  url('https://sites.super.so/super/assets/fonts/beausite-regular.woff') format('woff'),
        url('https://sites.super.so/super/assets/fonts/beausite-regular.woff2') format('woff2'),
        url('https://sites.super.so/super/assets/fonts/beausite-regular.ttf') format('truetype'),
        url('https://sites.super.so/super/assets/fonts/beausite-regular.eot?#iefix') format('embedded-opentype'),
        url('https://sites.super.so/super/assets/fonts/beausite-regular.svg#beausite-regular') format('svg');
    font-weight: 400;
}

@font-face {
    font-family: 'Beausite Classic';
    src: url('https://sites.super.so/super/assets/fonts/beausite-medium.eot');
    src:  url('https://sites.super.so/super/assets/fonts/beausite-medium.woff') format('woff'),
        url('https://sites.super.so/super/assets/fonts/beausite-medium.woff2') format('woff2'),
        ururl('https://sites.super.so/super/assets/fonts/beausite-medium.eot?#iefix') format('embedded-opentype'),
        url('https://sites.super.so/super/assets/fonts/beausite-medium.svg#beausite-medium') format('svg');
    font-weight: 500;
}

@font-face {
    font-family: 'Beausite Classic';
    src: url('https://sites.super.so/super/assets/fonts/beausite-bold.eot');
    src:  url('https://sites.super.so/super/assets/fonts/beausite-bold.woff') format('woff'),
        url('https://sites.super.so/super/assets/fonts/beausite-bold.woff2') format('woff2'),
        url('https://sites.super.so/super/assets/fonts/beausite-bold.ttf') format('truetype'),
        url('https://sites.super.so/super/assets/fonts/beausite-bold.eot?#iefix') format('embedded-opentype'),
        url('https://sites.super.so/super/assets/fonts/beausite-bold.svg#beausite-bold') format('svg');
    font-weight: 600;
}

// –––––––––––––––––   
// Base
// –––––––––––––––––

::selection {
    background: rgba(255, 193, 88, .4)!important;
}
::-moz-selection {
    background: rgba(255, 193, 88, .4)!important;
}

body {
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    text-rendering: optimizeLegibility !important;
    font-weight: 400!important;
}

// ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
// Global Styles
// ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
// –––––––––––––––––
// Layout
// –––––––––––––––––
.super-content {
    padding-top: 120px!important;
    max-width: 1280px!important;
    margin: 0 auto!important;

    @include breakpoint-xs {
        padding-top: 100px!important;
    }
}
.notion-toggle.bg-brown {
    display: none!important;
}

// –––––––––––––––––
// Media
// –––––––––––––––––
.notion-video video {
    border-radius: 24px!important;
}

.notion-embed__container > iframe {
    border-radius: 24px!important; 
}

// –––––––––––––––––
// Typography
// –––––––––––––––––
// h1
h1.notion-heading, h1, h1.notion-heading span  {
    font-size : clamp(2.6rem, 6vw, 3.6rem)!important;
    line-height: 1.1!important;
    letter-spacing: -2.5px!important;
}
// h2 
h2.notion-heading, h2, h2.notion-heading span {
    font-size : clamp(2rem, 4vw, 2.4rem)!important;
    line-height: 1.1!important;
    margin-bottom: 8px!important;
}

h2.notion-heading .notion-semantic-string  {
    letter-spacing: -1.5px!important;
}

.notion-text {
    color: var(--gray-600)!important;
    & * {
        line-height: 1.6!important;
    }
}

.notion-root > .notion-heading {
    margin-bottom: 16px!important;
}

.super-content {
    padding-top: 6rem!important;
    @include breakpoint-xs {
        padding-top: 2.4rem!important;
    }
}

// –––––––––––––––––
// Callouts
// –––––––––––––––––
.notion-callout {
    padding: 0px!important;
    margin: 0px!important;
    border: none!important;
    overflow: visible!important;

    .notion-callout__icon {
        display: none!important;
    }
    .notion-callout__content {
        margin-inline-start: 0px!important;
        overflow: visible!important;

        & > span {
            display: none!important;
        }
    }
}

#page-index, #page-pricing, #page-pricing-annual {
    .notion-header__title {
        display: none!important;
    }
}

.super-root:not(#page-index, #page-pricing, #page-pricing-annual) {
    .notion-root > h1.notion-heading {
        max-width: 48rem!important;
    }
}

// –––––––––––––––––
// Collections
// –––––––––––––––––
.notion-collection {
    .notion-collection__header {
        display: none!important;
    }

    .notion-collection-gallery {
        border-top: 0px!important;
    }

    .notion-collection-gallery.small {
        .notion-collection-card {
            box-shadow: none!important;
            border: 1px solid var(--gray-50)!important;
            text-align: center!important;
            padding: 24px 0px!important;
            background: transparent!important;

            &:hover {
                border: 1px solid var(--gray-100)!important;
            }

            &:hover .notion-property__title {
                color: var(--base-black)!important;
            }

            .notion-property__title {
                justify-content: center!important;
                @include text-sm;
                color: var(--gray-300)!important;
            }
        }
    }

    .notion-collection-gallery.large, 
    .notion-collection-gallery.medium  {
        gap: 32px!important;
        border-top: 0px!important;

        .notion-collection-card {
            border-radius: 8px!important;
            box-shadow:
            2.6px 4px 2.6px rgba(0, 0, 0, 0.007),
            7.3px 11px 7.1px rgba(0, 0, 0, 0.01),
            17.5px 26.5px 17.2px rgba(0, 0, 0, 0.013),
            58px 88px 57px rgba(0, 0, 0, 0.02)!important;
            position: relative!important;
            transition: all .15s ease-in-out!important;
        
            &:hover {
                box-shadow: 0 20px 40px -10px rgba(0,0,0,0.12) !important;
                background: var(--base-white) !important;
                transform: translateY(-8px) !important;
            }

            .notion-collection-card__content {
                margin-top: 0px!important;

                .notion-collection-card__property {
                    min-height: unset!important;

                    span {
                        color: var(--gray-500)!important;
                        @include text-base;
                    }
                }

                // Price property
                .property-7a5f6142 {

                    span {
                        position: absolute!important;
                        top: 8px!important;
                        right: 8px!important;
                        background: var(--base-white)!important;
                        color: var(--base-black)!important;
                        width: 48px!important;
                        height: 48px!important;
                        padding: 4px!important;
                        display: flex!important;
                        justify-content: center!important;
                        align-items: center!important;
                        border-radius: 100%!important;
                        @include text-lg;
                        font-weight: 500!important;
                        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.06)!important;
                    }
                }

                // Author property
                .property-52525675 {
                    display: flex!important;
                    align-items: center!important;
                    @include text-base;

                    .notion-page__icon {
                        display: none!important;
                    }

                    .notion-page__title .notion-semantic-string {
                        border: 0!important;
                        font-weight: 300!important;
                    }

                    &::before {
                        color: var(--gray-500)!important;
                        content: 'by';
                        margin-right: 4px!important;
                    }
                }

                // Type property
                .property-5f417276 {
                    margin-top: 8px!important;

                    span {
                        background: var(--gray-25)!important;
                        color: var(--gray-500)!important;
                        @include text-base;
                        padding: 4px 8px!important;
                    }
                }
            }

            .notion-property__title {
                @include text-lg;
            }
        
            .notion-property__title__icon-wrapper {
                display: none!important;
            }

            .notion-collection-card__cover::after {
                opacity: 0!important;
                content: 'Preview ↗';
                position: absolute!important;
                display: flex!important;
                justify-content: center!important;
                align-items: center!important;
                left: 0!important;
                right: 0!important;
                width: 100%!important;
                height: 100%!important;
                background-color: rgba(0,0,0,.7)!important;
                color: white!important;
                font-size: 32px!important;
                transition: opacity .2s ease-out;
            }
        
            .notion-collection-card:hover .notion-collection-card__cover::after {
                opacity: 1!important;
            }
        }
    }
}

// –––––––––––––––––
// Footer
// –––––––––––––––––
.super-footer__footnote {
    opacity: .4!important;
    text-align: left!important;
}

// –––––––––––––––––
// Database view picker
// –––––––––––––––––
.notion-dropdown {
    font-family: var(--primary-font)!important;
    width: 100%!important;

    .notion-dropdown__menu-header, 
    .notion-dropdown__option-icon, 
    .notion-dropdown__button svg:first-of-type {
        display: none!important;
    }

    .notion-dropdown__button {
        justify-content: space-between!important;
        width: 100%!important;
        border: 1px solid var(--color-border-default)!important;
        padding: 10px!important;
        border-radius: 8px!important;
    }
    
    .notion-dropdown__menu-wrapper {
        margin-bottom: 16px!important;
        position: relative!important;
    
        .notion-dropdown__menu {
            width: 100%!important;
            border-radius: 8px!important;
            transform: none !important;
            left: auto !important;
            top: auto !important;
    
            .notion-dropdown__option-list {
                padding: 0px!important;
                flex-wrap: wrap!important;
            
                .notion-dropdown__option {
                    padding: 5px 16px!important;
                    height: 50px!important;
                }
            }
        }
    }
}

@include above-xs {
    .notion-dropdown__button {
        display: none !important;
    }

    .notion-dropdown__menu.initial-state {
        z-index: 1 !important;
        opacity: 1 !important;
        transform: none !important;
    }

    .notion-dropdown__menu.animate-in.animate-out,
    .notion-dropdown__menu.animate-in,
    .notion-dropdown__menu.animate-out {
        animation: none!important;
    }

    .notion-dropdown__menu {
        width: 80%!important;
        margin: 0 auto!important;
        background: none !important;
        box-shadow: unset !important;
        position: relative !important;

        .notion-dropdown__option-list {
            display: flex !important;
            gap: 8px!important;

            .notion-dropdown__option.active-filter {
                background: var(--gray-50)!important;
            }
            
            .notion-dropdown__option {
                border-radius: 50px!important;
                border: 1px solid var(--gray-50)!important;
                transition: all .15s ease-in-out!important;
                align-items: center!important;

                &:hover {
                    background: var(--gray-50)!important;
                }

                p {
                    @include text-base;
                    color: var(--color-grey)!important;
                }
            }
        } 
    }
}

// View picker inside dark background
.notion-callout.bg-gray-light {

    .notion-dropdown__option {
        border: 1px solid var(--gray-800)!important;
    }

    .notion-dropdown__option:hover {
        background: var(--gray-800)!important;
    }

    .notion-dropdown__option.active-filter {
        background: var(--gray-800)!important;
    }
    
    @include breakpoint-xs {

        .notion-dropdown__button {
            border: 1px solid var(--gray-700)!important;

            &:hover {
                background: var(--gray-800)!important;
            }
        }
    
        .notion-dropdown__menu {
            background: var(--gray-900)!important;
        }

        .notion-dropdown__option {
            border: 1px solid var(--gray-900)!important;
        }
    }
}

// –––––––––––––––––
// Toggles
// –––––––––––––––––
.notion-toggle.open:before {
    position: absolute!important;
    font-weight: 100 !important;
    font-size: 24px !important;
    line-height: 1 !important;
    opacity: 0.4 !important;
    content: "-" !important;
    top: 24px!important;
    left: 20px!important;
}

.notion-toggle {
    border: 1px solid #ebebeb!important;
    border-radius: 12px!important;
    margin-bottom: 16px!important;
    position: relative!important;
    text-align: left!important;
    transition: background .2s ease-in-out!important;

    &:hover {
        background: var(--gray-25)!important;
    }

    &:before {
        position: absolute!important;
        font-weight: 100 !important;
        font-size: 24px !important;
        line-height: 1 !important;
        opacity: 0.4 !important;
        content: "+" !important;
        top: 24px!important;
        left: 20px!important;
    }

    .notion-toggle__trigger {
        display: none!important; 
    }

    .notion-toggle__summary {
        margin: 0!important;
        margin-left: 20px!important;
        padding: 20px!important;
    }

    .notion-toggle__content {
        padding: 20px!important;
        padding-top: 0px!important;
        padding-left: 40px!important;
    }
    
    h3 {
        font-weight: 300!important;
    }
}

// –––––––––––––––––
// Global footer CTA
// –––––––––––––––––
#block-1efa808dfcce4ebaae1f7d5c21cc5bf6 {
    text-align: center!important;
    padding: 100px 24px!important;
    border-radius: 40px!important;
    background-position: center!important;
    background-size: cover!important;
    position: relative!important;
    overflow: hidden!important;

    .notion-link {
        margin-top: 24px!important;
        @include button-primary-dark;
    }

    .notion-image:last-child {
        position: absolute!important;
        width: 120%!important;
        height: 120%!important;
        max-width: 120%!important;
        max-height: 120%!important;
        top: 50%; 
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: -1!important;

        @include breakpoint-xs {
            width: 300%!important;
            height: 300%!important;
            max-width: 300%!important;
            max-height: 300%!important;
        }
    }
}

// –––––––––––––––––
// Dark bg callout
// –––––––––––––––––
.notion-callout.bg-gray-light {
    background: var(--gray-900)!important;
    color: var(--base-white)!important;
    transition: box-shadow .2s ease-out!important;
    padding: 48px!important;
    background-clip: padding-box!important;
    border: solid 1px transparent!important;  
    position: relative!important;
    border-radius: 24px!important;

    @include breakpoint-xs {
        padding: 8px!important;
    }
    
    &:before {
        content: '';
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0; 
        z-index: -1;
        margin: -1px;
        border-radius: inherit;
        background: linear-gradient(to right, rgb(95, 95, 95), rgb(239, 239, 239));
    }

    .notion-text {
        color: var(--gray-200)!important;
    }

}

// –––––––––––––––––
// Misc
// –––––––––––––––––

// Submit template/showcase button
.notion-root > .notion-text:first-of-type .notion-link {
    margin-top: 16px!important;
    @include button-secondary-gray;
    padding: 7px 16px 8px 16px!important;
}

// Video modal calsses

.modal-closed {
    display: none!important;
}

.modal-open {
    display: flex!important;
}

// –––––––––––––––––   
// Header
// –––––––––––––––––

.notion-header__icon-wrapper, .notion-header__cover.no-cover {
    display: none!important;
}

.notion-header__content {
    margin: 0 auto!important;
    max-width: 1280px !important;

    .notion-header__title-wrapper {
        margin-bottom: 4px;
        position: relative;
        margin-top: 0px!important;
        z-index: 1;

        .notion-header__title {
            color: var(--gray-300) !important;
            letter-spacing: -1px !important;
            position: absolute !important;
            font-size: 24px !important;
            top: 100px !important;
            left: 2px !important;

            @include breakpoint-xs {
                top: 40px !important; 
            }
        }
    }
}

.notion-header__cover {
    height: 110vh!important;
    width: 100%!important;
    max-height: none!important;
    z-index: -9999!important;
    position: absolute!important;
    top: -110px!important;

    &::after {
        content: ""!important;
        position: absolute!important;
        z-index: 1!important;
        bottom: -2px!important;
        background-image: linear-gradient(to bottom, rgba(253, 253, 252, 0), rgba(253, 253, 252, 1) 100%)!important;
        width: 100%!important;
        height: 100vh!important;
    }

    img {
        position: absolute;
        object-position: center!important;
        object-fit: cover!important;
        height: 100%!important;
        width: 90%!important;
        z-index: -9999!important;
    }
}

// –––––––––––––––––   
// Navbar
// –––––––––––––––––

.super-navbar {
    height: var(--navbar-height)!important;
    background: transparent!important;
    transition: height 0.3s ease-in-out, background 0.2s ease-in-out !important;

    .super-navbar__item {
        color: var(--color-text-default)!important;
    }

    @include above-xs {
        .super-navbar__item:last-child {
            height: 44px!important;
            @include button-secondary-gray;
            margin-left: 8px!important;
            padding: 10px 16px!important;
            transition: none!important;
            font-weight: 500!important;
        }
    }

    .super-navbar__cta {
        border-radius: 8px!important;
        padding: 10px 16px!important;
        background: var(--primary-500)!important;
        color: var(--base-black)!important;
        font-weight: 500!important;
    
        @include breakpoint-xs {
            padding: 8px 12px!important;
        }
    }
}

.super-navbar.scrolled {
    -webkit-backdrop-filter: blur(20px) saturate(200%) !important;
    -moz-backdrop-filter: blur(20px) saturate(200%) !important;
    backdrop-filter: blur(20px) saturate(200%) !important;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.04) !important;
    background: rgba(255, 255, 255, 0.85) !important;
    height: 70px !important;
}


// ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
// Page specific Styles
// ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

// –––––––––––––––––
// Page: index
// –––––––––––––––––
#page-index {
    .super-content-wrapper {
        overflow: hidden!important;

        .super-content {
            @include breakpoint-sm {
                padding-left: 25px!important;
                padding-right: 25px!important;
            }
        }
    }

    // Feature images
    // 1. Creating a site shouldn't be complicated
    // 2. Transform the look
    #block-d52d50b32f2640a1ba67da69e691c637,
    #block-9fedf59276874d43b9be52031cb5c206 {
        position: relative!important;
        left: -220px!important;

        @include breakpoint-xs {
            left: 0!important;
            right: 0!important;
        }

        & * {
            width: 120%!important;

            @include breakpoint-xs {
                width: 100%!important;
            }
        }
    
        &::after {
            content: ""!important;
            position: absolute!important;
            left: 0!important;
            top: 0!important;
            background-image: linear-gradient(to bottom, rgba(253, 253, 252, 0), rgba(253, 253, 252, 1) 100%)!important;
            width: 120%!important;
            height: 100%!important;
        }
    }

    // Feature paragraphs
    #block-c3c403a9d51e4fec87372aeb0fd7707c,
    #block-b5aeedef74b0434f9ae72560c9962bd9, 
    #block-8ed31ce480824ac284f5b93f7cf04ac7,
    #block-7d64ae3e538840a49c44f4c000a0abd5 {
        max-width: 40rem!important;
    }

    // –––––––––––––––––
    // section-hero
    // –––––––––––––––––
    // No CC required
    #block-456681c2bf7f4461ac51a39dbb35e44a {
        @include text-sm;
        margin-top: 8px!important;
    }

    #block-a00cb4de7898428b9501e67cc48f19a5 {
        text-align: center!important;
        // @include center;

        h1.notion-heading {
            max-width: 800px!important;
            margin: 0 auto!important;
            margin: 16px auto 0!important;
        }

        // Hero subtext
        #block-9a6e043bd0b742068d2d91081eaca2fa {
            @include text-lg;
            max-width: 48rem!important;
            margin: 16px auto 0!important;
        }

        .notion-link {
            @include button-primary-default;
            box-shadow: var(--shadow-md)!important;
        }

        // Video button
        #block-ca319f58fb8f4a0ab5bb814aeffd6062 {
            .notion-link {
                @include button-secondary-gray;
                padding: 7px 16px 8px 16px!important;
                box-shadow: var(--shadow-md)!important;
            }

            @include breakpoint-xs {
                margin-top: 16px!important;
            }
        }

        // Notion to Super images
        .notion-column-list {
            gap: 4px!important;
            @include breakpoint-xs {
                flex-direction: column!important;
                align-items: center!important;
            }

            .notion-column {
                margin-inline-start: 0px!important;
                padding: 0px!important;

                @include breakpoint-sm {
                    width: 100%!important;
                }

                // Notion
                &:nth-child(1) {
                    flex: 1!important;
                }

                // Super
                &:nth-child(3) {
                    flex: 1!important;
                }

                // Arrow
                &:nth-child(2) {
                    width: 3%!important;
                    display: flex!important;
                    align-items: center!important;
                    justify-content: center!important;
                    margin: 0px 8px!important;

                    @include breakpoint-xs {
                        width:10%!important;
                    }

                    .notion-image {
                        margin: 0 auto!important;
                        opacity: .2!important;
                        @include breakpoint-xs {
                            transform: rotate(90deg)!important;
                        }
                    }
                }

                .notion-callout {
                    .notion-image {
                    filter: drop-shadow(0px 10px 12px rgba(0,0,0,0.06));
                    -webkit-filter: drop-shadow(0px 10px 12px rgba(0,0,0,0.06));
                    }
                }
            }
        }

        // Video button
        #block-ca319f58fb8f4a0ab5bb814aeffd6062 {
            @include button-secondary-gray;
            padding: 7px 16px 8px 16px!important;
        }

        // Video
        #block-0566e957626d48dfb97500a48d34fe8e {
            position: fixed!important;
            top: 0!important;
            padding: 6rem!important;
            left: 0!important;
            width: 100%!important;
            height: 100vh!important;
            display: none;
            align-items: center!important;
            z-index: 999!important;
            background: rgba(0,0,0,.4)!important;

            & .hidden {
                display: none!important;
            }

            .notion-callout__content {
                display: flex!important;
                align-items: center!important;
                flex-direction: column!important;
            }

            .notion-image {
                align-self: flex-end!important;
                background: rgba(255,255,255,.3)!important;
                border-radius: 100px!important;
                display: flex!important;
                align-items: center!important;
                padding: 8px!important;
                margin-bottom: 16px!important;
                cursor: pointer!important;
                transition: background .2s ease-in-out, transform .2s ease-in-out!important;

                &:hover {
                    background: rgba(255,255,255,.5)!important;
                    transform: scale(1.03)!important;
                }

                &:active {
                    transform: scale(.95)!important;
                }

                img {
                    height: 32px!important;
                    width: 32px!important;
                }
            }
        }
    }
    // –––––––––––––––––
    // section-credibility-logos
    // –––––––––––––––––
    #block-936c07766ae8466b80cc2a4ac2242942 {
        text-align: center!important;
    }
    #block-c2b91ef5f88a4f49a294e572dc98ca5f {
        .notion-callout__content {
            display: flex!important;
            flex-wrap: wrap!important;
            max-width: 800px!important;
            gap: 32px!important;
            margin: 0 auto!important;
            justify-content: center!important;

            @include breakpoint-xs {
                max-width: 100%!important;
                gap: 16px!important;
            }
            
            .notion-image {
                padding: 4px 16px!important;
                max-width: 180px!important;

                @include breakpoint-xs {
                    max-width: 130px!important;;
                }
            }
        }
    }

    // –––––––––––––––––
    // section-main_features
    // –––––––––––––––––
    #block-4ec0da2865a3465eae8ce500894d1281 {
        @include full-width-section(var(--gray-900));
    }
    // –––––––––––––––––
    // section-testimonials
    // –––––––––––––––––
    #block-88bbe3ad95784b4bae4613cdc44f843a {
        --column-spacing: 24px!important;
        text-align: center!important;
        @include full-width-section(#F9F9F8);

        // Column list wrapper
        #block-618181ac627d4b07b192a8a07578d857 {
            .notion-column {
                @include breakpoint-md {
                    flex-grow: 1!important;
                }
            }
        }

        .notion-link {
            border: 0!important;
        }

        .notion-callout {
            padding: 24px!important;
            padding-top: 20px!important;
            border: 1px solid #f2f1f1!important;
            border-radius: 16px!important;
            margin-bottom: 24px!important;
            text-align: left!important;
            cursor: default!important;
            transition: all .15s ease-out!important;
            @include text-sm;
            background: #FDFDFC!important;

            & > .notion-callout__content > .notion-text {
                opacity: .7!important;
                margin-top: 8px!important;
            }

            &:hover {
                box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 20px 0px!important;
                border: 1px solid transparent!important;
                transform: translateY(-2px)!important;
            }

            .notion-column-list {
                align-items: center!important;

                .notion-image {
                    width: 56px!important;
                    height: 56px!important;
                    border-radius: 50%!important;

                    img {
                        border-radius: 50%!important;
                    }
                }

                .notion-column {
                    padding: 0px!important;

                    &:first-child {
                        max-width: fit-content!important;
                    }

                    &:last-child {
                        margin-inline-start: 16px!important;
                        
                        @include breakpoint-sm {
                            width: calc((100% - var(--column-spacing) * 1) * 0.75)!important;
                        }
                    }

                    .notion-text {
                        min-height: auto!important;

                        .notion-text__content {
                            padding: 0px!important;
                        }
                    }
                }
            }
        }

        // Third column
        #block-575b8344f4364ea59201c4e73e5020dc {
            @include breakpoint-md {
                display: none!important;
            }
        }
    }

    // Content lives in Notion Icons
    //Customize to match brand Icons
    #block-aee16c9e7f704fdea51d1e1d3b8ac4f0,
    #block-3cb9d6fc0b2c4516b73480fc7ba14901 {
        align-self: flex-start!important;
    }

    // –––––––––––––––––
    // section-templates
    // –––––––––––––––––
    #block-ac8563a8ae1a4967a27d8383bdf78f77 {
        @include full-width-section(var(--gray-900));

        .notion-heading {
            color: var(--base-white)!important;
        }

        .notion-text {
            opacity: .95!important;
        }

        .notion-collection {

            .notion-collection-gallery {
                gap: 24px!important;
                display: grid!important;
                width: 100%!important;
                flex: 3!important;
                grid-template-columns: 1fr 1fr 1fr!important;

                .notion-collection-card {
                    background: var(--gray-800)!important; 
                    color: var(--base-white)!important;
                }

                .notion-collection-card__cover.large {
                    height: 300px!important;
                    max-height: 300px!important;
                }

                // Type property
                .property-5f417276 {
                    margin-top: 8px!important;

                    span {
                        background: var(--gray-900)!important;
                        color: var(--gray-200)!important;
                        @include text-base;
                        padding: 4px 8px!important;
                    }
                }

                @include breakpoint-md {
                    grid-template-columns: 1fr 1fr!important;
                }

                @include breakpoint-xs {
                    grid-template-columns: 1fr!important;
                }
            }
        }
    }
    // –––––––––––––––––
    // section-showcase
    // –––––––––––––––––
    #block-41e832c0a32a4c35ab58e507af0f105a {
        .notion-text .notion-link:first-of-type {
            @include button-secondary-gray;
            margin-top: 16px!important
        }

        .notion-collection-card__cover.large {
            height: 300px!important;
            max-height: 300px!important;
        }
    }
     // –––––––––––––––––
    // section-other-features
    // –––––––––––––––––
    #block-e3c38ab927894e78b4eca1d2cebdd6a9 {
        text-align: center!important;
        overflow: visible!important;
        @include full-width-section(var(--gray-900));

        .notion-link:last-child {
            @include button-primary-default;
        }

        .notion-collection-gallery.small {
            gap: 30px!important;
            grid-row-gap: 50px!important;

            @include breakpoint-xs {
                grid-template-columns: 1fr 1fr!important;
                grid-row-gap: 0px!important;
            }

            .notion-collection-card {
                box-shadow: none!important;
                background: transparent!important;
                display: flex!important;
                align-items: center!important;
                justify-content: center!important;
                flex-direction: column!important;
                overflow: visible!important;
                border: 0!important;
                
                .notion-property__title {
                    transition: color .2s ease-in-out!important;
                }

                &:hover {
                    border: 0!important;
                    transform: none!important;
                }
    
                &:hover .notion-property__title {
                    color: var(--base-white)!important;
                }

                .notion-collection-card__cover {
                    /* Primary/50 */
                    background: var(--gray-800);
                    /* Primary/300 */
                    border: 1px solid var(--gray-700);
                    width: 56px!important;
                    height: 56px!important;
                    min-height: 56px!important;
                    display: flex!important;
                    justify-content: center!important;
                    align-items: center!important;
                    border-radius: 50%!important;
                    transition: all .15s ease-out!important;
                    /* Shadow/special */
                    // filter: drop-shadow(0px 4px 11px rgba(53, 53, 53, 0.01)) drop-shadow(0px 0px 7px rgba(251, 180, 60, 0.45))!important;

                    img {
                        height: 24px!important;
                        width: 24px!important;
                        max-width: 24px!important;
                        max-height: 24px!important;
                        min-height: 24px!important;
                    }
                }
            }
        }
    }
    // –––––––––––––––––
    // section-notion
    // –––––––––––––––––
    #block-4efa8492d79a427cb7659632ebf70754 {
        justify-content: center!important;
        align-items: center!important;
        overflow: hidden!important;
        @include full-width-section(var(--gray-900));
        border: 0px!important;

        @include breakpoint-md {
            text-align: center!important;
            padding-bottom: 20px!important;
        }

        .notion-column {
            margin: 0px!important;
            padding: 0px!important;
            position: relative!important;

            @include breakpoint-md {
                width: 100%!important;
            }

            .notion-image {
                position: absolute!important;
                top: 12px!important;
                margin: 0 auto!important;
                margin-left: 65px!important;
                background:var(--base-white)!important;
                border-radius: 10px!important;
            }

            &:last-child {
                display: flex!important;
                justify-content: center!important;
                align-items: center!important;

                @include breakpoint-md {
                    display: none!important;
                }
            }
        }

        a.notion-link {
            @include button-primary-light;
            margin-top: 16px!important;
        }
    }
}
// –––––––––––––––––
// Page: Pricing 
// –––––––––––––––––
#page-pricing, #page-pricing-annual {
    .notion-page { display: none!important; }
    // –––––––––––––––––
    // section-billing toggle
    // –––––––––––––––––    
    .notion-root > h1.notion-heading,
    .notion-root > .notion-text  {
        text-align: center!important;
        max-width: 800px!important;
        margin: 0 auto!important;
    }
    // Monthly
    #block-5f4034b33f5e4ef5aee7421baadd223e {
        .notion-link {
            &::after {
                margin-top: -2px!important;
                content: '1 month free';
                margin-left: 8px!important; 
                position: relative!important;
                top: -1px!important;
                @include black-pill;
            }
        }

        .notion-column {
            &:first-child {
                padding: 12px 16px!important;
                background: var(--base-white)!important;
                margin-right: 8px!important;
                cursor: default!important;

                @include breakpoint-xs {
                    margin-bottom: 8px!important;

                }
            }

            &:last-child {
                @include breakpoint-xs {
                    padding-top: 8px!important;
                    padding-bottom: 8px!important;
                    width: 100%!important;
                }
            }
        }
    }

    // Annually
    #block-e5bbddb674254449a439e4d6a593c5da {
        .notion-column {
            &:last-child {
                padding: 12px 16px!important;
                background: var(--base-white)!important;
                margin-left: 8px!important;
                cursor: default!important;

                @include breakpoint-xs {
                    margin: 0px!important;
                    margin-top: 8px!important;
                }
                
                &::after {
                    content: 'save 20%';
                    margin-left: 8px!important;
                    @include black-pill;
                }
            }
        }
    }
    
    // Both
    #block-5f4034b33f5e4ef5aee7421baadd223e,
    #block-e5bbddb674254449a439e4d6a593c5da {
        margin: 0 auto!important;
        text-align: center!important;
        background: var(--gray-25)!important;
        border-radius: 100px!important;
        padding: 8px!important;
        border: 1px solid var(--gray-50)!important;
        box-shadow:
        2.6px 4px 2.6px rgba(0, 0, 0, 0.017),
        7.3px 11px 7.1px rgba(0, 0, 0, 0.025),
        17.5px 26.5px 17.2px rgba(0, 0, 0, 0.033),
        58px 88px 57px rgba(0, 0, 0, 0.05)
        !important;

        @include breakpoint-xs {
            border-radius: 12px!important;
        }
        

        .notion-column-list {
            @include breakpoint-xs {
                flex-wrap: nowrap!important;
                flex-direction: column!important;
            }
        }

        .notion-column {
            width: auto!important;
            margin-inline-start: 0px!important;
            padding: 8px 0px!important;
            border-radius: 100px!important;
            display: flex!important;
            align-items: center!important;
            justify-content: center!important;
            flex-direction: row!important;

            @include breakpoint-xs {
                width: 100%!important;
                border-radius: 8px!important;
            }

            .notion-callout {
                @include center;
            }

            .notion-text {
                min-height: 0!important;
            }

            .notion-semantic-string {
                line-height: 0!important;
            }

            .notion-text__content {
                padding: 0px!important;
            }

            .notion-link {
                border: 0!important;
                border-radius: 100px!important;
                padding: 12px 16px!important;
                opacity: 1!important;

                @include breakpoint-xs {
                    border-radius: 8px!important;
                }

                &:hover {
                    background: var(--gray-100);
                }

            }
        }
    }
    // –––––––––––––––––
    // section-pricing
    // –––––––––––––––––
    #block-f59ac23d8cf344f084e546567605a696,
    #block-abea645bf4084158b5f710c635984ec4 {

        .notion-column-list {
            // Upgraded site
            .notion-column:last-child > .notion-callout {
                border: 1px solid var(--primary-500)!important;
                // box-shadow: 0px 4px 11px rgba(53, 53, 53, 0.01), 0px 0px 7px rgba(251, 180, 60, 0.45)!important;
                
                .notion-link {
                    @include button-special;
                    width: 100%!important;
                    margin-top: 16px!important;
                    position: relative!important;
                    align-items: center!important;

                    &::after {
                        width: 20px!important;
                        height: 20px!important;
                        margin-left: 4px!important;
                        content: url('https://sites.super.so/super/assets/arrow-right-primary-500.svg');
                    }

                    &:hover::after {
                        width: 20px!important;
                        height: 20px!important;
                        margin-left: 4px!important;
                        content: url('https://sites.super.so/super/assets/arrow-right-black.svg')!important;
                    }
                }       
            }

            // Free site
            .notion-column:first-child > .notion-callout {
                .notion-link {
                    @include button-secondary-gray;
                    width: 100%!important;
                    margin-top: 16px!important;
                    position: relative!important;
                    align-items: center!important;

                    &::after {
                        width: 20px!important;
                        height: 20px!important;
                        margin-left: 4px!important;
                        content: url('https://sites.super.so/super/assets/arrow-right-gray-500.svg');
                    }

                    &:hover::after {
                        width: 20px!important;
                        height: 20px!important;
                        margin-left: 4px!important;
                        content: url('https://sites.super.so/super/assets/arrow-right-black.svg')!important;
                    }
                }
            }
        
            .notion-callout:first-child {
                background: white!important;
                border-radius: 24px!important;
                box-shadow:
                2.6px 4px 2.6px rgba(0, 0, 0, 0.017),
                7.3px 11px 7.1px rgba(0, 0, 0, 0.025), 
                17.5px 26.5px 17.2px rgba(0, 0, 0, 0.033),
                58px 88px 57px rgba(0, 0, 0, 0.05)
                !important;
                padding: 32px!important;

                h3 {
                    font-size: 18px!important;
                    font-weight: 500!important;
                    margin-top: 0px!important;
        
                    code { 
                        background-color: var(--base-black)!important;
                        color: var(--base-white)!important;
                        border-radius: 100px!important;
                        padding: 4px 8px 5px 8px!important;
                        font-family: inherit!important;
                        font-size: 0.75rem!important;
                    }
                }

                .notion-divider {
                    margin: 24px 0px!important;
                }

                .notion-bulleted-list {
                    position: relative;
                    list-style: none;
                    margin-left: 0px;
                    padding-left: 36px;
                }

                h2.notion-heading {
                    font-size: 18px!important;
                    font-weight: 300!important;
                }
                
                .notion-list-item {
                    margin: 8px 0px!important;

                    &::before {
                        content: '';
                        position: absolute;
                        background: url('https://sites.super.so/super/assets/check-icon.svg');
                        background-size: cover!important;
                        background-position: center!important;
                        left: 0;
                        width: 24px;
                        height: 24px;
                    }
                }   

                // Price wrapper
                .notion-callout {
                    
                    strong {
                        font-size: 48px!important;
                        font-weight: 500!important;
                    }

                    .notion-callout__content {
                        display: flex!important;
                        align-items: center!important;

                        @include breakpoint-md {
                            flex-direction: column!important;
                            align-items: flex-start!important;
                        }

                        strong {
                            margin-right: 6px!important;
                            font-size: 48px!important;
                            font-weight: 500!important;

                        }

                        .notion-text {
                            @include text-sm;
                            padding: 0px!important;
                            margin-top: 8px!important;
                            color: var(--base-black)!important;
                            
                            * {
                                line-height: 1.2!important;
                            }
                        }
                    }
                }
            }
        }
    }
}

#page-icons-light {
    --color-text-default: var(--base-white)!important;
    background: var(--base-black) !important;
    transition: var(--transition) !important;
    color: var(--base-white) !important;

    
    .super-navbar__item:last-child {
        border: 1px solid var(--base-white)!important;
        background: transparent!important;
    }

    .super-navbar__cta {
        background: var(--base-white)!important;
        color: var(--base-black)!important;
    }

    .notion-collection-gallery.small {
        .notion-collection-card {
            border: 1px solid var(--gray-900)!important;
            &:hover {
                border: 1px solid var(--gray-500)!important;
            }

            &:hover .notion-property__title {
                color: var(--base-white)!important;
            }

            .notion-property__title {
                color: var(--gray-700)!important; 
            }
        }
    }
}