.notion-callout {
    box-shadow: 0 10px 20px -10px rgba(0,0,0,0.1) !important;
    background: var(--color-white) !important;
    padding: 16px 0 14px 24px !important;
    border-radius: 100px !important;
    position: relative !important;
    border: none !important;
    width: 180px !important;
}

.notion-callout a {
    color: var(--color-text-default) !important;
    padding: 0 0 0 64px !important;
    align-items: center !important;
    position: absolute !important;
    display: flex !important;
    border: none !important;
    bottom: 0 !important;
    right: 0 !important;
    left: 0 !important;
    top: 0 !important;
}

.notion-callout__icon img {
    object-fit: none !important;
}