.notion-callout {
    box-shadow: 0 10px 20px -10px rgba(0,0,0,0.1) !important;
    background: var(--color-white) !important;
    border-radius: 100px !important;
    align-items: center !important;
    position: relative !important;
    width: fit-content !important;
    padding: 0 24px !important;
    border: none !important;
}

.notion-callout a {
    color: var(--color-text-default) !important;
    padding: 16px 12px 16px 30px !important;
    align-items: center !important;
    position: relative !important;
    display: flex !important;
    border: none !important;
    z-index: 2 !important;
    bottom: 0 !important;
    right: 0 !important;
    left: 0 !important;
    top: 0 !important;
}

.notion-callout p {
    font-size: 18px !important;
}

.notion-callout__icon {
    text-align: center !important;
    position: absolute !important;
}

.notion-callout__icon img {
    object-fit: none !important;
}