.notion-column-list {
    justify-content: center !important;
    flex-wrap: nowrap !important;
}

.notion-column {
    justify-content: center !important;
    width: fit-content !important;
    text-align: left !important;
}

.notion-column p {
    font-weight: 300 !important;
    font-size: 20px !important;
}