#page-index .notion-column-list {
    justify-content: center !important;
    flex-wrap: nowrap !important;
}

#page-index .notion-column {
    justify-content: center !important;
    text-align: left !important;
}

.notion-column p {
    font-weight: 300 !important;
    font-size: 22px !important;
}

.notion-column .notion-callout {
    margin: 0 -48px !important;
}