.notion-quote:nth-of-type(1) {
    height: var(--navbar-height) !important;
    justify-content: flex-end !important;
    align-items: center !important;
    flex-direction: row !important;
    padding: 0 30px 0 0 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    background: none !important;
    position: fixed !important;
    z-index: 9999 !important;
    margin: 0 !important;
    right: 0 !important;
    top: 0 !important;
}

.notion-quote:nth-of-type(1) span,
.notion-quote:nth-of-type(1) .link {
    display: inline !important;
}

.notion-quote:nth-of-type(1) .notion-semantic-string .link {
    letter-spacing: -0.2px !important;
    font-weight: 400 !important;
    font-size: 18px !important;
    line-height: 1 !important;
}

.notion-quote {
    box-shadow: 0 20px 40px -20px rgba(0,0,0,0.1) !important;
    background: var(--color-white) !important;
    border-radius: 12px !important;
    position: relative !important;
    padding: 50px !important;
}
