:root {
    --color-text-default: #000;
    --color-text-gray: #8f9ba8;
    --color-text-default-light: #8f9ba8;
    --color-bg-default: #f9fafe;
    --color-white: #fff !important;
    --color-dividers: #edeef3 !important;
    --column-spacing: 80px !important;
    --transition: all .2s ease-in-out !important;
    --heading1-size: 54px;
    --heading2-size: 42px;
    --heading2-size: 24px;
}