.notion-callout {
    background: var(--color-white) !important;
    transition: var(--transition) !important;
    transform: scale(0.96) !important;
    border-radius: 100px !important;
    padding: 0 0 0 20px !important;
    width: fit-content !important;
    position: relative !important;
    min-height: 44px !important;
    margin: 0 6px !important;
    border: none !important;
}

.notion-callout:hover {
    transform: scale(1) !important;
}

.notion-callout__content {
    margin: 0 !important;
}

.notion-callout__icon {
    justify-content: center !important;
    align-items: center !important;
    display: flex !important;
}

.notion-callout__icon img {
    object-fit: contain !important;
    min-height: 80% !important;
}

.notion-callout .notion-semantic-string .link {
    color: var(--color-primary) !important;
    justify-content: center !important;
    padding: 0 24px 0 8px !important;
    border-radius: 100px !important;
    align-items: center !important;
    position: relative !important;
    width: fit-content !important;
    font-weight: 500 !important;
    min-height: 44px !important;
    font-size: 16px !important;
    display: flex !important;
    border: none !important;
    z-index: 2 !important;
}

.notion-callout .notion-semantic-string .link:hover {
    color: var(--color-primary) !important;
}