.notion-collection-gallery {
    grid-template-columns: repeat(4, 1fr) !important;
    grid-gap: 40px !important;
    border: none !important;
}

.notion-collection-card {
    transition: var(--transition) !important;
    margin-bottom: 20px !important;
    overflow: visible !important;
    background: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}

.notion-collection-card:hover {
    background: none !important;
}

.notion-collection-card__cover,
.notion-collection-card__cover div,
.notion-collection-card__cover img {
    max-height: 240px !important;
    border-radius: 4px !important;
    height: 240px !important;
    border: none !important;
}

.notion-collection-card__cover {
    box-shadow: 0 10px 40px -10px rgb(0,0,0,0.08) !important;
    transition: var(--transition) !important;
}

.notion-collection-card:hover .notion-collection-card__cover {
    transform: scale(1.04) !important;
}

.notion-collection__header,
.notion-property__title__icon-wrapper {
    display: none !important;
}

.notion-property__title,
.notion-collection-card__content {
    padding: 0 !important;
}

.notion-collection-card .notion-property__title {
    margin: 16px 0 8px !important;
    font-size: 20px !important;
}

.notion-property__title .notion-semantic-string {
    font-weight: 600 !important;
}

.notion-collection-card__property .notion-semantic-string {
    -webkit-box-orient: vertical !important;
    text-overflow: ellipsis !important;
    -webkit-line-clamp: 3 !important;
    display: -webkit-box !important;
    white-spacE: normal !important;
    line-height: 20px !important;
    overflow: hidden !important;
    font-size: 14px !important;
    height: 60px !important;
}

@media (max-width: 600px) {

    .notion-collection-gallery {
        grid-template-columns: 1fr !important;
        grid-gap: 50px !important;
    }

}