/*————————————————— UI GOODIES SITE ———————————————*/
/*——————————————— POWERED BY SUPER.SO —————————————*/
/*————————————————— BUILT BY @TRAF ————————————————*/

@import "reset.css";
@import "variables.css";
@import "callout.css";
@import "collection.css";
@import "navbar.css";
@import "quote.css";
@import "typography.css";

.super-content,
.notion-header__content {
    padding-right: var(--padding-right) !important;
    padding-left: var(--padding-left) !important;
}

.super-content {
    padding-bottom: 60px !important;
    padding-top: 0 !important;
}

.notion-header,
#block-f3b0f293dd5b4db6b68d68f782a30da4 {
    display: none !important;
}

/* Callout bar */
#block-a687f353f2f2449398b7ce9f155ff932,
#block-7ea93cb81946407c984d397ec43abe6b,
#block-898ce1c679bd43dbbdfcf94ffa0aa6d4,
#block-484c3d0a33ba4a1bb94ae14a5a6251c6 {
    margin-left: calc(var(--padding-left) * -1) !important;
    background: var(--color-primary) !important;
    justify-content: center !important;
    align-items: center !important;
    position: sticky !important;
    padding: 8px 0 !important;
    display: flex !important;
    width: 100vw !important;
    z-index: 2 !important;
    top: 0 !important;
}

#block-a687f353f2f2449398b7ce9f155ff932 .notion-column,
#block-7ea93cb81946407c984d397ec43abe6b .notion-column,
#block-898ce1c679bd43dbbdfcf94ffa0aa6d4 .notion-column,
#block-484c3d0a33ba4a1bb94ae14a5a6251c6 .notion-column {
    width: fit-content !important;
    margin: 0 !important;
}