.notion-header,
.notion-header__title-wrapper {
    margin: 0 !important;
}

.notion-header__icon-wrapper {
    border-radius: 20px !important;
    position: relative !important;
    overflow: hidden !important;
    margin: 0 auto !important;
    bottom: 30px !important;
    height: 80px !important;
    width: 80px !important;
    top: auto !important;
}