.notion-quote {
    height: var(--navbar-height) !important;
    justify-content: flex-end !important;
    padding: 0 20px 0 0 !important;
    align-items: center !important;
    flex-direction: row !important;
    background: none !important;
    border-radius: 0 !important;
    font-weight: 400 !important;
    box-shadow: none !important;
    position: fixed !important;
    font-size: 18px !important;
    display: flex !important;
    z-index: 9999 !important;
    border: none !important;
    margin: 0 !important;
    right: 0 !important;
    top: 0 !important;
}

.notion-quote span,
.notion-quote .link {
    justify-content: center !important;
    align-items: center !important;
    display: flex !important;
    height: 100% !important;
}

.notion-quote .notion-semantic-string .link {
    letter-spacing: -0.2px !important;
    font-weight: 400 !important;
    font-size: 18px !important;
    padding: 0 20px !important;
    line-height: 1 !important;
}

@media (max-width: 900px) {

    .notion-quote {
        display: none !important;
    }

}