@font-face {
    font-family: 'carbon';
    src:  url('https://dl.dropbox.com/s/rvgpdrdkcmdtdhu/carbon.woff') format('woff'),
        url('https://dl.dropbox.com/s/iej5simjemy89f1/carbon.woff2') format('woff2'),
        url('https://dl.dropbox.com/s/r7720fv4ekyuqre/carbon.ttf') format('truetype');
}

:root {
    --color-border-default: #f1f3f4 !important;
    --color-text-default: #000 !important;
    --color-text-gray: #b4b4b4 !important;
    --color-text-white: #fff !important;
    --container-width: 940px !important;
    --color-bg-black: #000 !important;
}

.notion-navbar,
#page-index .notion-header,
.notion-collection-card__anchor,
.notion-property__title__icon-wrapper {
    display: none !important;
}

#page-index .super-content {
    margin-top: 100px !important;
}

.max-width {
    max-width: var(--container-width) !important;
    padding: 0 !important;
}

/* Custom navbar */
.nav {
    background: var(--color-bg-black);
    justify-content: center;
    align-items: center;
    position: fixed;
    display: flex;
    height: 60px;
    width: 100%;
    z-index: 2;
    left: 0 ;
    top: 0;
}
.nav a {
    font-family: 'carbon', sans-serif !important;
    color: var(--color-text-white);
    width: var(--container-width);
    text-decoration: none;
}

/* Typography */
h1 {
    letter-spacing: -1px !important;
    font-size: 45px !important;
    line-height: 1 !important;
}
h3 {
    font-weight: normal !important;
    font-size: 22px !important;
}
p {
    line-height: 1.8 !important;
    font-size: 18px !important;
}
u {
    font-family: 'carbon', sans-serif !important;
    text-transform: uppercase !important;
    text-decoration: none !important;
}

/* Galleries */
.notion-collection-gallery {
    grid-gap: 20px !important;
    border: none !important;
}
.notion-collection__header {
    border-bottom: 1px solid var(--color-bg-black) !important;
    font-family: 'carbon', sans-serif !important;
    text-transform: uppercase !important;
    display: inline-block !important;
    margin-bottom: 20px !important;
    font-size: 14px !important;
}
.notion-collection-card {
    border: 1px solid var(--color-border-default) !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    cursor: default !important;
}
.notion-collection-card:hover {
    background: none !important;
}
.notion-collection-card__cover,
.notion-collection-card__cover div,
.notion-collection-card__cover img {
    max-height: 170px !important;
    height: 170px !important;
}
.notion-property__title {
    padding: 22px 22px 0 !important;
    font-size: 20px !important;
}
.notion-property__title .notion-semantic-string {
    font-weight: 700 !important;
}
.notion-collection-card__content {
    padding: 8px 22px 26px !important;
    font-size: 16px !important;
}
.notion-collection-card__content .color-gray {
    font-size: 14px !important;
}
.notion-collection-card__content span {
    white-space: normal !important;
}
.notion-collection-card__property {
    margin-bottom: 20px !important;
}
.notion-collection-card__property:last-child {
    margin-bottom: 0 !important;
}
#block-b528cdf23378482283783a734a0258c3 .notion-collection-card__property a,
#block-f50856336d8e4e7c848555b99caabbe4 .notion-collection-card__property a {
    font-family: 'carbon', sans-serif !important;
    background: var(--color-bg-black) !important;
    color: var(--color-text-white) !important;
    text-transform: uppercase !important;
    display: inline-block !important;
    padding: 8px 16px !important;
    font-size: 14px !important;
    border: none !important;
    opacity: 1 !important;
}
#block-b528cdf23378482283783a734a0258c3 .notion-collection-card__property .color-gray a {
    pointer-events: none !important;
    background: #dfdfdf !important;
}