@font-face {
    font-family: 'mabry';
    src:  url('https://sites.super.so/gumroad/assets/mabry.woff2') format('woff2');
}

:root {
    --color-black: #000 !important;
    --color-orange: #FFC901 !important;
    --color-yellow: #F1F332 !important;
    --color-green: #22A094 !important;
    --color-purple: #B23386 !important;
    --color-pink: #FF90E7 !important;

    --color-text-default: var(--color-black) !important;

    --color-bg-gray: var(--color-black) !important;
    --color-bg-orange-light: var(--color-orange) !important;
    --color-bg-yellow-light: var(--color-yellow) !important;
    --color-bg-green-light: var(--color-green) !important;
    --color-bg-purple-light: var(--color-purple) !important;
    --color-bg-pink-light: var(--color-pink) !important;

    --column-spacing: 0 !important;
}

body {
    font-family: 'mabry', sans-serif !important;
}