:root {
    --color-text-default: #fff !important;
    --color-bg-default: #000 !important;
    --color-primary: #ffc9c9 !important;
}

body {
    background: url('https://images.ctfassets.net/hsst7dmi6ghe/485OaQSumrI0eBGnrAddx9/68882d2bc30e782a6b5000d941ec04af/1.gif') !important;
}

.notion-navnar {
    background: var(--color-primary) !important;
    color: var(--color-bg-default) !important;
}