/*-------------------------------------------*/
/*----------- NEUTRAL SUPER THEME -----------*/
/*-------------------------------------------*/

:root {
    --color-ui-hover-bg: rgba(0,0,0,0.04) !important;
    --color-border-default: var(--color-ui-hover-bg) !important;

    --color-text-default: #4d586f !important;
    --color-text-default-light: #64748B !important;
    --color-text-gray: #9CA3AF !important;
    --color-text-brown: #C9844F !important;
    --color-text-orange: #FB923C !important;
    --color-text-yellow: #FBBF24 !important;
    --color-text-green: #34D399 !important;
    --color-text-blue: #60A5FA !important;
    --color-text-purple: #C084FC !important;
    --color-text-pink: #F472B6 !important;
    --color-text-red: #F87171 !important;

    --color-bg-default: #FAF5F0 !important;
    --color-bg-gray: #F0EDEB !important;
    --color-bg-brown: #F0E4DA !important;
    --color-bg-orange: #FCE4D1 !important;
    --color-bg-yellow: #FBEED0 !important;
    --color-bg-green: #DEEDE8 !important;
    --color-bg-blue: #DEE8F7 !important;
    --color-bg-purple: #E0D8F4 !important;
    --color-bg-pink: #FAE0F0 !important;
    --color-bg-red: #FBD6D2 !important;

    --color-bg-gray-light: var(--color-bg-gray) !important;
    --color-bg-brown-light: var(--color-bg-brown) !important;
    --color-bg-orange-light: var(--color-bg-orange) !important;
    --color-bg-yellow-light: var(--color-bg-yellow) !important;
    --color-bg-green-light: var(--color-bg-green) !important;
    --color-bg-blue-light: var(--color-bg-blue) !important;
    --color-bg-purple-light: var(--color-bg-purple) !important;
    --color-bg-pink-light: var(--color-bg-pink) !important;
    --color-bg-red-light: var(--color-bg-red) !important;

    --color-pill-default: var(--color-ui-hover-bg) !important;
    --color-pill-gray: var(--color-bg-gray) !important;
    --color-pill-brown: var(--color-bg-brown) !important;
    --color-pill-orange: var(--color-bg-orange) !important;
    --color-pill-yellow: var(--color-bg-yellow) !important;
    --color-pill-green: var(--color-bg-green) !important;
    --color-pill-blue: var(--color-bg-blue) !important;
    --color-pill-purple: var(--color-bg-purple) !important;
    --color-pill-pink: var(--color-bg-pink) !important;
    --color-pill-red: var(--color-bg-red) !important;
}