:root {
  --primary-color: var(--navbar-button-background-color)!important;

  /* CTA button styles */
  --cta-padding: 8px 12px!important;
  --cta-border-radii: 7px!important;
  --cta-bg-color: var(--primary-color)!important;
  --cta-text-color: var(--navbar-button-text-color)!important;
  
  /* Database view switcher */
  /* Active colors */
  --picker-active-bg-color: var(--primary-color)!important;
  --picker-active-text-color: var(--color-text-default)!important;
  --picker-active-border-color: var(--primary-color)!important;
    /* Default colors */
  --picker-border-color: var(--color-border-default)!important;
  --picker-text-color: var(--color-text-default)!important;
  --picker-border-radius: 8px!important;

  /*Miscelaneous*/
  --image-border-radii: 1px!important;
  --collection-card-bg-color: #F7F6F5;
  --navbar-background-color: #ffffff80 !important;
}

.theme-dark {
  --navbar-background-color: #19191980 !important;
  --color-card-bg: #191919!important;
  --color-card-bg-hover: #1B1B1B!important;
  --collection-card-bg-color: #111111;
}

#page-index .notion-header {
  display: none !important;
}

#page-index .notion-toggle.bg-brown {
  display: none !important;
}

body {
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  text-rendering: optimizeLegibility !important;
}

h1.notion-heading * {
  letter-spacing: -1px!important;
}

h2.notion-heading * {
  letter-spacing: -.8px!important;
}

h3.notion-heading * {
  letter-spacing: -.5px!important;
}

::selection {
  background: var(--navbar-button-background-color)!important;
}

/* NAVBAR */
.super-navbar {
  backdrop-filter: blur(10px) !important;
}

.super-navbar__logo { 
  transition: opacity 0.3s ease-in-out !important; 
}
.super-navbar__logo:hover { 
  opacity: 70% !important; 
}

.super-navbar__cta {
  border-radius: var(--cta-border-radii)!important;
  padding: var(--cta-padding)!important;
}

.super-navbar__logo {
  flex-grow: 0!important;
}

/* CALLOUTS */
.notion-callout {
  width: 100%;
  margin: auto !important;
  text-align: center !important;
}

.notion-callout__content {
  margin-inline-start: 0px!important;
}

/* CTA BUTTON */
.notion-root .notion-text .notion-text__content .notion-semantic-string span strong .notion-link {
    padding: var(--cta-padding) !important;
    border-radius: var(--cta-border-radii) !important;
    opacity: 1 !important;
    font-weight: 100 !important;
    display: inline-flex !important;
    justify-content: center !important;
    transition: background .2s ease-in-out !important;
    background: var(--cta-bg-color) !important;
    color: var(--cta-text-color) !important;
    margin: -2px !important;
    margin-top: 8px !important;
    border: 1px solid transparent !important;
    transition: all .2s ease-in-out !important;
}

.notion-root .notion-text .notion-text__content .notion-semantic-string span strong .notion-link:hover {
    border: 1px solid transparent !important;
    opacity: .7 !important;
}

/* LISTS */
.notion-collection-list {
  gap: 12px!important;
}

.notion-collection-list__item {
  border: 1px solid var(--color-border-default);
  transition: background .2s ease-in-out!important;
}

.notion-property__title__icon-wrapper {
  display: none!important;
}

.notion-collection-list__item .notion-property__title .notion-semantic-string > span {
  border-bottom: 0px!important;
}
    
/* GALLERIES */
/*Increase the size of grid columns*/
.notion-collection-gallery, .notion-collection-list {
  border-top: 0!important;
  padding-top: 0!important;
}
.notion-collection-gallery.medium {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)) !important;
}

.notion-collection-card__cover {
  background: var(--collection-card-bg-color);
}

/*Individual cards inside gallery*/
.notion-collection-card {
  border: 1px solid var(--color-border-default) !important;
  transition: 0.3s ease-in-out !important;
}

.notion-collection-gallery .notion-collection-card:hover {
  border: 1px solid var(--primary-color) !important;
  transition: 0.3s ease-in-out !important;
  transform: translateY(-4px)!important;
}

/*PROPERTIES*
/*Display full content in Description*/
.notion-collection-gallery .notion-collection-card__property .notion-semantic-string {
    white-space: unset !important;
    font-size: 11pt !important;
}

/*Full width on description property*/
.notion-collection-gallery .notion-collection-card__content .notion-property__text {
  min-width: 100% !important;
}

.notion-pill {
  border-radius: 20px !important;
  padding: 5px 10px 5px 10px !important;
}

.notion-collection-card {
    box-shadow: none!important;
}

.notion-collection-card__property-list {
  display: flex!important;
  flex-direction: column!important;
  gap: 12px!important;
}

/* EMBEDS */
.notion-embed__container {
  width: 100% !important;
}

/*Change iframe background color*/
.notion-embed__container > iframe {
  background: none !important;
}

/* FOOTER */
.super-footer__icons .notion-link {
  gap:20px !important;
  opacity: 20% !important;
  transition: 0.2s ease-in-out !important;
}

.super-footer__icons .notion-link:hover {
  opacity: 1 !important;
}

.super-footer__footnote {
  opacity: 20% !important;
}

/* TOGGLE */
.notion-toggle {
    border: 1px solid var(--color-border-default) !important;
    border-radius: 8px !important;
    margin-bottom: 16px !important;
    position: relative !important;
    text-align: left !important;
    transition: background .2s ease-in-out !important;
}

.notion-toggle__summary {
    margin: 0 !important;
    margin-left: 32px !important;
    padding: 12px !important;
}

.notion-heading.toggle {
    padding: 0px !important;
}

.notion-toggle.open {
    background: var(--color-card-bg-hover) !important;
}

.notion-toggle.open {
    padding-bottom: 16px !important;
}

.notion-toggle__trigger {
    display: none !important;
}

.notion-toggle__content .notion-text__content {
    margin-bottom: 0px !important;
}

.notion-toggle:hover {
    background: var(--color-card-bg-hover) !important;
}

.notion-toggle:before {
    position: absolute !important;
    font-weight: 100 !important;
    font-size: 24px !important;
    line-height: 1 !important;
    opacity: .4 !important;
    content: "+" !important;
    top: 14px !important;
    left: 18px !important;
}

.notion-toggle.open:before {
    position: absolute !important;
    font-weight: 100 !important;
    font-size: 24px !important;
    line-height: 1 !important;
    opacity: .4 !important;
    content: "-" !important;
    top: 15px !important;
    left: 18px !important;
}

.notion-dropdown__menu-header,
.notion-dropdown__option-icon,
.notion-dropdown__button svg:first-of-type {
    display: none !important; 
}

@media all and (min-width: 576px) {
    .notion-dropdown {
        width: 100% !important;
        z-index: 1 !important; 
    }

    .notion-dropdown__button {
        justify-content: space-between !important;
        width: 100% !important;
        border: 1px solid var(--color-border-default) !important;
        padding: 10px !important;
        border-radius: 8px !important; 
    }

    .notion-dropdown__menu-wrapper {
        margin-bottom: 16px !important;
        position: relative !important; 
    }

    .notion-dropdown__menu-wrapper .notion-dropdown__menu {
        width: 100% !important;
        border-radius: 8px !important;
        transform: none !important;
        left: auto !important;
        top: auto !important; 
    }

    .notion-dropdown__menu-wrapper .notion-dropdown__menu .notion-dropdown__option-list {
        padding: 0px !important;
        flex-wrap: wrap !important; 
    }

    .notion-dropdown__menu-wrapper .notion-dropdown__menu .notion-dropdown__option {
        padding: 7px 12px !important;
    }

    .notion-dropdown__button {
        display: none !important; 
    }

    .notion-dropdown__menu.initial-state {
        z-index: 1 !important;
        opacity: 1 !important;
        transform: none !important; 
    }

    .notion-dropdown__menu.animate-in.animate-out,
    .notion-dropdown__menu.animate-in,
    .notion-dropdown__menu.animate-out {
        animation: none !important; 
    }

    .notion-dropdown__menu {
        width: 80% !important;
        margin: 0 auto !important;
        background: none !important;
        box-shadow: unset !important;
        position: relative !important; 
    }
    .notion-dropdown__menu .notion-dropdown__option-list {
        display: flex !important;
        gap: 8px !important; 
    }
    .notion-dropdown__menu .notion-dropdown__option.active {
        background: var(--picker-active-bg-color) !important; 
        border: 1px solid var(--picker-active-border-color)!important;
    }

    .notion-dropdown__menu .notion-dropdown__option.active p {
        color: var(--picker-active-text-color) !important; 
    }
    .notion-dropdown__menu .notion-dropdown__option {
        border-radius: var(--picker-border-radius) !important;
        border: 1px solid var(--picker-border-color) !important;
        transition: all 0.15s ease-in-out !important;
        align-items: center !important; 
    }
    .notion-dropdown__menu .notion-dropdown__option:hover {
        opacity: .7!important;
    }

    .notion-dropdown__menu .notion-dropdown__option p {
        font-size: 1rem !important;
        color: var(--picker-text-color) !important; 
    } 
}

/* RESPONSIVE */
@media (max-width: 680px) {
  h1.notion-heading { font-size: 28pt !important; }
  h2.notion-heading { font-size: 23pt !important; }
  h3.notion-heading { font-size: 16pt !important; }
  .notion-text { font-size: 12pt !important; }
}