/* Start Theme Variables */

:root {
    /* Layout */
    --column-spacing: 40px!important;
    --max-width: 1150px!important;
    /* Navbar CTA */
    --cta-padding: 14px 23px!important;
    --cta-border-radius: 50px!important;
    --cta-border: 1px solid var(--color-text-default)!important;
    --cta-shadow: 5px 5px 0px -1px var(--color-text-default)!important;
    /* Callout */
    --callout-padding: 20px 40px 20px 35px!important;
    --callout-border: 1px solid var(--color-text-default)!important;
    --callout-border-radius: 40px!important;
    --callout-shadow: 5px 5px 0px -1px var(--color-text-default)!important;
    --callout-icon-size: 14px!important;
    --callout-emoji-size: 18px!important;
    /* Collections */
    --collection-list-item-border-radius: 0px!important;
    --collection-list-item-padding: 5px 0px 5px 5px!important;
    --collection-gallery-gap: 30px!important;
    --collection-title-text-size: 16px!important;
    --collection-property-text-size: 14px!important;
    --color-card-bg: rgb(255, 255, 255)!important;
    --collection-card-border-radius: 0px!important;
    --collection-card-padding: 20px!important;
    --collection-card-border: 1px solid var(--color-border-default)!important;
    --collection-card-cover-size-small: 172px!important;
    --collection-card-cover-size-medium: 260px!important;
    --collection-card-cover-size-large: 320px!important;
    /*Pill */
    --notion-pill-padding: 2px 5px!important;
    --notion-pill-border-radius: 0px!important;
    --notion-pill-text-size: 11px!important;
    --notion-pill-text-weight: 500!important;
    --notion-pill-text-transform: uppercase!important;
    --notion-pill-letter-spacing: 1px!important;
    /* Images */
    --image-border-radius: 20px!important;
    /* Misc */
    --divider-margin: 15px 0px!important;
    --divider-opacity: 1!important;
    /* Typography */
    --text-spacing: -.1px!important;
    --secondary-font: 'Inter', sans-serif!important;
    --notion-text-margin: 0px 0px 0px 0px!important;
    /* h1 */
    --h1-size: 3.3em!important;
    --h1-weight: 500!important;
    --h1-spacing: -1px!important;
    --h1-margin: 10px 0px 15px 0px!important;
    --h1-line-height: 1.3!important;
    /* h2 */
    --h2-size: 2.2rem!important;
    --h2-weight: 500!important;
    --h2-spacing: -.5px!important;
    --h2-margin: 15px 0px 10px 0px!important;
    --h2-line-height: 1.2!important;
    /* h3 */
    --h3-size: 1.6rem!important;
    --h3-weight: 500!important;
    --h3-spacing: -.5px!important;
    --h3-margin: 0px 0px 0px 0px!important;
    --h3-line-height: 1.3!important;
    /* Link */
    --link-border-width: 0px 0px 0px 0px!important;
    --link-border-style: none!important;
    --link-border-color: none!important;
    /* Colors */
    /* Text */
    --color-text-default: rgb(55, 53, 47)!important;
    --color-text-default-light: rgba(55, 53, 47, 0.6)!important;
    --color-text-gray: rgba(0, 0, 0, .4)!important;
    --color-text-brown: rgba(173, 141, 111, 1)!important;
    --color-text-orange: rgba(234, 152, 92, 1)!important;
    --color-text-yellow: rgba(229, 192, 97, 1)!important;
    --color-text-green: rgba(121, 214, 164, 1)!important;
    --color-text-blue: rgba(84, 155, 220, 1)!important;
    --color-text-purple: rgba(94, 93, 179, 1)!important;
    --color-text-pink: rgba(186, 98, 217, 1)!important;
    --color-text-red: rgba(226, 82, 82, 1)!important;
    /* Background */
    --color-bg-default: #F0F0F0!important;
    --color-bg-gray: rgba(165, 165, 165, 1)!important;
    --color-bg-brown: rgba(197, 172, 149, 1)!important;
    --color-bg-orange: rgba(255, 169, 107, 1)!important;
    --color-bg-yellow: #f4d573!important;
    --color-bg-green: rgba(134, 231, 179, 1)!important;
    --color-bg-blue: rgba(120, 186, 247, 1)!important;
    --color-bg-purple: rgba(177, 176, 253, 1)!important;
    --color-bg-pink: rgba(223, 134, 255, 1)!important;
    --color-bg-red: rgba(248, 117, 117, 1)!important;
    /* Background Light */
    --color-bg-gray-light: var(--color-bg-gray)!important;
    --color-bg-brown-light: var(--color-bg-brown)!important;
    --color-bg-orange-light: var(--color-bg-orange)!important;
    --color-bg-yellow-light: var(--color-bg-yellow)!important;
    --color-bg-green-light: var(--color-bg-green)!important;
    --color-bg-blue-light: var(--color-bg-blue)!important;
    --color-bg-purple-light: var(--color-bg-purple)!important;
    --color-bg-pink-light: var(--color-bg-pink)!important;
    --color-bg-red-light: var(--color-bg-red)!important;
    /* Pill */
    --color-pill-gray: var(--color-bg-gray)!important;
    --color-pill-brown: var(--color-bg-brown)!important;
    --color-pill-orange: var(--color-bg-orange)!important;
    --color-pill-yellow: var(--color-bg-yellow)!important;
    --color-pill-green: var(--color-bg-green)!important;
    --color-pill-blue: var(--color-bg-blue)!important;
    --color-pill-purple: var(--color-bg-purple)!important;
    --color-pill-pink: var(--color-bg-pink)!important;
    --color-pill-red: var(--color-bg-red)!important;
    /* UI */
    --color-ui-hover-bg: rgba(55, 53, 47, 0.08)!important;
    --color-ui-hover-bg-light: rgba(55, 53, 47, 0.03)!important;
    --color-card-bg: rgb(255, 255, 255)!important;
    --color-accent-bg: rgb(46, 170, 220)!important;
    --color-border-default: var(--color-text-default)!important;
    --color-border-dark: rgba(55, 53, 47, 0.16)!important;
}


/* End Theme Variables*/


/* Start Theme overwrites */

.notion-link {
    opacity: 1!important;
}

.notion-link:hover {
    opacity: .7!important;
}


/* End Theme overwrites */


/* Start Builder Base */