.notion-collection-gallery {
    grid-template-columns: repeat(3, 1fr) !important;
    grid-gap: 30px !important;
    margin: 80px 0 !important;
    border: none !important;
    padding: 0 !important;
}

.notion-collection-card.gallery {
    transition: var(--transition) !important;
    border-radius: 16px !important;
    overflow: hidden !important;
    height: 480px !important;
}

.notion-collection-card.gallery:before {
    background: linear-gradient(0deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 40%) !important;
    pointer-events: none !important;
    position: absolute !important;
    content: "" !important;
    z-index: 1 !important;
    bottom: 0 !important;
    right: 0 !important;
    left: 0 !important;
    top: 0 !important;
}

.notion-collection-card:first-child {
    grid-column-start: span 2 !important;
}

.notion-collection-card:hover {
    transform: translateY(-8px) !important;
}

.notion-collection-card:active {
    transform: translateY(0) !important;
}

.notion-collection-card__cover,
.notion-collection-card__cover>div,
.notion-collection-card__cover img {
    max-height: none !important;
    min-height: none !important;
    height: 100% !important;
    border: none !important;
}

.notion-collection-card.gallery .notion-property__title {
    position: absolute !important;
    padding: 24px 30px !important;
    max-width: 400px !important;
    font-size: 20px !important;
    z-index: 2 !important;
    bottom: 0 !important;
    left: 0 !important;
}

.notion-collection-card.gallery .notion-property__title .notion-semantic-string {
    font-weight: 400 !important;
}

.notion-collection-card.gallery .notion-collection-card__content {
    border: 1px solid rgba(255,255,255,0.06) !important;
    -webkit-backdrop-filter: blur(20px) !important;
    backdrop-filter: blur(8px) !important;
    background: rgba(0,0,0,0.12) !important;
    justify-content: center !important;
    align-items: center !important;
    border-radius: 50% !important;
    position: absolute !important;
    font-weight: 500 !important;
    padding: 2px 0 0 !important;
    font-size: 18px !important;
    display: flex !important;
    height: 54px !important;
    width: 54px !important;
    right: 24px !important;
    z-index: 2 !important;
    top: 24px !important;
}

@media (max-width: 1000px) {

    .notion-collection-gallery {
        grid-template-columns: 1fr !important;
        margin: 20px 0 !important;
        grid-gap: 20px !important;
    }

    .notion-collection-card:first-child {
        grid-column-start: auto !important;
    }

    .notion-collection-card {
        height: 300px !important;
    }

}