.notion-collection-gallery {
    grid-template-columns: repeat(3, 1fr) !important;
    grid-gap: 30px !important;
    margin: 80px 0 !important;
    border: none !important;
    padding: 0 !important;
}

.notion-collection-card {
    transition: var(--transition) !important;
    border-radius: 16px !important;
}

.notion-collection-card:first-child {
    grid-column-start: span 2 !important;
}

.notion-collection-card:hover {
    transform: translateY(-8px) !important;
}

.notion-collection-card:active {
    transform: translateY(0) !important;
}

.notion-collection-card__cover,
.notion-collection-card__cover>div,
.notion-collection-card__cover img {
    max-height: none !important;
    min-height: none !important;
    height: 420px !important;
    border: none !important;
}

@media (max-width: 1000px) {

    .notion-collection-gallery {
        grid-template-columns: 1fr !important;
        margin: 20px 0 !important;
        grid-gap: 20px !important;
    }

    .notion-collection-card:first-child {
        grid-column-start: auto !important;
    }

    .notion-collection-card__cover,
    .notion-collection-card__cover>div,
    .notion-collection-card__cover img {
        height: 300px !important;
    }

}