.notion-callout {
    background: var(--color-white) !important;
    color: var(--color-black) !important;
    letter-spacing: -0.4px !important;
    border-radius: 100px !important;
    align-items: center !important;
    width: fit-content !important;
    font-weight: 600 !important;
    padding: 0 !important;
}

.notion-callout__icon {
    margin: 4px 16px 0 0 !important;
    order: 2 !important;
}

.notion-callout .notion-semantic-string .link {
    padding: 12px 20px !important;
    display: block !important;
    border: none !important;
}

.super-content {
    padding: 40px 100px 80px !important;
}

@media (max-width: 1000px) {

    .super-content {
        padding: 40px !important;
    }

}

.notion-link.bg-gray {
    background: rgba(255,255,255,0.06) !important;
    transition: var(--transition) !important;
    border-radius: 100px !important;
    padding: 10px 20px !important;
    position: fixed !important;
    right: 100px !important;
    z-index: 99 !important;
    top: 26px !important;
}

.notion-link.bg-gray:hover {
    background: rgba(255,255,255,0.1) !important;
}

.notion-page>div {
    padding: 0 !important;
}

.notion-page__icon {
    display: none !important;
}

@media (max-width: 1000px) {

    .notion-link.bg-gray {
        right: 30px !important;
    }

}

.notion-collection-gallery {
    grid-template-columns: repeat(3, 1fr) !important;
    grid-gap: 30px !important;
    margin: 80px 0 !important;
    border: none !important;
    padding: 0 !important;
}

.notion-collection-card {
    transition: var(--transition) !important;
    border-radius: 16px !important;
}

.notion-collection-card:first-child {
    grid-column-start: span 2 !important;
}

.notion-collection-card:hover {
    transform: translateY(-8px) !important;
}

.notion-collection-card:active {
    transform: translateY(0) !important;
}

.notion-collection-card__cover,
.notion-collection-card__cover>div,
.notion-collection-card__cover img {
    max-height: none !important;
    min-height: none !important;
    height: 420px !important;
    border: none !important;
}

@media (max-width: 1000px) {

    .notion-collection-gallery {
        grid-template-columns: 1fr !important;
        margin: 20px 0 !important;
        grid-gap: 20px !important;
    }

    .notion-collection-card:first-child {
        grid-column-start: auto !important;
    }

    .notion-collection-card__cover,
    .notion-collection-card__cover>div,
    .notion-collection-card__cover img {
        height: 300px !important;
    }

}

.notion-header__content,
.notion-collection__header {
    display: none !important;
}

.notion-navbar {
    backdrop-filter: blur(20px) saturate(200%) !important;
    background: rgba(0,0,0,0.9) !important;
    box-shadow: none !important;
    padding: 0 100px !important;
    height: 100px !important;
}

.notion-navbar__title {
    font-size: 20px !important;
}

.notion-navbar>a:hover {
    background: none !important;
}

@media (max-width: 1000px) {

    .notion-navbar {
        padding: 0 40px !important;
    }

}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeSpeed;
    text-decoration: none;
    outline: none;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    -ms-overflow-style: none;
    scroll-behavior: smooth;
    min-height: 100%;
    width: 100%;
}

html, body,
h1, h2, h3, p,
ul, ol, li {
    font-style: normal;
    padding: 0;
    margin: 0;
}

iframe, video, img {
    max-width: 100%;
    display: block;
}

img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

:root {
    --color-black: #000 !important;
    --color-charcoal: #18191b !important;
    --color-grey: #8f9ba8 !important;
    --color-white: #fff !important;

    --color-text-default: var(--color-white) !important;
    --color-text-gray: var(--color-grey) !important;
    --color-text-default-light: var(--color-grey) !important;

    --color-bg-default: var(--color-black) !important;
    --color-bg-gray: var(--color-charcoal) !important;
    --color-bg-gray-light: var(--color-grey) !important;

    --color-ui-hover-bg: var(--color-charcoal) !important;
    --color-border-default: var(--color-charcoal) !important;
    --color-card-bg: transparent !important;

    --transition: all .3s cubic-bezier(.4,0,.2,1) !important;
    --column-spacing: 60px !important;
}

::selection {
    background: var(--color-charcoal) !important;
    color: var(--color-white) !important;
}

h1 {
    letter-spacing: -1.5px !important;
    font-weight: 600 !important;
    max-width: 760px !important;
    line-height: 1.6 !important;
    font-size: 50px !important;
}

h2 {
    letter-spacing: -1px !important;
    font-weight: 600 !important;
    font-size: 30px !important;
}

@media (max-width: 1000px) {

    h1 {
        letter-spacing: -1px !important;
        font-size: 30px !important;
    }

    h2 {
        font-size: 26px !important;
    }

}

