.notion-navbar {
    backdrop-filter: blur(20px) saturate(200%) !important;
    background: rgba(0,0,0,0.9) !important;
    padding: 0 100px !important;
    height: 100px !important;
}

.notion-navbar__title {
    font-size: 20px !important;
}