.notion-navbar {
    -webkit-backdrop-filter: blur(20px) saturate(200%) !important;
    backdrop-filter: blur(20px) saturate(200%) !important;
    background: rgba(0,0,0,0.9) !important;
    box-shadow: none !important;
    padding: 0 100px !important;
    height: 100px !important;
}

.notion-navbar .notion-breadcrumb__divider {
    margin: 0 12px !important;
}

.notion-navbar__title {
    font-size: 20px !important;
}

.notion-navbar>a {
    padding: 0 !important;
}

.notion-navbar>a:hover {
    background: none !important;
}

@media (max-width: 1000px) {

    .notion-navbar {
        padding: 0 40px !important;
    }

}

@media (prefers-color-scheme: light) {
    .notion-navbar {
        background: rgba(255,255,255,0.9) !important;
    }
}