:root {
    --color-black: #000 !important;
    --color-charcoal: #18191b !important;
    --color-grey: #8f9ba8 !important;
    --color-white: #fff !important;

    --color-text-default: var(--color-white) !important;
    --color-text-gray: var(--color-grey) !important;
    --color-text-default-light: var(--color-grey) !important;

    --color-bg-default: var(--color-black) !important;
    --color-bg-gray: var(--color-charcoal) !important;
    --color-bg-gray-light: var(--color-grey) !important;

    --color-ui-hover-bg: var(--color-charcoal) !important;
    --color-border-default: var(--color-charcoal) !important;
    --color-card-bg: transparent !important;

    --transition: all .3s cubic-bezier(.4,0,.2,1) !important;
    --column-spacing: 60px !important;
}

::selection {
    background: var(--color-charcoal) !important;
    color: var(--color-white) !important;
}