h1 {
    letter-spacing: -1.5px !important;
    font-weight: 600 !important;
    max-width: 680px !important;
    line-height: 1.6 !important;
    font-size: 50px !important;
}

h2 {
    letter-spacing: -2px !important;
    font-weight: 600 !important;
    font-size: 30px !important;
}