/*-------------------------------------------*/
/*------------ VIVID SUPER THEME ------------*/
/*-------------------------------------------*/

:root {
    --color-ui-hover-bg: rgba(255,255,255,0.1) !important;
    --color-border-default: var(--color-ui-hover-bg) !important;

    --color-text-default: #000 !important;
    --color-text-default-light: #64748B !important;
    --color-text-gray: var(--color-text-default-light) !important;
    --color-text-brown: #B45309 !important;
    --color-text-orange: #EA580C !important;
    --color-text-yellow: #F59E0B !important;
    --color-text-green: #0D9488 !important;
    --color-text-blue: #2563EB !important;
    --color-text-purple: #7C3AED !important;
    --color-text-pink: #DB2777 !important;
    --color-text-red: #DC2626 !important;

    --color-bg-default: #fff !important;
    --color-bg-gray: var(--color-text-gray) !important;
    --color-bg-brown: var(--color-text-brown) !important;
    --color-bg-orange: var(--color-text-orange) !important;
    --color-bg-yellow: var(--color-text-yellow) !important;
    --color-bg-green: var(--color-text-green) !important;
    --color-bg-blue: var(--color-text-blue) !important;
    --color-bg-purple: var(--color-text-purple) !important;
    --color-bg-pink: var(--color-text-pink) !important;
    --color-bg-red: var(--color-text-red) !important;

    --color-bg-gray-light: var(--color-text-gray) !important;
    --color-bg-brown-light: var(--color-text-brown) !important;
    --color-bg-orange-light: var(--color-text-orange) !important;
    --color-bg-yellow-light: var(--color-text-yellow) !important;
    --color-bg-green-light: var(--color-text-green) !important;
    --color-bg-blue-light: var(--color-text-blue) !important;
    --color-bg-purple-light: var(--color-text-purple) !important;
    --color-bg-pink-light: var(--color-text-pink) !important;
    --color-bg-red-light: var(--color-text-red) !important;

    --color-pill-default: var(--color-ui-hover-bg) !important;
    --color-pill-gray: var(--color-text-gray) !important;
    --color-pill-brown: var(--color-text-brown) !important;
    --color-pill-orange: var(--color-text-orange) !important;
    --color-pill-yellow: var(--color-text-yellow) !important;
    --color-pill-green: var(--color-text-green) !important;
    --color-pill-blue: var(--color-text-blue) !important;
    --color-pill-purple: var(--color-text-purple) !important;
    --color-pill-pink: var(--color-text-pink) !important;
    --color-pill-red: var(--color-text-red) !important;
}

.notion-navbar,
.notion-collection__header,
.notion-collection-card__anchor {
    display: none !important;
}

h1 {
    font-size: 30px !important;
}

.notion-header__cover {
    position: absolute !important;
    max-height: 200px !important;
    height: 200px !important;
    width: 100% !important;
    top: 0 !important;
}

.notion-header__title-wrapper {
    margin: 80px 0 20px !important;
}

.notion-collection-gallery {
    grid-template-columns: 1fr !important;
    grid-gap: 60px !important;
    border: none !important;
    padding: 0 !important;
}

.notion-collection-card {
    flex-direction: column !important;
    box-shadow: none !important;
    display: flex !important;
}

.notion-collection-card__cover {
    border-radius: 12px !important;
    position: relative !important;
    overflow: hidden !important;
    order: 2 !important;
}

.notion-collection-card__cover,
.notion-collection-card__cover div,
.notion-collection-card__cover img {
    min-height: 400px !important;
    max-height: 400px !important;
    height: 400px !important;
    border: none !important;
}

.notion-collection-card__content {
    order: 3 !important;
}

.notion-property__title {
    padding-left: 60px !important;
    order: 1 !important;
    position: relative;
}

.notion-property__title:before {
    background: var(--color-bg-yellow) !important;
    justify-content: center !important;
    border-radius: 100px !important;
    align-items: center !important;
    position: absolute !important;
    content: "NEW" !important;
    display: flex !important;
    height: 30px !important;
    width: 50px !important;
    color: #fff !important;
    left: 0 !important;
}