/* Theme */
:root {
    --transition: all .2s ease-in-out !important;
    --color-text-gray: #808080 !important;
}
.super-content {
    padding-bottom: 40px !important;
    margin: 100px auto 0 !important;
    max-width: 1200px !important;
}

/* Header */
.notion-navbar {
    background: #F8F6F5 !important;
}
.notion-collection__header {
    display: none !important;
}
.notion-header__cover {
    position: absolute !important;
    max-height: none !important;
    height: 460px !important;
    width: 100% !important;
    top: 0 !important;
}

/* Typography */
h1 {
    letter-spacing: -1px !important;
    font-size: 56px !important;
}
h2 {
    letter-spacing: -0.4px !important;
    line-height: 1.4 !important;
    font-size: 30px !important;
}

/* Home page */
#page-index .notion-column-list {
    justify-content: space-between !important;
}
#page-index .notion-column {
    width: auto !important;
    margin: 0 !important;
}
#page-index h1 {
    position: relative !important;
    top: -8px !important;
}

/* Gallery */
.notion-collection-gallery {
    grid-gap: 40px !important;
    border: none !important;
    padding: 0 !important;
}
.notion-collection-card {
    box-shadow: 0 4px 8px rgba(0,0,0,0.04) !important;
    border: 1px solid rgba(0,0,0,0.04) !important;
    border-radius: 8px !important;
}
.notion-collection__header  {
    display: none !important;
}
.notion-property__title {
    padding: 20px 20px 8px !important;
    font-size: 18px !important;
}
.notion-property__title .notion-semantic-string {
    letter-spacing: -0.3px !important;
    font-weight: 600 !important;
}
.notion-collection-card__content {
    padding: 0 20px 20px !important;
}
.notion-collection-card__property {
    color: var(--color-text-gray) !important;
    font-weight: 600 !important;
    font-size: 14px !important;
}
