:root {
    /*Main Colors*/
    --main: #392C72;
    --mainlight: #604BC2;
    --maindark: #251D4A;
    
    /*Colors with opacity = (#HEX + Opacity)*/
    --mainRGBA: #392C7240; 
    --darkRGBA: #19191980;
    
    /*Secondary Colors*/
    --light: #E7E7E7;
    --medium: #303030;
    --dark: #191919;
    --darkest: #151515;
  
    /*Specials*/
    --dark-fade: linear-gradient(0deg, rgba(21,21,21,1) 0%, rgba(24,24,24,1) 30%, rgba(25,25,25,1) 100%);
    --main-glow: 0px 0px 20px 0.02px var(--mainRGBA);
    
    /*Basic Colors*/
    --white: #ffffff;
    --black: #000000;

    /*Blur background*/
    --blur: blur(10px);
    
    /*Background color*/
    --color-bg-default: var(--darkest) !important;

    /*Text colors*/
    --color-text-default: var(--light);
    --color-text-gray: var(--medium);
    --color-text-purple: var(--main);

    /*Text blocks backgrunds*/
    --color-bg-gray: var(--medium);
    --color-bg-purple: var(--main);

    /*Blocks backgrounds*/
    --color-bg-gray-light: var(--medium);
    --color-bg-purple-light: var(--main);
    
    /*Code background color*/
    --color-code-bg: var(--mainlight);
    
    /*Gallery Databse*/
    --color-card-bg: var(--dark);
    --color-card-bg-hover: var(--dark);

    /*Property pill background*/
    --color-pill-gray: var(--medium);
    --color-pill-purple: var(--main);
    
    /* Globals */
    --padding-global: .6rem; /* Default */
    --border-radii-global: 5px;
  
    /* Layout */
    --layout-max-width: 900px;
    --column-spacing: 25px;
  
    /* Page */
    --header-cover-height: 30vh;
    --header-title-align: left;
    --header-icon-align: -112px auto auto;
    --header-display: none;
    --page-display: block;
    
    /* Typography */
    --quote-size: 1.2em;
    --heading-size: 1rem; 
    --primary-font: 'Inter';
    --secondary-font: 'Inter';
    --text-weight: normal;
    --heading-weight: 600;
    --heading1-size: calc(var(--heading-size) * 2.5) !important;
    --heading2-size: calc(var(--heading-size) * 1.8);
    --heading3-size: calc(var(--heading-size) * 1.2);
    
    /* Text Bg Padding */
    --text-bg-padding: calc(var(--padding-global) - 0.6rem);
    
    /* Navbar */
    --navbar-height: 70px !important;
    --navbar-shadow: 0 0px 0px rgba(0, 0, 0, 0.1) !important;
    --navbar-text-color: var(--white) !important;
    --navbar-background-color: var(--darkRGBA) !important;
    --navbar-button-background-color: var(--main) !important;
    --navbar-button-text-color: var(--color-text-default) !important;
    --navbar-button-border-radii: calc(var(--border-radii-global) + 5px) !important;
    --navbar-menu-background-color: var(--navbar-background-color) !important;

    /* Footer */
    --footer-text-color: var(--white) !important;
    --footer-background-color: var(--dark) !important;

    /*Scrollbar*/
    --scrollbar-background-color: var(--medium) !important;
    --scrollbar-thumb-color: var(--dark) !important;
    --scrollbar-border-color: var(--medium) !important;
    
    /* Image */
    --image-border-radii: calc(var(--border-radii-global) - 5px);
    
    /* Code */
    --code-padding: calc(var(--padding-global) + 1.4rem);
    --code-border-radii: var(--border-radii-global);

    /* Embed */
    --embed-border-radii: calc(var(--border-radii-global) - 5px);

    /* Tweet */
    --tweet-padding: calc(var(--padding-global) + 0.65rem) calc(var(--padding-global) + 0.65rem) calc(var(--padding-global) + 0.05rem) calc(var(--padding-global) + 0.65rem);
    --tweet-border-radii: var(--border-radii-global);
  
    /* Bookmark */
    --bookmark-padding: calc(var(--padding-global) + 0.15rem) 0px calc(var(--padding-global) + 0.025rem) calc(var(--padding-global) + 0.275rem);
    --bookmark-border-radii: var(--border-radii-global);
    --bookmark-image-border-radii: 0px calc(var(--border-radii-global) - 1px) calc(var(--border-radii-global) - 1px) 0px;
  
    /* Callouts */
    --callout-padding: calc(var(--padding-global) + 0.4rem) calc(var(--padding-global) + 0.4rem) calc(var(--padding-global) + 0.4rem) calc(var(--padding-global) + 0.1em)!important;
    --callout-border-radii: calc(var(--border-radii-global) - 2px);
    --callout-icon-display: block;
    --callout-shadow: none;
    
    /* Borders */
    --border-thickness-global: 1px;
    --border-type-global: solid;
    --border-color-global: var(--color-border-default);
    --border-global: var(--border-thickness-global) var(--border-type-global) var(--border-color-global);
    --color-border-default: var(--dark) !important;
    --color-border-dark: var(--color-border-default) !important;
    
    /* Collection cards */
    --collection-card-gap: 15px;
    --collection-card-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 2px 4px;
    --collection-card-cover-height: 200px;
    --collection-card-cover-height-small: calc(var(--collection-card-cover-height) - 72px);
    --collection-card-title-size: 0.875rem;

    /* Collection padding */
    --collection-card-padding: 0px 0px var(--padding-global) 0px;
    --collection-card-title-padding: var(--padding-global) var(--padding-global) 0px var(--padding-global);
    --collection-card-content-padding: 0px var(--padding-global) 0px var(--padding-global);
    --collection-list-item-padding: calc(var(--padding-global) - 0.5rem);
    --collection-table-padding: calc(var(--padding-global) - 0.3rem) calc(var(--padding-global) - 0.1rem);

    /* Collection border */
    --collection-card-border-radii: var(--border-radii-global);
    --collection-list-item-border-radii: calc(var(--border-radii-global) - 1px);
    --collection-header-border: 1px solid var(--color-border-dark);
    
    /*Miscelaneous*/
    --color-ui-hover-bg: var(--dark) !important;
    --color-calendar-weekend-bg: var(--dark) !important;
    --color-checkbox-bg: var(--dark) !important;
}
  
  /*------------------------------------*\
Specific customizations
  \*------------------------------------*/
  
  body {
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    text-rendering: optimizeLegibility !important;
  }
  
  /*Full width on all sections */
  .super-content {
      padding: 0px !important;
  }
  
  /*Hide Other pages toggle*/
  #page-index .notion-toggle {
    display: none !important;
  }
  
  /*Align items together (Copy + Image)*/
  .notion-column-list {
    align-items: center !important;
  }
  
  /*Text selection*/
  ::selection {
    color: var(--light) !important;
    background: var(--mainlight) !important;
  }
  
  /*Recolor text on brand color backgrounds*/
  .bg-purple, .bg-purple-light {
    color: var(--dark) !important;
  }
  
  /*------------------------------------*\
Navbar
  \*------------------------------------*/
  
  /*Blur*/
  .super-navbar {
    backdrop-filter: var(--blur) !important;
  }

  /*Center logo + sections to grid*/
  .super-navbar__content {
    max-width: calc(var(--layout-max-width) + 50px);
    margin: auto !important;
  }
  
  /*Logo Hover*/
  .super-navbar__logo { transition: 0.3s ease-in-out !important; }
  .super-navbar__logo:hover { opacity: 70% !important; }
  
  /*------------------------------------*\
    Videos
  \*------------------------------------*/
  .notion-video video { border-radius: 16px !important; }
  
  /*------------------------------------*\
Headers
  \*------------------------------------*/
  
  /*Hide header information (Icon + Title + Cover)*/
  .notion-header {
    display: none !important;
  }
  
  /*------------------------------------*\
Covers
  \*------------------------------------*/
  
  /*Custom height*/
  .notion-header__cover {
    max-height: 350px;
    height: 350px;
  }
  
  /* Heading column */
  .notion-column > .notion-heading:first-of-type {
    margin-top: 5px !important;
  }
  
  /*------------------------------------*\
Callouts
  \*------------------------------------*/
  
  .notion-callout.bg-gray-light.border {
    width: 100%;
    margin: auto !important;
    text-align: center !important;
    background: var(--dark-fade) !important;
    border: 1.5px solid var(--medium) !important;
    border-radius: 16px !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    transition: 0.3s ease-in-out !important;
  }
  
  /*Hide callout icon & ID*/
  .notion-callout.bg-gray-light.border .notion-callout__icon,
  .notion-callout.bg-gray-light.border .notion-callout__content > span {
    display: none !important;
  }
  
  /*DEFAULT CALLOUTS*/
  
  .notion-callout {
      display: flex!important;
      width: 100% !important;
      align-self: flex-start;
      margin-top: 20px!important;
      padding: 0px !important;
      border: none !important;
  }
  
  .notion-callout__icon {
      margin-right: 10px!important;
      margin-top: 2px!important;
      margin-left: 10px!important;
  }
  
  /*------------------------------------*\
Button
  \*------------------------------------*/
  
  /*Main + Hover*/
  .notion-text__content .notion-link{
    background: var(--main);
    border: none !important;
    border-radius: 9px;
    padding: 8px 15px 9px 15px; /*Top-Left-Down-Right*/
    margin-top: 10px;
    display: inline-block;
    color: var(--light) !important;
    font-size: 13pt;
    opacity: 100% !important;
    transition: 0.2s ease-in-out !important;
  }
  
  .notion-text__content .notion-link:hover {
    opacity: 80% !important;
    color: var(--light);
  }
  
  /*------------------------------------*\
Gallery Database (Medium)
  \*------------------------------------*/
  
  /*Increase the size of grid columns*/
  .notion-collection-gallery.medium {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)) !important;
  }
  
  
  /*Gallery Database*/
  .notion-collection-gallery.medium {
    border-top: none !important;
    cursor: pointer; /*Mouse styling for clicking*/
    overflow: visible !important;
    gap: 20px !important;
  }
  
  /*Individual cards inside gallery*/
  .notion-collection-gallery.medium .notion-collection-card {
    background: var(--dark-fade) !important;
    padding: 0px !important;
    border: 1.5px solid var(--medium) !important;
    border-radius: 16px !important;
    overflow: visible !important;
    transition: 0.3s ease-in-out !important;
  }
  
  .notion-collection-gallery.medium .notion-collection-card:hover {
    box-shadow: var(--main-glow);
    border: 1.5px solid var(--main) !important;
  }
  
  /*Hide icon*/
  .notion-collection-gallery.medium .notion-property__title__icon-wrapper {
    display: none !important;
  }
  
  /*Cover image*/
  .notion-collection-gallery.medium .notion-collection-card__cover {
    border-radius: 16px 16px 0px 0px !important;
    min-height: 20px !important;
    width: 100% !important;
  }
  
  .notion-collection-gallery.medium .notion-collection-card:hover {
    transition: 0.3s ease-in-out !important;
    opacity: 1 !important;
    position: relative !important;
    transform: translateY(-4px)!important;
  }

  /*PROPERTIES*/
  
  .notion-collection-gallery.medium .notion-collection-card__content {
    padding: 20px !important;
  }
  
  /*Show - Enable properties*/
  .notion-collection-gallery.medium .notion-property  {
    display: block !important;
    text-align: left !important;
    padding: 5px  !important;
  }
  
  /*Display full content in Description*/
  .notion-collection-gallery.medium .notion-collection-card__property .notion-semantic-string {
      white-space: unset !important;
      font-size: 11pt !important;
  }
  
  /*Full width on description property*/
  .notion-collection-gallery.medium .notion-collection-card__content .notion-property__text {
    min-width: 100% !important;
  }
  
  /*Pill*/
  .pill-purple {
    border-radius: 20px !important;
    padding: 5px 10px 5px 10px !important;
  }
  
  /*Title font size*/
  .notion-collection-gallery.medium .notion-property.notion-property__title {
    font-size: 16pt;
  }
  
  /*Card / Property Height*/
  .notion-collection-gallery.medium .notion-collection-card {
      height: 100% !important;
  }
  
  /*Hide the header title */
  .notion-collection__header-wrapper h3,
  .notion-dropdown__button {
    display: none !important;
  }
  
  /*------------------------------------*\
Embed
  \*------------------------------------*/
  
  .notion-embed__container {
    width: 100% !important;
  }
  
  /*Change iframe background color*/
  .notion-embed__container > iframe {
    background: none !important;
  }
  
  /*------------------------------------*\
Footer
  \*------------------------------------*/
  
  .super-footer__icons .notion-link {
    gap:20px !important;
    opacity: 20% !important;
    transition: 0.2s ease-in-out !important;
  }
  
  
  .super-footer__icons .notion-link:hover {
    opacity: 1 !important;
  }
  
  
  .super-footer__footnote {
    opacity: 20% !important;
  }
  

  /*************************************************************
RESPONSIVE - Mobile
  *************************************************************/
  @media (max-width: 680px) {
  
  /* Font sizes*/  
    h1.notion-heading { font-size: 28pt !important; }
    h2.notion-heading { font-size: 23pt !important; }
    h3.notion-heading { font-size: 16pt !important; }
    .notion-text { font-size: 12pt !important; }
  
  /*Full width on all sections */
  .super-content {
      padding: 0px !important;
  }
  
  /*Super margins*/
  .super-content.max-width {
    max-width: 80% !important;
  }
  .super-navbar__content {
    max-width: 80% !important;
    margin: auto !important;
  }
}