#block-b1d6e6bbac3348289aeb36f0b03355af .notion-semantic-string .link {
    border-bottom: 1px solid var(--color-dividers) !important;
}

#block-b1d6e6bbac3348289aeb36f0b03355af .notion-semantic-string .link:hover {
    border-bottom: 1px solid var(--color-black) !important;
}

#block-b1d6e6bbac3348289aeb36f0b03355af .notion-semantic-string .link:after {
    content: url('https://sites.super.so/super/assets/icon-arrow-up-right.svg');
    position: absolute;
}