#block-b1d6e6bbac3348289aeb36f0b03355af .notion-semantic-string .link {
    border-bottom: 1px solid var(--color-dividers) !important;
    display: inline-block !important;
    margin-bottom: 12px !important;
    position: relative !important;
    font-weight: 600 !important;
}

#block-b1d6e6bbac3348289aeb36f0b03355af .notion-semantic-string .link:hover {
    border-bottom: 1px solid var(--color-black) !important;
}

#block-b1d6e6bbac3348289aeb36f0b03355af .notion-semantic-string .link:after {
    content: url('https://sites.super.so/super/assets/icon-arrow-up-right.svg');
    transform: scale(0.7) translate(-12px, 12px) !important;
    transition: var(--transition) !important;
    position: absolute !important;
    margin-left: 8px !important;
    opacity: 0 !important;
    top: 1px !important;
}

#block-b1d6e6bbac3348289aeb36f0b03355af .notion-semantic-string .link:hover:after {
    transform: scale(0.7) translate(0, 0) !important;
    opacity: 1 !important;
}

/* Copyright Headline */
#block-ff98da33773d424086c2229ffa23ac27 {
    margin: 0 0 8px !important;
}

/* Footer Divider */
#block-7eddeb535e974bc6aab849e432b0b19b {
    margin: 80px 0 40px !important;
}

/* Logo image */
#block-0b03c3c9e6e24172b159f1152fb57634 {
    border-radius: none !important;
    margin-bottom: 12px !important;
    box-shadow: none !important;
}

/* Subheading */
#block-ff98da33773d424086c2229ffa23ac27 {
    max-width: none !important;
}

@media (max-width: 600px) {

    #block-b1d6e6bbac3348289aeb36f0b03355af .notion-semantic-string .link {
        margin-bottom: 0 !important;
    }

    #block-b1d6e6bbac3348289aeb36f0b03355af .notion-semantic-string {
        flex-direction: column !important;
        display: flex !important;
    }

    #block-b1d6e6bbac3348289aeb36f0b03355af .notion-semantic-string span {
        max-height: 24px !important;
    }

}