:root {
    --color-black: #000 !important;
    --color-off-black: #18191b !important;
    --color-charcoal: #212224 !important;
    --color-grey: #8f9ba8 !important;
    --color-off-white: #f5f6fa !important;
    --color-white: #fff !important;
    --color-primary: #f0bd66 !important;
    --color-dividers: #edeef3 !important;
    --color-dividers-dark: #323335 !important;
    --color-link-dividers: #d4d7dd !important;

    --color-text-default: var(--color-black) !important;
    --color-text-gray: var(--color-grey) !important;
    --color-text-default-light: var(--color-grey) !important;
    --color-text-yellow: var(--color-primary) !important;

    --color-bg-default: var(--color-white) !important;
    --color-bg-gray-light: var(--color-grey) !important;

    --color-ui-hover-bg: var(--color-off-white) !important;
    --color-border-default: var(--color-dividers) !important;
    --color-card-bg: var(--color-white) !important;

    --color-pill-yellow: rgba(240,189,102,0.2) !important;
    --color-pill-green: rgba(89,232,187,0.2) !important;
    --color-pill-default: var(--color-off-white) !important;
    --color-pill-gray: var(--color-off-white) !important;

    --transition: all .3s cubic-bezier(.4,0,.2,1) !important;
    --column-spacing: 60px !important;

    --padding-right: calc(env(safe-area-inset-right) + 100px) !important;
    --padding-left: calc(env(safe-area-inset-left) + 100px) !important;

    --primary-font: 'Beausite Classic', Inter, Helvetica, sans-serif!important;
    --secondary-font: 'Beausite Classic', Inter, Helvetica, sans-serif!important;
}

::selection {
    background: var(--color-primary) !important;
    color: var(--color-white) !important;
}

@media (max-width: 900px) {
    :root {
        --navbar-height: 80px !important;
        --column-spacing: 30px !important;
        --navbar-height-scrolled: 80px !important;
        --padding-right: calc(env(safe-area-inset-right) + 30px) !important;
        --padding-left: calc(env(safe-area-inset-left) + 30px) !important;
    }
}