@font-face {
    font-family: 'Beausite Classic';
    src: url('https://sites.super.so/super/assets/fonts/beausite-regular.eot');
    src:  url('https://sites.super.so/super/assets/fonts/beausite-regular.woff') format('woff'),
          url('https://sites.super.so/super/assets/fonts/beausite-regular.woff2') format('woff2'),
          url('https://sites.super.so/super/assets/fonts/beausite-regular.ttf') format('truetype'),
          url('https://sites.super.so/super/assets/fonts/beausite-regular.eot?#iefix') format('embedded-opentype'),
          url('https://sites.super.so/super/assets/fonts/beausite-regular.svg#beausite-regular') format('svg');
    font-weight: 400;
  }

  @font-face {
    font-family: 'Beausite Classic';
    src: url('https://sites.super.so/super/assets/fonts/beausite-medium.eot');
    src:  url('https://sites.super.so/super/assets/fonts/beausite-medium.woff') format('woff'),
          url('https://sites.super.so/super/assets/fonts/beausite-medium.woff2') format('woff2'),
          url('https://sites.super.so/super/assets/fonts/beausite-medium.ttf') format('truetype'),
          url('https://sites.super.so/super/assets/fonts/beausite-medium.eot?#iefix') format('embedded-opentype'),
          url('https://sites.super.so/super/assets/fonts/beausite-medium.svg#beausite-medium') format('svg');
    font-weight: 500;
  }


  @font-face {
    font-family: 'Beausite Classic';
    src: url('https://sites.super.so/super/assets/fonts/beausite-bold.eot');
    src:  url('https://sites.super.so/super/assets/fonts/beausite-bold.woff') format('woff'),
          url('https://sites.super.so/super/assets/fonts/beausite-bold.woff2') format('woff2'),
          url('https://sites.super.so/super/assets/fonts/beausite-bold.ttf') format('truetype'),
          url('https://sites.super.so/super/assets/fonts/beausite-bold.eot?#iefix') format('embedded-opentype'),
          url('https://sites.super.so/super/assets/fonts/beausite-bold.svg#beausite-bold') format('svg');
    font-weight: 600;
  }

  body {
      font-family: 'Beausite Classic', Inter, Helvetica, sans-serif!important;
  }


h1 {
    letter-spacing: -2.5px !important;
    margin-bottom: 8px !important;
    line-height: 1.3 !important;
    font-size: 68px !important;
    max-width: 100% !important;
    width: 700px !important;
}

h2 {
    letter-spacing: -1.5px !important;
    margin: 12px 0 8px !important;
    font-weight: 700 !important;
    line-height: 1.4 !important;
    font-size: 40px !important;
}

h3 {
    letter-spacing: -0.8px !important;
    margin-bottom: 8px !important;
    font-weight: 600 !important;
    line-height: 1.6 !important;
    font-size: 22px !important;
}

p {
    letter-spacing: -0.1px !important;
    line-height: 1.8 !important;
    font-weight: 400 !important;
    font-size: 18px !important;
}

p .highlighted-color {
    font-size: 15px !important;
}

.notion-semantic-string .link {
    transition: var(--transition) !important;
    border: none !important;
    opacity: 1 !important;
}

.notion-quote .notion-semantic-string .link,
h1 .notion-semantic-string .link,
h2 .notion-semantic-string .link,
h3 .notion-semantic-string .link,
p .notion-semantic-string .link {
    border-bottom: 1px solid var(--color-link-dividers) !important;
}

.notion-quote .notion-semantic-string .link:hover,
h1 .notion-semantic-string .link:hover,
h2 .notion-semantic-string .link:hover,
h3 .notion-semantic-string .link:hover,
p .notion-semantic-string .link:hover {
    border-bottom: 1px solid var(--color-black) !important;
}

.color-yellow a:hover {
    color: var(--color-black) !important;
}


strong {
    font-weight: 900 !important;
}

@media (max-width: 600px) {
    
    h1 {
        letter-spacing: -1.5px !important;
        font-size: 36px !important;
    }

    h2 {
        letter-spacing: -1px !important;
        font-size: 30px !important;
    }

    .notion-text {
        min-height: 20px !important;
    }
    
}