/* Start first col specific */
.notion-root > .notion-column-list > .notion-column:first-child {
  padding-left: 24px !important;
  --color-pill-text-default: var(--color-text-default)!important;
  /* Start group list specitic*/
  /* End first col specific */
}
.notion-root > .notion-column-list > .notion-column:first-child .notion-text .color-gray {
  margin-left: 0px !important;
}
.notion-root > .notion-column-list > .notion-column:first-child .notion-collection {
  margin-top: 0px !important;
}
.notion-root > .notion-column-list > .notion-column:first-child .notion-collection-list__item-property .notion-pill {
  font-size: 0.675rem !important;
  padding: 0px 5px !important;
  margin-inline-end: 0 !important;
}
.notion-root > .notion-column-list > .notion-column:first-child .notion-collection-group__list {
  /* Sidebar heading pill */
  /* End group list specific*/
}
.notion-root > .notion-column-list > .notion-column:first-child .notion-collection-group__list .notion-collection-group__section:not(:last-child) {
  margin-bottom: 8px !important;
}
.notion-root > .notion-column-list > .notion-column:first-child .notion-collection-group__list .notion-collection-group__section-header .notion-pill {
  padding: 0px !important;
  margin: 0px !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 1.125rem !important;
  white-space: nowrap !important;
  display: inline-block !important;
  background: transparent !important;
}
.notion-root > .notion-column-list > .notion-column:first-child .notion-collection-group__list .notion-collection-group__section-header {
  padding: 6px 0px !important;
  margin-bottom: 0px !important;
  display: flex !important;
  align-items: center !important;
  flex-direction: row-reverse !important;
  justify-content: space-between !important;
  opacity: 0.6 !important;
}
.notion-root > .notion-column-list > .notion-column:first-child .notion-collection-group__list .notion-collection-group__section-header:hover {
  opacity: 1 !important;
}
.notion-root > .notion-column-list > .notion-column:first-child .notion-collection-group__list .notion-collection-group__section-toggle {
  position: static !important;
}
.notion-root > .notion-column-list > .notion-column:first-child .notion-collection-group__list .notion-collection-list__item {
  padding: 6px 6px !important;
  margin: 0 !important;
  font-size: 14px !important;
  border-radius: 0 !important;
  border-left: 1px solid var(--color-border-default) !important;
}
.notion-root > .notion-column-list > .notion-column:first-child .notion-collection-group__list .notion-collection-list__item .notion-property__title .notion-semantic-string {
  -webkit-margin-end: 4px !important;
  margin-inline-end: 4px !important;
}
.notion-root > .notion-column-list > .notion-column:first-child .notion-collection-group__list .notion-property__title span {
  font-weight: 400 !important;
}
.notion-root > .notion-column-list > .notion-column:first-child .notion-collection-group__list .active-bg {
  background: var(--color-ui-hover-bg) !important;
  border-color: var(--color-text-default) !important;
}
.notion-root > .notion-column-list > .notion-column:first-child .notion-collection-group__list .active-text span {
  font-weight: 500 !important;
}
.notion-root > .notion-column-list > .notion-column:first-child .notion-collection-group__list .notion-property__title__icon-wrapper {
  display: none !important;
}
.notion-root > .notion-column-list > .notion-column:first-child .notion-collection-group__list .notion-collection-list__item .notion-property__title .notion-semantic-string > span {
  border-bottom: 0 !important;
}
.notion-root > .notion-column-list > .notion-column:first-child .notion-collection-group__list .notion-collection-list__item-property {
  padding: 0 !important;
}
.notion-root > .notion-column-list > .notion-column:first-child .notion-collection-group__list .notion-toggle__trigger {
  margin: 0px !important;
}
.notion-root > .notion-column-list > .notion-column:first-child .notion-collection-group__list .notion-toggle__trigger_icon {
  color: var(--color-gray) !important;
}
.notion-root > .notion-column-list > .notion-column:first-child .notion-collection-group__list .notion-collection-group__section.open:not(.board) {
  margin-bottom: 0px;
}
.notion-root > .notion-column-list > .notion-column:first-child .notion-collection-group__list .notion-collection-group__section-header:not(.no-border) {
  border: 0 !important;
}

/* PONDEROSA SPECIFIC */
.notion-root > .notion-column-list > .notion-column:first-child {
  width: 350px !important;
}

.notion-image img {
  border-radius: 5px !important;
}

#page-docs .notion-table-of-contents,
.parent-page__docs .notion-table-of-contents,
#page-documentation .notion-table-of-contents,
.parent-page__documentation .notion-table-of-contents {
  margin: 0 !important;
  padding: 0 !important;
}

#page-docs .notion-table-of-contents__item,
.parent-page__docs .notion-table-of-contents__item,
#page-documentation .notion-table-of-contents__item,
.parent-page__documentation .notion-table-of-contents__item {
  margin: 10px 0 !important;
  font-size: 15px !important;
}

#page-docs .notion-table-of-contents__item .notion-semantic-string,
.parent-page__docs .notion-table-of-contents__item .notion-semantic-string,
#page-documentation .notion-table-of-contents__item .notion-semantic-string,
.parent-page__documentation .notion-table-of-contents__item .notion-semantic-string {
  border: 0 !important;
}

#page-docs .notion-table-of-contents__item a div,
.parent-page__docs .notion-table-of-contents__item a div,
#page-documentation .notion-table-of-contents__item a div,
.parent-page__documentation .notion-table-of-contents__item a div {
  padding: 0 !important;
}

#page-docs .notion-table-of-contents__item:hover,
.parent-page__docs .notion-table-of-contents__item:hover,
#page-documentation .notion-table-of-contents__item:hover,
.parent-page__documentation .notion-table-of-contents__item:hover {
  background: 0 0 !important;
  opacity: 0.6 !important;
}