@font-face {
  font-family: "Beausite Classic";
  src: url("/fonts/Beausite/beausite-regular.eot");
  src: url("/fonts/Beausite/beausite-regular.woff") format("woff"), url("/fonts/Beausite/beausite-regular.woff2") format("woff2"), url("/fonts/Beausite/beausite-regular.ttf") format("truetype"), url("/fonts/Beausite/beausite-regular.eot?#iefix") format("embedded-opentype"), url("/fonts/Beausite/beausite-regular.svg#beausite-regular") format("svg");
  font-weight: 400;
}
@font-face {
  font-family: "Beausite Classic";
  src: url("/fonts/Beausite/beausite-medium.eot");
  src: url("/fonts/Beausite/beausite-medium.woff") format("woff"), url("/fonts/Beausite/beausite-medium.woff2") format("woff2"), ururl("/fonts/Beausite/beausite-medium.eot?#iefix") format("embedded-opentype"), url("/fonts/Beausite/beausite-medium.svg#beausite-medium") format("svg");
  font-weight: 500;
}
@font-face {
  font-family: "Beausite Classic";
  src: url("/fonts/Beausite/beausite-bold.eot");
  src: url("/fonts/Beausite/beausite-bold.woff") format("woff"), url("/fonts/Beausite/beausite-bold.woff2") format("woff2"), url("/fonts/Beausite/beausite-bold.ttf") format("truetype"), url("/fonts/Beausite/beausite-bold.eot?#iefix") format("embedded-opentype"), url("/fonts/Beausite/beausite-bold.svg#beausite-bold") format("svg");
  font-weight: 600;
}