:root {
  --primary-font: "Beausite Classic" !important;
  --secondary-font: "Beausite Classic" !important;
  --collection-card-cover-height-small: 48px !important;
  --rounded-md: 8px !important;
  --padding-layout: 1rem !important;
  --primary-500: #ffbe3c !important;
  --primary-600: #fbb43c !important;
  --gray-25: #f7f8f9 !important;
  --gray-50: #f2f4f5 !important;
  --gray-100: #e6e9ed !important;
  --gray-200: #ccd1d6 !important;
  --gray-300: #b3bac2 !important;
  --gray-500: #808c99 !important;
  --gray-600: #66707a !important;
  --gray-700: #4d545c !important;
  --gray-800: #33383d !important;
  --gray-900: #262a2e !important;
  --base-white: #ffffff !important;
  --base-warm-gray: #fdfdfc !important;
  --base-cold-white: #f9fafe !important;
  --base-black: #111111 !important;
  --color-bg-default: #fdfdfc !important;
  --color-text-default: var(--gray-900) !important;
  --column-spacing: 32px !important;
  --navbar-height: 80px !important;
  --button-padding: 13px 16px 14px 16px !important;
  --shadow-md: 0px 12px 40px -3px rgba(18, 18, 32, 0.05) !important;
}

.notion-dropdown {
  font-family: var(--primary-font) !important;
  width: 100% !important;
  z-index: 1 !important;
}

.notion-dropdown__menu-header,
.notion-dropdown__option-icon,
.notion-dropdown__button svg:first-of-type {
  display: none !important;
}

.notion-dropdown__button {
  justify-content: space-between !important;
  width: 100% !important;
  border: 1px solid var(--color-border-default) !important;
  padding: 10px !important;
  border-radius: 8px !important;
}

.notion-dropdown__menu-wrapper {
  margin-bottom: 16px !important;
  position: relative !important;
}
.notion-dropdown__menu-wrapper .notion-dropdown__menu {
  width: 100% !important;
  border-radius: 8px !important;
  transform: none !important;
  left: auto !important;
  top: auto !important;
}
.notion-dropdown__menu-wrapper .notion-dropdown__menu .notion-dropdown__option-list {
  padding: 0px !important;
  flex-wrap: wrap !important;
}
.notion-dropdown__menu-wrapper .notion-dropdown__menu .notion-dropdown__option {
  padding: 5px 16px !important;
  height: 50px !important;
}

@media all and (min-width: 576px) {
  .notion-dropdown__button {
    display: none !important;
  }
  .notion-dropdown__menu.initial-state {
    z-index: 1 !important;
    opacity: 1 !important;
    transform: none !important;
  }
  .notion-dropdown__menu.animate-in.animate-out,
.notion-dropdown__menu.animate-in,
.notion-dropdown__menu.animate-out {
    animation: none !important;
  }
  .notion-dropdown__menu {
    width: 80% !important;
    margin: 0 auto !important;
    background: none !important;
    box-shadow: unset !important;
    position: relative !important;
  }
  .notion-dropdown__menu .notion-dropdown__option-list {
    display: flex !important;
    gap: 8px !important;
  }
  .notion-dropdown__menu .notion-dropdown__option.active {
    background: var(--gray-50) !important;
  }
  .notion-dropdown__menu .notion-dropdown__option {
    border-radius: 50px !important;
    border: 1px solid var(--gray-100) !important;
    transition: all 0.15s ease-in-out !important;
    align-items: center !important;
  }
  .notion-dropdown__menu .notion-dropdown__option:hover {
    background: var(--gray-50) !important;
  }
  .notion-dropdown__menu .notion-dropdown__option p {
    font-size: 1rem !important;
    color: var(--color-grey) !important;
  }
}
.notion-callout.bg-gray-light .notion-dropdown__menu .notion-dropdown__option {
  border: 1px solid var(--gray-800) !important;
}
.notion-callout.bg-gray-light .notion-dropdown__menu .notion-dropdown__option:hover {
  background: var(--gray-800) !important;
}
.notion-callout.bg-gray-light .notion-dropdown__menu .notion-dropdown__option.active {
  background: var(--gray-800) !important;
}
@media screen and (max-width: 576px) {
  .notion-callout.bg-gray-light .notion-dropdown__button {
    border: 1px solid var(--gray-700) !important;
  }
  .notion-callout.bg-gray-light .notion-dropdown__button:hover {
    background: var(--gray-800) !important;
  }
  .notion-callout.bg-gray-light .notion-dropdown__menu {
    background: var(--gray-900) !important;
  }
  .notion-callout.bg-gray-light .notion-dropdown__menu .notion-dropdown__option {
    border: 1px solid var(--gray-900) !important;
  }
}

.notion-collection-gallery {
  border-top: 0px !important;
}

.notion-collection-gallery.small .notion-collection-card {
  box-shadow: none !important;
  border: 1px solid var(--gray-50) !important;
  text-align: center !important;
  padding: 24px 0px !important;
  background: transparent !important;
}
.notion-collection-gallery.small .notion-collection-card:hover {
  border: 1px solid var(--gray-100) !important;
}
.notion-collection-gallery.small .notion-collection-card:hover .notion-property__title {
  color: var(--base-black) !important;
}
.notion-collection-gallery.small .notion-collection-card .notion-property__title {
  justify-content: center !important;
  font-size: 0.875rem !important;
  color: var(--gray-300) !important;
}

.notion-collection-gallery.large,
.notion-collection-gallery.medium {
  gap: 32px !important;
  border-top: 0px !important;
}
.notion-collection-gallery.large .notion-collection-card,
.notion-collection-gallery.medium .notion-collection-card {
  border-radius: 8px !important;
  box-shadow: 2.6px 4px 2.6px rgba(0, 0, 0, 0.007), 7.3px 11px 7.1px rgba(0, 0, 0, 0.01), 17.5px 26.5px 17.2px rgba(0, 0, 0, 0.013), 58px 88px 57px rgba(0, 0, 0, 0.02) !important;
  position: relative !important;
  transition: all 0.15s ease-in-out !important;
  cursor: pointer !important;
}
.notion-collection-gallery.large .notion-collection-card:hover,
.notion-collection-gallery.medium .notion-collection-card:hover {
  box-shadow: 0 20px 40px -10px rgba(0, 0, 0, 0.12) !important;
  background: var(--base-white) !important;
  transform: translateY(-8px) !important;
}
.notion-collection-gallery.large .notion-collection-card .notion-property__title,
.notion-collection-gallery.medium .notion-collection-card .notion-property__title {
  font-size: 1.125rem !important;
}
.notion-collection-gallery.large .notion-collection-card .notion-property__title__icon-wrapper,
.notion-collection-gallery.medium .notion-collection-card .notion-property__title__icon-wrapper {
  display: none !important;
}
.notion-collection-gallery.large .notion-collection-card__content,
.notion-collection-gallery.medium .notion-collection-card__content {
  margin-top: 0px !important;
}
.notion-collection-gallery.large .notion-collection-card__content .property-7a5f6142 span,
.notion-collection-gallery.medium .notion-collection-card__content .property-7a5f6142 span {
  position: absolute !important;
  top: 8px !important;
  right: 8px !important;
  background: var(--base-white) !important;
  color: var(--base-black) !important;
  width: 48px !important;
  height: 48px !important;
  padding: 4px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border-radius: 100% !important;
  font-size: 1.125rem !important;
  font-weight: 500 !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.06) !important;
}
.notion-collection-gallery.large .notion-collection-card__content .property-52525675,
.notion-collection-gallery.medium .notion-collection-card__content .property-52525675 {
  display: flex !important;
  align-items: center !important;
  font-size: 1rem !important;
}
.notion-collection-gallery.large .notion-collection-card__content .property-52525675 .notion-page__icon,
.notion-collection-gallery.medium .notion-collection-card__content .property-52525675 .notion-page__icon {
  display: none !important;
}
.notion-collection-gallery.large .notion-collection-card__content .property-52525675 .notion-page__title .notion-semantic-string,
.notion-collection-gallery.medium .notion-collection-card__content .property-52525675 .notion-page__title .notion-semantic-string {
  border: 0 !important;
  font-weight: 300 !important;
}
.notion-collection-gallery.large .notion-collection-card__content .property-52525675::before,
.notion-collection-gallery.medium .notion-collection-card__content .property-52525675::before {
  color: var(--gray-500) !important;
  content: "by";
  margin-right: 4px !important;
}
.notion-collection-gallery.large .notion-collection-card__content .property-5f417276,
.notion-collection-gallery.medium .notion-collection-card__content .property-5f417276 {
  margin-top: 8px !important;
}
.notion-collection-gallery.large .notion-collection-card__content .property-5f417276 span,
.notion-collection-gallery.medium .notion-collection-card__content .property-5f417276 span {
  background: var(--gray-25) !important;
  color: var(--gray-500) !important;
  font-size: 1rem !important;
  padding: 4px 8px !important;
}
.notion-collection-gallery.large .notion-collection-card__property,
.notion-collection-gallery.medium .notion-collection-card__property {
  min-height: unset !important;
}
.notion-collection-gallery.large .notion-collection-card__property span,
.notion-collection-gallery.medium .notion-collection-card__property span {
  color: var(--gray-500) !important;
  font-size: 1rem !important;
}

.notion-toggle.open:before {
  position: absolute !important;
  font-weight: 100 !important;
  font-size: 24px !important;
  line-height: 1 !important;
  opacity: 0.4 !important;
  content: "-" !important;
  top: 24px !important;
  left: 20px !important;
}

.notion-toggle {
  border: 1px solid #ebebeb !important;
  border-radius: 12px !important;
  margin-bottom: 16px !important;
  position: relative !important;
  text-align: left !important;
  transition: background 0.2s ease-in-out !important;
}
.notion-toggle:hover {
  background: var(--gray-25) !important;
}
.notion-toggle:before {
  position: absolute !important;
  font-weight: 100 !important;
  font-size: 24px !important;
  line-height: 1 !important;
  opacity: 0.4 !important;
  content: "+" !important;
  top: 24px !important;
  left: 20px !important;
}
.notion-toggle h3 {
  font-weight: 300 !important;
}

.notion-toggle__trigger {
  display: none !important;
}

.notion-toggle__summary {
  margin: 0 !important;
  margin-left: 20px !important;
  padding: 20px !important;
}

.notion-toggle__content {
  padding: 20px !important;
  padding-top: 0px !important;
  padding-left: 40px !important;
}

.super-navbar {
  height: var(--navbar-height) !important;
  background: transparent !important;
  transition: height 0.3s ease-in-out, background 0.2s ease-in-out !important;
}
.super-navbar .super-navbar__item {
  color: var(--color-text-default) !important;
}
@media screen and (max-width: 576px) {
  .super-navbar .super-navbar__item:last-child {
    transition: none !important;
    font-weight: 700 !important;
    color: var(--base-black) !important;
  }
}
@media all and (min-width: 576px) {
  .super-navbar .super-navbar__item:last-child {
    height: 44px !important;
    opacity: 1 !important;
    padding: var(--button-padding) !important;
    border-radius: var(--rounded-md) !important;
    font-weight: 500 !important;
    font-size: 1rem !important;
    display: inline-flex !important;
    justify-content: center !important;
    cursor: pointer !important;
    transition: background 0.2s ease-in-out, transform 0.1s ease-in-out, box-shadow 0.15s ease-in-out !important;
    border: 1px solid var(--gray-50) !important;
    color: var(--gray-700) !important;
    background: var(--base-white) !important;
    margin-left: 8px !important;
    padding: 10px 16px !important;
    transition: none !important;
    font-weight: 500 !important;
  }
  .super-navbar .super-navbar__item:last-child:hover {
    background: var(--gray-25) !important;
    color: var(--gray-900) !important;
  }
}
.super-navbar .super-navbar__cta {
  border-radius: 8px !important;
  padding: 10px 16px !important;
  background: var(--primary-500) !important;
  color: var(--base-black) !important;
  font-weight: 500 !important;
}
@media screen and (max-width: 576px) {
  .super-navbar .super-navbar__cta {
    padding: 8px 12px !important;
  }
}

.super-navbar.scrolled {
  -webkit-backdrop-filter: blur(20px) saturate(200%) !important;
  -moz-backdrop-filter: blur(20px) saturate(200%) !important;
  backdrop-filter: blur(20px) saturate(200%) !important;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.04) !important;
  background: rgba(255, 255, 255, 0.85) !important;
  height: 70px !important;
}

.super-root .super-content #block-1efa808dfcce4ebaae1f7d5c21cc5bf6 {
  padding: 0px !important;
  margin: 0px !important;
  border: none !important;
  overflow: visible !important;
  text-align: center !important;
  padding: 100px 24px !important;
  border-radius: 40px !important;
  background-position: center !important;
  background-size: cover !important;
  position: relative !important;
  overflow: hidden !important;
}
.super-root .super-content #block-1efa808dfcce4ebaae1f7d5c21cc5bf6 .notion-callout__icon {
  display: none !important;
}
.super-root .super-content #block-1efa808dfcce4ebaae1f7d5c21cc5bf6 .notion-callout__content {
  margin-inline-start: 0px !important;
  overflow: visible !important;
}
.super-root .super-content #block-1efa808dfcce4ebaae1f7d5c21cc5bf6 .notion-callout__content > span {
  display: none !important;
}
.super-root .super-content #block-1efa808dfcce4ebaae1f7d5c21cc5bf6 .notion-link {
  margin-top: 24px !important;
  opacity: 1 !important;
  padding: var(--button-padding) !important;
  border-radius: var(--rounded-md) !important;
  font-weight: 500 !important;
  font-size: 1rem !important;
  display: inline-flex !important;
  justify-content: center !important;
  cursor: pointer !important;
  transition: background 0.2s ease-in-out, transform 0.1s ease-in-out, box-shadow 0.15s ease-in-out !important;
  border: 0px !important;
  background: var(--base-black) !important;
  color: var(--base-white) !important;
}
.super-root .super-content #block-1efa808dfcce4ebaae1f7d5c21cc5bf6 .notion-link:active {
  transform: translateY(1px) !important;
}
.super-root .super-content #block-1efa808dfcce4ebaae1f7d5c21cc5bf6 .notion-link:hover {
  box-shadow: 0px 5px 28px -6px rgb(255, 190, 61) !important;
  -webkit-box-shadow: 0px 5px 28px -6px rgb(255, 190, 61) !important;
  background: var(--gray-900) !important;
}
.super-root .super-content #block-1efa808dfcce4ebaae1f7d5c21cc5bf6 .notion-image:last-child {
  position: absolute !important;
  width: 120% !important;
  height: 120% !important;
  max-width: 120% !important;
  max-height: 120% !important;
  top: 58% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  z-index: -1 !important;
}
@media screen and (max-width: 992px) {
  .super-root .super-content #block-1efa808dfcce4ebaae1f7d5c21cc5bf6 .notion-image:last-child {
    top: 50% !important;
    width: 140% !important;
    max-width: 140% !important;
    max-height: 140% !important;
  }
}
@media screen and (max-width: 576px) {
  .super-root .super-content #block-1efa808dfcce4ebaae1f7d5c21cc5bf6 .notion-image:last-child {
    top: 130% !important;
    width: 280% !important;
    height: 280% !important;
    max-width: 280% !important;
    max-height: 280% !important;
  }
}

::selection {
  background: rgba(255, 193, 88, 0.4) !important;
}

::-moz-selection {
  background: rgba(255, 193, 88, 0.4) !important;
}

body {
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  text-rendering: optimizeLegibility !important;
  font-weight: 400 !important;
}

.notion-toggle.bg-brown {
  display: none !important;
}

.notion-video video,
.notion-embed__container > iframe {
  border-radius: 24px !important;
}

h1,
h1.notion-heading,
h1.notion-heading span {
  font-size: clamp(2.6rem, 6vw, 3.6rem) !important;
  line-height: 1.1 !important;
  letter-spacing: -2.5px !important;
}

h2,
h2.notion-heading,
h2.notion-heading span {
  font-size: clamp(2rem, 4vw, 2.4rem) !important;
  line-height: 1.1 !important;
  margin-bottom: 8px !important;
}

h2.notion-heading .notion-semantic-string {
  letter-spacing: -1.5px !important;
}

.notion-text {
  color: var(--gray-600) !important;
}
.notion-text * {
  line-height: 1.6 !important;
}

.notion-root > .notion-heading {
  margin-bottom: 16px !important;
}

.super-root:not(#page-index, #page-pricing, #page-pricing-annual) .notion-root > h1.notion-heading {
  max-width: 48rem !important;
  margin-top: 16px !important;
}

.super-footer__footnote {
  opacity: 0.4 !important;
  text-align: left !important;
}

#page-index .notion-header__title,
#page-pricing .notion-header__title,
#page-pricing-annual .notion-header__title {
  display: none !important;
}

#page-templates .notion-header__title,
#page-showcase .notion-header__title,
#page-icons .notion-header__title,
#page-icons-light .notion-header__title,
#page-illustrations .notion-header__title,
#page-guides .notion-header__title,
#page-blog .notion-header__title,
#page-create .notion-header__title,
#page-report .notion-header__title,
#page-builder .notion-header__title {
  color: var(--gray-300) !important;
  letter-spacing: -1px !important;
  position: absolute !important;
  font-size: 24px !important;
  top: 100px !important;
  left: 2px !important;
}
@media screen and (max-width: 576px) {
  #page-templates .notion-header__title,
#page-showcase .notion-header__title,
#page-icons .notion-header__title,
#page-icons-light .notion-header__title,
#page-illustrations .notion-header__title,
#page-guides .notion-header__title,
#page-blog .notion-header__title,
#page-create .notion-header__title,
#page-report .notion-header__title,
#page-builder .notion-header__title {
    top: 40px !important;
  }
}

#page-index .notion-header__cover,
.parent-page__index:not(#page-privacy, #page-terms) .notion-header__cover {
  height: 110vh !important;
  width: 100% !important;
  max-height: none !important;
  z-index: -9999 !important;
  position: absolute !important;
  top: -110px !important;
}
#page-index .notion-header__cover::after,
.parent-page__index:not(#page-privacy, #page-terms) .notion-header__cover::after {
  content: "" !important;
  position: absolute !important;
  z-index: 1 !important;
  bottom: -2px !important;
  background-image: linear-gradient(to bottom, rgba(253, 253, 252, 0), rgb(253, 253, 252) 100%) !important;
  width: 100% !important;
  height: 100vh !important;
}
#page-index .notion-header__cover img,
.parent-page__index:not(#page-privacy, #page-terms) .notion-header__cover img {
  position: absolute;
  object-position: center !important;
  object-fit: cover !important;
  height: 100% !important;
  width: 90% !important;
  z-index: -9999 !important;
}
#page-index .notion-header__icon-wrapper,
#page-index .notion-header__cover.no-cover,
.parent-page__index:not(#page-privacy, #page-terms) .notion-header__icon-wrapper,
.parent-page__index:not(#page-privacy, #page-terms) .notion-header__cover.no-cover {
  display: none !important;
}
#page-index .super-content,
.parent-page__index:not(#page-privacy, #page-terms) .super-content {
  padding-top: 120px !important;
  max-width: 1280px !important;
  margin: 0 auto !important;
}
@media screen and (max-width: 576px) {
  #page-index .super-content,
.parent-page__index:not(#page-privacy, #page-terms) .super-content {
    padding-top: 100px !important;
  }
}
#page-index .notion-header__content,
.parent-page__index:not(#page-privacy, #page-terms) .notion-header__content {
  margin: 0 auto !important;
  max-width: 1280px !important;
}
#page-index .notion-header__content .notion-header__title-wrapper,
.parent-page__index:not(#page-privacy, #page-terms) .notion-header__content .notion-header__title-wrapper {
  margin-bottom: 4px;
  position: relative;
  margin-top: 0px !important;
  z-index: 1 !important;
}

#page-icons .notion-page,
#page-icons-light .notion-page,
#page-pricing .notion-page,
#page-pricing-annual .notion-page,
#page-illustrations .notion-page {
  display: none !important;
}

#block-a86b81903a6543e79aaccdb292aaefa2 .notion-link,
#block-4bc224d57a9d4a33acf1c1115706792d .notion-link,
#block-d4275c52214e4bc3929a23f991fa9c18 .notion-link,
#block-85d934e03c8840b29134ed96836c9b33 .notion-link,
#block-1b6a89ce78f34f42b0bfe60f07482ffa .notion-link,
#block-7ee63c2361cb48188152939336f9ea8e .notion-link {
  margin-top: 16px !important;
  opacity: 1 !important;
  padding: var(--button-padding) !important;
  border-radius: var(--rounded-md) !important;
  font-weight: 500 !important;
  font-size: 1rem !important;
  display: inline-flex !important;
  justify-content: center !important;
  cursor: pointer !important;
  transition: background 0.2s ease-in-out, transform 0.1s ease-in-out, box-shadow 0.15s ease-in-out !important;
  border: 1px solid var(--gray-50) !important;
  color: var(--gray-700) !important;
  background: var(--base-white) !important;
  padding: 7px 16px 8px 16px !important;
}
#block-a86b81903a6543e79aaccdb292aaefa2 .notion-link:hover,
#block-4bc224d57a9d4a33acf1c1115706792d .notion-link:hover,
#block-d4275c52214e4bc3929a23f991fa9c18 .notion-link:hover,
#block-85d934e03c8840b29134ed96836c9b33 .notion-link:hover,
#block-1b6a89ce78f34f42b0bfe60f07482ffa .notion-link:hover,
#block-7ee63c2361cb48188152939336f9ea8e .notion-link:hover {
  background: var(--gray-25) !important;
  color: var(--gray-900) !important;
}

#page-builder .notion-callout.bg-gray-light,
#page-index .notion-callout.bg-gray-light {
  background: var(--gray-900) !important;
  color: var(--base-white) !important;
  transition: box-shadow 0.2s ease-out !important;
  padding: 48px !important;
  background-clip: padding-box !important;
  border: solid 1px transparent !important;
  position: relative !important;
}
@media screen and (max-width: 576px) {
  #page-builder .notion-callout.bg-gray-light,
#page-index .notion-callout.bg-gray-light {
    padding: 8px !important;
  }
}
#page-builder .notion-callout.bg-gray-light:before,
#page-index .notion-callout.bg-gray-light:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -1px;
  border-radius: inherit;
  background: linear-gradient(to right, rgb(95, 95, 95), rgb(239, 239, 239));
}
#page-builder .notion-callout.bg-gray-light .notion-text,
#page-index .notion-callout.bg-gray-light .notion-text {
  color: var(--gray-200) !important;
}