:root {
    --color-text-yellow: #f0bd66 !important;
    --color-ui-hover-bg: #f6f7f9 !important;
    --color-light-grey: #f6f7f9 !important;
    --color-text-gray: #808c99 !important;
    --column-spacing: 80px !important;
    --color-white: #fff !important;
    --rounded: 8px !important;
}

.max-width {
    max-width: 1000px !important;
}

h1 {
    letter-spacing: -1px !important;
}

#page-index .notion-header__icon-wrapper,
#page-index .notion-header__cover,
a#block-vip {
    display: none !important;
}

#page-index .notion-header__title-wrapper {
    margin-top: 120px !important;
}

.notion-header { margin-bottom: 24px !important; }
.notion-heading { margin-bottom: 16px !important; }
.notion-page__icon { margin: 2px 12px 2px 2px !important; }
.notion-page__title .notion-semantic-string { border: none !important; }

.notion-page>div {
    border-radius: var(--rounded) !important;
    align-items: center !important;
    padding: 4px !important;
}

.notion-page__icon div,
.notion-page__icon img {
    height: 32px !important;
    width: 32px !important;
}

.notion-image>div {
    overflow: visible !important;
}

.notion-image img,
.notion-embed {
    box-shadow: 0 20px 40px rgb(0 0 0 / 4%) !important;
    border-radius: 8px !important;
    overflow: hidden !important;
}