/*-------------------------------------------*/
/*------------ GLOBAL VARIABLES -------------*/
/*-------------------------------------------*/

:root {
    --color-blackout-1: #000 !important;
    --color-blackout-2: #0a0d0f !important;
    --color-blackout-3: #131419 !important;
    --color-ui-hover-bg: #f6f7f9 !important;
    --color-light-grey: #f6f7f9 !important;
    --color-white: #fff !important;
    --rounded: 8px !important;
}

.notion-header {
    display: none !important;
}

/*-------------------------------------------*/
/*------------- GLOBAL BLOCKS ---------------*/
/*-------------------------------------------*/

h1 {
    line-height: 1.8 !important;
}

.notion-header { margin-bottom: 24px !important; }
.notion-heading { margin-bottom: 16px !important; }
.notion-page__icon { margin: 2px 12px 2px 2px !important; }
.notion-page__title .notion-semantic-string { border: none !important; }

.notion-page>div {
    border-radius: var(--rounded) !important;
    align-items: center !important;
    padding: 4px !important;
}

.notion-page__icon div,
.notion-page__icon img {
    height: 30px !important;
    width: 30px !important;
}

.notion-code pre {
    background: var(--color-light-grey) !important;
    border-radius: var(--rounded) !important;
    padding: 18px 24px !important;
    font-size: 14px !important;
    line-height: 2 !important;
}

.notion-property__text code {
    display: block !important;
}
.notion-collection-table td,
.notion-collection-table th {
    border: 1px solid #edeef3 !important;
    vertical-align: middle !important;
    padding: 12px !important;
}
.notion-property__text .notion-semantic-string {
    white-space: pre !important;
}

/*-------------------------------------------*/
/*------------- BLACKOUT THEME --------------*/
/*-------------------------------------------*/

#page-themes-blackout .notion-header__title {
    display: none !important;
}

#page-themes-blackout,
#page-themes-blackout .notion-navbar {
    background: var(--color-blackout-1) !important;
}

#page-themes-blackout .notion-navbar>a:hover {
    background: var(--color-blackout-2) !important;
}

#page-themes-blackout .notion-navbar__title,
#page-themes-blackout .notion-callout,
#page-themes-blackout h1,
#page-themes-blackout h2,
#page-themes-blackout h3,
#page-themes-blackout p {
    color: var(--color-white) !important;
}

#page-themes-blackout .notion-callout {
    border: none !important;
}

#page-themes-blackout .notion-callout.border {
    border: 1px solid rgba(255,255,255,0.1) !important;
}

#page-themes-blackout .notion-callout.bg-gray-light { background: var(--color-text-gray) !important; }
#page-themes-blackout .notion-callout.bg-brown-light { background: var(--color-text-brown) !important; }
#page-themes-blackout .notion-callout.bg-orange-light { background: var(--color-text-orange) !important; }
#page-themes-blackout .notion-callout.bg-green-light { background: var(--color-text-green) !important; }
#page-themes-blackout .notion-callout.bg-yellow-light { background: var(--color-text-yellow) !important; }
#page-themes-blackout .notion-callout.bg-blue-light { background: var(--color-text-blue) !important; }
#page-themes-blackout .notion-callout.bg-purple-light { background: var(--color-text-purple) !important; }
#page-themes-blackout .notion-callout.bg-purple-light { background: var(--color-text-purple) !important; }
#page-themes-blackout .notion-callout.bg-pink-light { background: var(--color-text-pink) !important; }
#page-themes-blackout .notion-callout.bg-red-light { background: var(--color-text-red) !important; }
#page-themes-blackout .notion-divider { border-bottom: 1px solid var(--color-blackout-3) !important; }
