#page-careers .notion-collection__header {
    color: var(--color-grey) !important;
    font-weight: 700 !important;
    display: block !important;
}

#page-careers .notion-image img {
    border-radius: 0 !important;
    box-shadow: nonw !important;
}