#page-docs .notion-page {
    padding: 0 !important;
    margin: 0 !important;
}

#page-docs .notion-page>div {
    transition: var(--transition) !important;
    align-items: center !important;
    padding: 16px 0 !important;
    margin: 0 !important;
}

#page-docs .notion-page>div:hover {
    transform: translateX(4px) !important;
    background: none !important;
}

#page-docs .notion-page__icon {
    margin: 0 16px 0 0 !important;
}

#page-docs .notion-page__icon>div,
#page-docs .notion-page__icon img {
    height: 36px !important;
    width: 36px !important;
}

#page-docs .notion-page__title .notion-semantic-string {
    letter-spacing: -1px !important;
    font-weight: 700 !important;
    font-size: 24px !important;
    border: none !important;
}