#page-icons {
    transition: var(--transition) !important;
}

#page-icons .notion-page,
#page-icons-light .notion-page {
    display: none !important;
}

#page-icons-light {
    background: var(--color-off-black) !important;
    transition: var(--transition) !important;
    color: var(--color-white) !important;
}

#page-icons-light .notion-navbar {
    background: rgba(24,25,27,0.85) !important;
}

#page-icons-light .notion-quote a:hover {
    color: var(--color-white) !important;
}

#page-icons-light .notion-quote .bg-gray {
    background: var(--color-charcoal) !important;
}

#page-icons-light .notion-property__title {
    transition: none !important;
}

#page-icons-light .notion-callout.bg-gray-light {
    border: 1px solid var(--color-dividers-dark) !important;
    background: var(--color-charcoal) !important;
    color: var(--color-white) !important;
}

#page-icons-light .notion-callout.bg-gray-light:hover {
    box-shadow: 0 20px 30px -10px rgba(0,0,0,0.4) !important;
}

@media (max-width: 600px) {

    #block-ed9dc13f86aa45149464e0001cc0c926 {
        display: none !important;
    }

}