/* HIDDEN CONTENT */
#page-index .notion-header__title,
#page-index .notion-toggle {
    display: none !important;
}

/* SPACING DIVIDER */
#page-index .notion-divider {
    margin: 50px 0 !important;
    border: none !important;
}

/* SHOWCASE & TEMPLATES */
#page-index .collection-5691069c53964e6bbeca9ed509e43912 .notion-collection-gallery {
    grid-template-columns: repeat(4, 1fr) !important;
}
#page-index .collection-5691069c53964e6bbeca9ed509e43912 .notion-collection-card {
    padding: 16px !important;
}
#page-index .collection-5691069c53964e6bbeca9ed509e43912 .notion-property__title {
    margin: 16px 0 0 !important;
    font-size: 22px !important;
}
#page-index .collection-5691069c53964e6bbeca9ed509e43912 .notion-collection-card__cover,
#page-index .collection-5691069c53964e6bbeca9ed509e43912 .notion-collection-card__cover>div,
#page-index .collection-5691069c53964e6bbeca9ed509e43912 .notion-collection-card__cover img {
    max-height: 130px !important;
    height: 130px !important;
}
#page-index .collection-5691069c53964e6bbeca9ed509e43912 
.notion-collection-card:last-child .notion-collection-card {
    justify-content: space-between !important;
}

#page-index .collection-5691069c53964e6bbeca9ed509e43912 
.notion-collection-card:last-child .notion-collection-card__cover {
    display: none !important;
}
#page-index .collection-5691069c53964e6bbeca9ed509e43912 
.notion-collection-card:last-child .notion-property__title {
    margin-top: auto !important;
    font-size: 30px !important;
    order: 2 !important;
}

#page-index .collection-5691069c53964e6bbeca9ed509e43912 
.notion-collection-card:last-child .notion-semantic-string {
    line-height: 1.4 !important;
}

#page-index #block-7cc67da23a8a429cbce9450e256304a3 .notion-column {
    width: fit-content !important;
}