/* HIDDEN CONTENT */
#page-index .notion-header__title,
#page-index .notion-toggle {
    display: none !important;
}

/* SHOWCASE & TEMPLATES */
#page-index .collection-5691069c53964e6bbeca9ed509e43912 .notion-collection-gallery {
    grid-template-columns: repeat(4, 1fr) !important;
}
#page-index .collection-5691069c53964e6bbeca9ed509e43912 .notion-collection-card {
    border-radius: 12px !important;
    padding: 16px !important;
}
#page-index .collection-5691069c53964e6bbeca9ed509e43912 .notion-property__title {
    margin: 16px 0 0 !important;
    font-size: 22px !important;
}
#page-index .collection-5691069c53964e6bbeca9ed509e43912 .notion-collection-card__cover,
#page-index .collection-5691069c53964e6bbeca9ed509e43912 .notion-collection-card__cover>div,
#page-index .collection-5691069c53964e6bbeca9ed509e43912 .notion-collection-card__cover img {
    max-height: 130px !important;
    height: 130px !important;
}

#block-6e608a8f449340f188272f7c75fb6a22,
#block-63108f9a46ee471982a372959754ed62,
#block-cd0a2c77dac547da8f9ecc0f074cb94b,
#block-b5c75dedb3d745e296c6fd7572a9275d {
    width: fit-content !important;
}

#block-63108f9a46ee471982a372959754ed62,
#block-b5c75dedb3d745e296c6fd7572a9275d {
    margin-inline-start: 40px !important;
}

/* View more CTA cards */
.property-5e547c71 {
    transition: var(--transition) !important;
    position: absolute !important;
    opacity: 0.2 !important;
    right: 24px !important;
    top: 36px !important;
}
#block-content-view-all-templates:hover .property-5e547c71,
#block-content-visit-our-showcase:hover .property-5e547c71 {
    transform: translate(8px, -8px) !important;
    opacity: 1 !important;
}
#block-content-view-all-templates .notion-collection-card__cover,
#block-content-visit-our-showcase .notion-collection-card__cover {
    display: none !important;
}
#page-index .collection-5691069c53964e6bbeca9ed509e43912 #block-content-view-all-templates .notion-property__title,
#page-index .collection-5691069c53964e6bbeca9ed509e43912 #block-content-visit-our-showcase .notion-property__title {
    margin: auto 0 0 !important;
    font-size: 30px !important;
    order: 2 !important;
}
#block-content-view-all-templates .notion-semantic-string,
#block-content-visit-our-showcase .notion-semantic-string {
    line-height: 1.4 !important;
}

#page-index h2 { max-width: 560px !important; }
#page-index h3 { max-width: 320px !important; }
#block-7f6d38f96cc141fc94e68adccae7eee7 { max-width: none !important; }

@media (max-width: 600px) {

    #page-index .collection-5691069c53964e6bbeca9ed509e43912 .notion-collection-gallery {
        grid-template-columns: 1fr !important;
    }

    #block-content-miriam-gonzalez,
    #block-content-anotioneer,
    #block-content-side-hustle-stack,
    #block-content-sam-judge,
    #block-content-persona,
    #block-content-photon,
    #block-content-spotlight {
        display: none !important;
    }

    #block-63108f9a46ee471982a372959754ed62,
    #block-b5c75dedb3d745e296c6fd7572a9275d {
        margin-inline-start: 0 !important;
    }

    #page-index h2,
    #page-index h3 {
        max-width: 100% !important;
    }

}