.super-password-protection__wrapper {
    max-width: 600px !important;
}

.super-password-protection__title {
    letter-spacing: -1.5px !important;
    margin-bottom: 20px !important;
    max-width: 360px !important;
    font-size: 36px !important;
}

.super-password-protection__input {
    border-radius: 8px !important;
}