#page-pulse .super-content,
#page-pulse .notion-header__content {
    margin: 0 auto !important;
    max-width: 85% !important;
    width: 520px !important;
    padding: 0 !important;
}

#page-pulse .notion-collection-gallery {
    flex-direction: column !important;
    display: flex !important;
}

#page-pulse .notion-collection-card__cover,
#page-pulse .notion-collection-card__cover>div,
#page-pulse .notion-collection-card__cover img {
    max-height: none !important;
    height: 260px !important;
}

#page-pulse .notion-collection-card__cover {
    margin: 24px 0 20px !important;
    order: 2 !important;
}

#page-pulse .notion-collection-card__content {
    order: 3 !important;
}

#page-pulse .notion-property__title {
    max-width: 300px !important;
    margin: 4px 0 0 !important;
}

#page-pulse .notion-property__title:before {
    background: var(--color-primary) !important;
    color: var(--color-white) !important;
    letter-spacing: -0.3px !important;
    border-radius: 100px !important;
    position: absolute !important;
    padding: 6px 12px !important;
    font-weight: 700 !important;
    font-size: 15px !important;
    content: "New" !important;
    right: 24px !important;
    top: 22px !important;
}


@media (max-width: 600px) {

    #page-pulse .notion-collection-card__cover,
    #page-pulse .notion-collection-card__cover>div,
    #page-pulse .notion-collection-card__cover img {
        max-height: 160px !important;
        height: 160px !important;
    }

}