#page-pulse .super-content,
#page-pulse .notion-header__content {
    margin: 0 auto !important;
    max-width: 85% !important;
    width: 520px !important;
    padding: 0 !important;
}

#page-pulse .notion-collection-gallery {
    flex-direction: column !important;
    display: flex !important;
}

#page-pulse .notion-collection-card__cover,
#page-pulse .notion-collection-card__cover>div,
#page-pulse .notion-collection-card__cover img {
    max-height: none !important;
    height: 260px !important;
}

#page-pulse .notion-collection-card__cover {
    margin-top: 20px !important;
    order: 3 !important;
}

#page-pulse .notion-property__title {
    align-items: center !important;
    margin: 0 !important;
}

#page-pulse .notion-property__title:before {
    background: var(--color-primary) !important;
    color: var(--color-white) !important;
    letter-spacing: -0.3px !important;
    border-radius: 100px !important;
    position: relative !important;
    margin-right: 10px !important;
    padding: 3px 9px !important;
    font-weight: 700 !important;
    font-size: 13px !important;
    content: "New" !important;
    top: -1px !important;
}


@media (max-width: 600px) {

    #page-pulse .notion-collection-card__cover,
    #page-pulse .notion-collection-card__cover>div,
    #page-pulse .notion-collection-card__cover img {
        max-height: 160px !important;
        height: 160px !important;
    }

}