#page-pulse .super-content,
#page-pulse .notion-header__content {
    margin: 0 auto !important;
    max-width: 85% !important;
    width: 520px !important;
    padding: 0 !important;
}

#page-pulse .notion-collection-gallery {
    flex-direction: column !important;
    display: flex !important;
}

#page-pulse .notion-collection-card {
    padding: 10px 24px 24px !important;
}

#page-pulse .notion-collection-card__cover,
#page-pulse .notion-collection-card__cover>div,
#page-pulse .notion-collection-card__cover img {
    max-height: none !important;
    height: 260px !important;
}

#page-pulse .notion-collection-card__cover {
    margin: 24px 0 0 !important;
    order: 2 !important;
}

#page-pulse .notion-collection-card__content {
    margin-top: 24px !important;
    order: 3 !important;
}

#page-pulse .notion-property__title {
    font-size: 30px !important;
    max-width: 85% !important;
    display: block !important;
    margin: 0 !important;
}

#page-pulse .notion-property__title .notion-semantic-string {
    line-height: 1.4 !important;
}

#page-pulse .notion-property__title:before {
    background: var(--color-primary) !important;
    color: var(--color-white) !important;
    letter-spacing: -0.3px !important;
    display: inline-block !important;
    padding: 3px 10px 4px !important;
    border-radius: 100px !important;
    position: relative !important;
    margin: 0 0 12px 0 !important;
    font-weight: 700 !important;
    font-size: 14px !important;
    content: "New" !important;
}

#page-pulse .notion-embed {
    overflow: visible !important;
    border-radius: 0 !important;
}

@media (max-width: 600px) {

    #page-pulse .notion-collection-card__cover,
    #page-pulse .notion-collection-card__cover>div,
    #page-pulse .notion-collection-card__cover img {
        max-height: 160px !important;
        height: 160px !important;
    }

}