#page-resources .notion-header__description {
    letter-spacing: -2.5px !important;
    margin-bottom: 50px !important;
    font-weight: 900 !important;
    font-size: 60px !important;
    max-width: 100% !important;
    width: 700px !important;
}

#page-resources .notion-header__title-wrapper>div {
    display: none !important;
}

#page-resources .notion-header__description .notion-semantic-string {
    line-height: 1.3 !important;
}

@media (max-width: 600px) {

    #page-resources .notion-header__description {
        letter-spacing: -1.5px !important;
        font-size: 36px !important;
    }

}