#page-templates .notion-collection-card__property {
    min-height: unset !important;
}

/* Price */
#page-templates .property-7a5f6142 .notion-pill {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.06) !important;
    background: var(--color-white) !important;
    color: var(--color-black) !important;
    justify-content: center !important;
    letter-spacing: -0.5px !important;
    align-items: center !important;
    border-radius: 50% !important;
    position: absolute !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    display: flex !important;
    height: 46px !important;
    width: 46px !important;
    right: 34px !important;
    padding: 0 !important;
    margin: 0 !important;
    top: 32px !important;
}

#page-templates .property-7a5f6142 .pill-green {
    display: none !important;
}

/* Creator */
#page-templates .property-52525675 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.04) !important;
    background: var(--color-white) !important;
    border-radius: 100px !important;
    position: absolute !important;
    padding: 6px 12px !important;
    font-size: 16px !important;
    bottom: 34px !important;
    right: 24px !important;
}

#page-templates .property-52525675 .notion-semantic-string {
    letter-spacing: -0.2px !important;
    font-weight: 600 !important;
}

#page-templates .resource { pointer-events: none !important; }
#page-templates .notion-page__title .notion-semantic-string { border: none !important; }
#page-templates .resource .notion-page__icon { align-items: center !important; }
#page-templates .resource .notion-page__icon>div {
    border-radius: 50% !important;
    overflow: hidden !important;
}