h1 {
    padding-bottom: 40px !important;
    letter-spacing: -2px !important;
    font-weight: 200 !important;
    line-height: 1.4 !important;
    font-size: 40px !important;
}

h2 {
    letter-spacing: -1px !important;
    line-height: 1.5 !important;
    font-weight: 500 !important;
    font-size: 30px !important;
}

h3 {
    letter-spacing: -0.5px !important;
    margin-bottom: 16px !important;
    font-weight: 600 !important;
    font-size: 24px !important;
}

p {
    line-height: 1.6 !important;
    font-size: 20px !important;
}

a {
    border: none !important;
}

.notion-semantic-string .link {
    transition: var(--transition) !important;
    color: var(--color-text-gray) !important;
    opacity: 1 !important;
}

.notion-semantic-string .link:hover {
    color: var(--color-text-default) !important;
}