  /* Start Theme Variables */
  
   :root {
      --color-primary: var(--color-bg-blue-light)!important;
      /* Layout */
      --column-spacing: 40px!important;
      --max-width: 960px!important;
      /* Navbar CTA */
      --cta-padding: 15px 18px!important;
      --cta-border-radius: 50px!important;
      --cta-border: none!important;
      --cta-shadow: none!important;
      /* Callout */
      --callout-padding: 20px 20px 20px 18px!important;
      --callout-border: 1px solid var(--color-border-default)!important;
      --callout-border-radius: 50px!important;
      --callout-shadow: 0!important;
      --callout-icon-size: .8rem!important;
      --callout-emoji-size: 1.2rem!important;
      /* Collections */
      --collection-list-item-border-radius: 20px!important;
      --collection-list-item-padding: 5px 0px 5px 5px!important;
      --collection-gallery-gap: 30px!important;
      --collection-title-text-size: 16px!important;
      --collection-property-text-size: 14px!important;
      --color-card-bg: rgb(255, 255, 255)!important;
      --collection-card-border-radius: 20px!important;
      --collection-card-border: 1px solid var(--color-border-default)!important;
      --collection-card-cover-size-small: 172px!important;
      --collection-card-cover-size-medium: 260px!important;
      --collection-card-cover-size-large: 320px!important;
      /* Pill */
      --notion-pill-padding: 2px 5px!important;
      --notion-pill-border-radius: 0px!important;
      --notion-pill-text-size: 11px!important;
      --notion-pill-text-weight: 500!important;
      --notion-pill-text-transform: uppercase!important;
      --notion-pill-letter-spacing: 1px!important;
      /* Images */
      --image-border-radius: 0px!important;
      /* Misc */
      --divider-margin: 15px 0px!important;
      --divider-opacity: .1!important;
      /* Typography */
      --text-spacing: -.1px!important;
      --notion-text-margin: 0px 0px 0px 0px!important;
      /* h1 */
      --h1-size: 3rem!important;
      --h1-weight: 500!important;
      --h1-spacing: -1px!important;
      --h1-margin: 0 0 15px 0!important;
      --h1-line-height: 1.1!important;
      /* h2 */
      --h2-size: 2.3rem!important;
      --h2-weight: 500!important;
      --h2-spacing: -.5px!important;
      --h2-margin: 0px 0px 10px 0px!important;
      --h2-line-height: 1!important;
      /* h3 */
      --h3-size: 1.5rem!important;
      --h3-weight: 500!important;
      --h3-spacing: -.5px!important;
      --h3-margin: .3rem 0rem!important;
      --h3-line-height: 1.4!important;
      /* Link */
      --link-border-width: 0px 0px 0px 0px!important;
      --link-border-style: none!important;
      --link-border-color: none!important;
      /* Colors */
      /* Text */
      --color-text-default: #424b55!important;
      --color-text-gray: #7a8693!important;
      --color-text-blue: #70b7c8!important;
      /* Background */
      --color-bg-default: #f6f3ef!important;
      /* Background Light */
      --color-bg-gray-light: #e3e0dc!important;
      --color-bg-brown-light: rgba(233, 229, 227, 0.6)!important;
      --color-bg-orange-light: rgba(250, 235, 221, 0.6)!important;
      --color-bg-yellow-light: #f6cb88!important;
      --color-bg-green-light: #b7cbc2!important;
      --color-bg-blue-light: #92bfc8!important;
      --color-bg-purple-light: rgba(234, 228, 242, 0.6)!important;
      --color-bg-pink-light: #eabbcb!important;
      --color-bg-red-light: #d05a59!important;
      /* UI */
      --color-ui-hover-bg: rgba(55, 53, 47, 0.08)!important;
      --color-ui-hover-bg-light: rgba(55, 53, 47, 0.03)!important;
      --color-card-bg: rgb(255, 255, 255)!important;
      --color-border-default: var(--color-primary)!important;
  }
  /* End Theme Variables*/
  /* Start Theme overwrites */
  
  .notion-callout a {
      opacity: 1!important;
  }
  
  .super-navbar {
      backdrop-filter: blur(10px)!important;
  }
  
  .notion-callout a:hover {
      opacity: .7!important;
  }
  
  .bg-blue-light {
      color: white!important;
  }
  /* End Theme overwrites */
  /* Start Builder Base */