@import "../mixins";
@import "../components/callout";

.super-navbar .super-navbar__cta {
    background: #7057CF !important;
    color: white !important;
}

#page-analytics {
    font-size: 18px !important;
    --analytics-color: #7057CF;
    --image-shadow: 0px 0px 0px 6px rgba(255, 255, 255, 0.34) !important;
    --hero-image-filter-shadow: drop-shadow(0px -43px 87px rgba(190, 173, 255, 0.04)) drop-shadow(0px -125px 99px rgba(190, 173, 255, 0.05)) drop-shadow(0px -43px 53px rgba(190, 173, 255, 0.09)) drop-shadow(0px -18px 50px rgba(190, 173, 255, 0.14)) drop-shadow(0px -6px 2px rgba(158, 142, 224, 0.267)) !important;
    --hero-image-filter-shadow: drop-shadow(0px -43px 87px rgba(190, 173, 255, 0.04)) drop-shadow(0px -125px 99px rgba(190, 173, 255, 0.05)) drop-shadow(0px -43px 53px rgba(190, 173, 255, 0.09)) drop-shadow(0px -18px 50px rgba(190, 173, 255, 0.14)) drop-shadow(0px -6px 2px rgba(158, 142, 224, 0.267)) !important;
    --hero-image-filter-shadow-hover: drop-shadow(0px -65px 87px rgba(190, 173, 255, 0.04)) drop-shadow(0px -125px 99px rgba(190, 173, 255, 0.05)) drop-shadow(0px -73px 73px rgba(190, 173, 255, 0.09)) drop-shadow(0px -18px 50px rgba(190, 173, 255, 0.2)) drop-shadow(0px -6px 2px rgba(158, 142, 224, 0.367)) !important;
    overflow-x: hidden !important;

    .super-content {
        --layout-max-width: 1000px !important;
    }

    .notion-callout__content {
        @include center;
        flex-direction: column !important;
        text-align: center !important;
    }

    .notion-header__cover {
        height: 110vh !important;
        width: 100% !important;
        max-height: none !important;
        z-index: -9999 !important;
        position: absolute !important;
        top: 0px !important;
        opacity: .8 !important;

        &::after {
            content: "" !important;
            position: absolute !important;
            z-index: 1 !important;
            bottom: -2px !important;
            background-image: linear-gradient(to bottom,
                    rgba(253, 253, 252, 0),
                    rgba(253, 253, 252, 1) 100%) !important;
            width: 100% !important;
            height: 100vh !important;
        }

        img {
            position: absolute;
            object-position: center !important;
            object-fit: cover !important;
            height: 56% !important;
            z-index: -9999 !important;
        }
    }

    .notion-header__content {
        display: none !important;
    }

    .notion-callout {
        @include callout-container;
    }

    .color-default-light {
        color: var(--color-text-default) !important;
    }

    // Hero main image
    #block-9acc466559164fafab3e7040301c7a06.notion-image {
        width: 140% !important;
        max-width: 140% !important;
        position: relative !important;
        border: 10px solid rgb(248, 248, 248) !important;
        border-radius: 28px !important;
        z-index: 8 !important;

        &::after {
            content: "" !important;
            position: absolute !important;
            background-image: linear-gradient(to bottom,
                    rgba(253, 253, 252, 0),
                    rgba(253, 253, 252, 1) 100%) !important;
            width: 100% !important;
            height: 100% !important;
            top: 0 !important;
            left: 0 !important;
            z-index: 12 !important;
            border-radius: 16px !important;
            box-shadow: 0px -20px 52px -22px rgba(111, 86, 205, 0.1), 0px -5px 8px -8px rgba(111, 86, 205, 0.2), 0px -11px 63px -17px rgba(111, 86, 205, 0.1), inset 0px 5px 10px 12px rgba(155, 132, 253, 0.03), 0px -5px 73px -54px rgba(111, 86, 205, 0.2) !important;
            -webkit-box-shadow: 0px -20px 52px -22px rgba(111, 86, 205, 0.1), 0px -5px 8px -8px rgba(111, 86, 205, 0.2), 0px -11px 63px -17px rgba(111, 86, 205, 0.1), inset 0px 5px 10px 12px rgba(155, 132, 253, 0.03), 0px -5px 73px -54px rgba(111, 86, 205, 0.2) !important;
            transition: box-shadow .2s ease-in-out !important;
            -webkit-transition: box-shadow .2s ease-in-out !important;
        }

        &:hover::after {
            box-shadow: 0px -20px 52px -22px rgba(111, 86, 205, 0.2), 0px -5px 8px -8px rgba(111, 86, 205, 0.5), 0px -11px 63px -17px rgba(111, 86, 205, 0.2), inset 0px 5px 10px 12px rgba(155, 132, 253, 0.04), 0px -56px 100px -54px rgba(111, 86, 205, 0.3) !important;
            -webkit-box-shadow: 0px -20px 52px -22px rgba(111, 86, 205, 0.2), 0px -5px 8px -8px rgba(111, 86, 205, 0.5), 0px -11px 63px -17px rgba(111, 86, 205, 0.2), inset 0px 5px 10px 12px rgba(155, 132, 253, 0.04), 0px -56px 100px -54px rgba(111, 86, 205, 0.3) !important;
        }

        @include breakpoint-md {
            width: 100% !important;
            max-width: 100% !important;
        }

        @include breakpoint-xs {
            width: 100% !important;
            max-width: 100% !important;
        }
    }

    // hero
    #block-ecf172bcab3b4ed18ff5a61a25973d43 {
        .notion-callout__content {
            @include center;
            flex-direction: column !important;
        }

        // Paragraph
        #block-395d66772d094e51a4b79acbeeba54e2 {
            font-weight: 400 !important;
            font-size: 27px !important;
            line-height: 127.5% !important;
            text-align: center !important;
            letter-spacing: -1px !important;
            max-width: 520px !important;
            margin-top: 16px !important;
            margin-bottom: 16px !important;
        }

        h1.notion-heading {
            font-size: 90px !important;
            line-height: 108px !important;
            text-align: center !important;
            letter-spacing: -2px !important;
            background: linear-gradient(111.54deg, #4F4C59 35.85%, #221D37 79.35%) !important;
            -webkit-background-clip: text !important;
            -webkit-text-fill-color: transparent !important;
            background-clip: text !important;
            margin-top: 0px !important;

            @include breakpoint-xs {
                font-size: 72px !important;
                line-height: 78px !important;
            }

            span {
                font-size: 90px !important;

                @include breakpoint-xs {
                    font-size: 72px !important;
                }
            }
        }
    }

    // Main Features
    #block-7ab9119495eb487ca3f8ba07f27e4375 {
        @include full-width-section(linear-gradient(139.11deg, #7F67E1 10.36%, #553EB2 86.58%));
        box-shadow: 0px -20px 52px -22px rgba(111, 86, 205, 0.2), 0px -5px 8px -8px rgba(111, 86, 205, 0.9), 0px -11px 63px -17px rgba(111, 86, 205, 0.2), inset 0px 5px 10px 12px rgba(155, 132, 253, 0.04), 0px -56px 100px -54px rgba(111, 86, 205, 0.5) !important;
        width: 96vw !important;
        margin-left: -48vw !important;
        top: -55px !important;
        color: white !important;
        overflow: hidden !important;
        z-index: 10 !important;
        padding: 24px 0px !important;
        border-radius: 8px 8px 100px 100px !important;
        border-bottom: 3px solid rgba(255, 255, 255, 0.4) !important;

        @include breakpoint-xs {
            width: 90vw !important;
            margin-left: -45vw !important;
            border-radius: 40px 40px 40px 40px !important;
        }

        #block-99512c2116434c9bb62b78b7f3a4b8ca.notion-image {
            position: absolute !important;
            width: 130% !important;
            height: 100% !important;
            max-width: 130% !important;
            max-height: 100% !important;
            top: 70% !important;
            left: 50% !important;
            transform: translate(-50%, -50%) !important;
            z-index: 1 !important;
        }

        .notion-column-list {
            justify-content: center !important;
            gap: 64px !important;
        }

        .notion-column {
            @include center;
            text-align: center !important;
            z-index: 2 !important;
            max-width: 360px !important;
            margin-inline-start: 0 !important;

            .notion-text {
                color: var(--gray-100) !important;
            }
        }
    }


    // Section paragraphs
    .notion-callout__content p:not(#block-395d66772d094e51a4b79acbeeba54e2) {
        max-width: 420px !important;
    }

    // app images
    #block-253d51fe9a5345f2b878deac4f576899,
    #block-6e0683e4ebfc4d25a77138e89b2b6a07 {
        border-radius: 16px !important;
        box-shadow: 0px 12px 150px -8px rgba(120, 104, 186, 0.2)!important;
        -webkit-box-shadow: 0px 12px 150px -8px rgba(120, 104, 186, 0.2)!important;
        position: relative !important;
    }

    // CTA Button
    #block-1c8b3f376bb44ee884aad04e4fb0e748 .notion-link,
    #block-f356bc7ed6db4078a6b600fe98d0d5d4 .notion-link {
        @include button;
        margin-top: 16px !important;
        border: 1px solid #6950CE !important;
        color: white !important;
        background: linear-gradient(173deg, rgba(113,87,207,1) 0%, rgba(80,59,158,1) 100%)!important;
        font-weight: 500 !important;
        font-size: 16px !important;
        transition: border .2s ease-out !important;
        position: relative!important;

        &:hover {
            border: 1px solid #7259d5 !important;
        }

        &:after {
            content: '';
            position: absolute;
            left: 0px;
            top: 0px;
            right: 0px;
            bottom: 0px;
            background: linear-gradient(173deg, rgba(255,255,255,0) 0%, rgba(255,255,255,.5) 100%)!important;
            opacity: 0;
            transition: all .2s ease-in-out;
            border-radius: inherit!important;
        }

        &:hover:after {
            opacity: .2;
        }
    }

    #block-f356bc7ed6db4078a6b600fe98d0d5d4 .notion-link {
        color: #6950CE!important;
        background: linear-gradient(173deg, rgba(252,252,252,1) 0%, rgba(234,232,244,1) 100%)!important;
    }

    //final cta section
    #block-83011a02f7664f43a0d8d6af1b381ce5 {
        @include full-width-section(linear-gradient(139.11deg, #7F67E1 10.36%, #553EB2 86.58%));
        width: 96vw !important;
        margin-left: -48vw !important;
        background: linear-gradient(139.11deg, #7F67E1 10.36%, #553EB2 86.58%) !important;
        border-radius: 40px !important;
        color: white !important;
        padding: 80px 0px !important;
        padding-top: 55px !important;
        border: 2px solid rgba(255, 255, 255, .3) !important;
        position: relative !important;
        overflow: hidden !important;

        #block-dc142ae1a7ba4c8e8a207ba68216d7e6.notion-image {
            position: absolute !important;
            width: 130% !important;
            height: 100% !important;
            max-width: 130% !important;
            max-height: 100% !important;
            top: 70% !important;
            left: 50% !important;
            transform: translate(-50%, -50%) !important;
            z-index: 0 !important;
        }

        #block-f356bc7ed6db4078a6b600fe98d0d5d4,
        #block-ff43e75feb00458698f1f9e1d5e05515 {
            z-index: 10 !important;
        }

        h2,
        h2.notion-heading,
        h2.notion-heading span {
            font-size: 3.2rem !important;
            max-width: 520px !important;
            z-index: 2 !important;
        }
    }
}