@import "../mixins";
@import "../components/callout";

.parent-page__blog {

    .notion-text .notion-text__content strong .notion-link,
    .notion-text .notion-text__content .notion-link strong {
        @include button-primary-default;
    }

    // –––––––––––––––––
    // Blog footer CTA
    // –––––––––––––––––
    .super-root .super-content #block-e79bc599f53e43ac8e25706f10fa5f63 {
        @include callout-container;
        text-align: center !important;
        padding: 100px 24px !important;
        border-radius: 40px !important;
        background-position: center !important;
        background-size: cover !important;
        position: relative !important;
        overflow: hidden !important;

        .notion-link {
            margin-top: 24px !important;
            @include button-primary-dark;
        }

        .notion-image:last-child {
            position: absolute !important;
            width: 120% !important;
            height: 120% !important;
            max-width: 120% !important;
            max-height: 120% !important;
            top: 58% !important;
            left: 50% !important;
            transform: translate(-50%, -50%);
            z-index: -1 !important;

            @include breakpoint-md {
                top: 50% !important;
                width: 140% !important;
                max-width: 140% !important;
                max-height: 140% !important;
            }

            @include breakpoint-xs {
                top: 130% !important;
                width: 280% !important;
                height: 280% !important;
                max-width: 280% !important;
                max-height: 280% !important;
            }
        }
    }
}