@import "../mixins";
@import "../components/callout";

.parent-page__guides,
.parent-page__blog,
.parent-page__case-studies,
.parent-page__create {
    --header-cover-height: 42vh !important;
    --image-border-radii: 12px !important;
    --quote-size: 1.4rem !important;

    .notion-quote {
        margin: 1.2rem 0 !important;
        color: var(--gray-600) !important;
        letter-spacing: -0.3px !important;
    }

    .notion-bulleted-list,
    .notion-numbered-list {
        color: var(--gray-600) !important;
        margin-left: 16px !important;
    }

    .notion-bulleted-list li {
        color: var(--gray-600) !important;
    }

    .notion-image:not(.notion-callout .notion-image):not(.notion-column .notion-image) {
        margin-top: 2rem !important;
    }

    h2.notion-heading:not(.notion-callout h2.notion-heading),
    .parent-page__blog h2.notion-heading:not(.notion-callout h2.notion-heading) {
        margin-top: 3rem !important;
    }


    h3.notion-heading:not(.notion-callout h3.notion-heading),
    .parent-page__blog h3.notion-heading:not(.notion-callout h3.notion-heading) {
        margin-top: 2.2rem !important;
    }

    .notion-text p {
        margin-top: 1rem !important;
    }

    // h3
    h3,
    h3.notion-heading,
    h3.notion-heading span {
        letter-spacing: -.8px !important;
        font-size: clamp(.275rem, 4vw, 1.6rem) !important;
        line-height: 1.2 !important;
        margin-bottom: 8px !important;
        margin-top: 24px !important;
    }

    // –––––––––––––––––
    // CTA Button
    // –––––––––––––––––
    strong .notion-link,
    .notion-link strong {
        @include button-primary-default;
    }

    // –––––––––––––––––
    // Footer CTA
    // –––––––––––––––––
    #block-e79bc599f53e43ac8e25706f10fa5f63 {
        @include footer-cta-section;
    }
}

#block-e3e869ea4829488893e2a8767af9f57e .notion-link,
#block-e3e869ea4829488893e2a8767af9f57e .notion-link {
    background: var(--primary-500) !important;
}

#block-e3e869ea4829488893e2a8767af9f57e .notion-link:hover,
#block-e3e869ea4829488893e2a8767af9f57e .notion-link:hover {
    background: #FFCC6A !important;
}

#block-e3e869ea4829488893e2a8767af9f57e .notion-link::after,
#block-e3e869ea4829488893e2a8767af9f57e .notion-link::after {
    width: 20px !important;
    height: 20px !important;
    margin-left: 4px !important;
    content: url("https://sites.super.so/super/assets/arrow-right-black.svg") !important;
}