@import "../mixins";

.parent-page__create {
    #block-fab75fae37de455eac5b04faea2b9026 .notion-link:first-of-type {
        margin-top: 16px !important;
        @include button-secondary-gray;
        padding: 7px 16px 8px 16px !important;
    }


    .notion-collection-gallery.small {
        .notion-property__title__icon-wrapper {
            display: none!important;
        }
    }
}  