@import "../mixins";

#page-features {
    .notion-collection-card__cover {
        --collection-card-cover-height-medium: 190px !important;
    }

    .notion-collection-card__content {
        --collection-card-content-padding: 24px !important;
        padding-top: 20px !important;
    }

    .notion-property__title__icon-wrapper {
        display: none !important;
    }

    .notion-property__title {
        font-weight: 600 !important;
    }

    .notion-collection-card__property .notion-semantic-string {
        overflow: unset !important;
        white-space: pre-wrap !important;
    }

    .notion-collection-card__property .notion-property {
        font-size: 14px !important;
        color: var(--gray-600) !important;
    }
}