@import "../mixins";

#page-features {
    .notion-collection-card__cover {
        --collection-card-cover-height-medium: 190px !important;
    }

    .notion-collection-card__content {
        --collection-card-content-padding: 24px !important;
        padding-top: 20px !important;
    }

    .notion-property__title__icon-wrapper {
        display: none !important;
    }

    .notion-property__title {
        font-weight: 600 !important;
    }

    .notion-collection-card__property .notion-semantic-string {
        overflow: unset !important;
        white-space: pre-wrap !important;
    }

    .notion-collection-card__property .notion-property {
        font-size: 14px !important;
        color: var(--gray-600) !important;
    }
}

.parent-page__features {
    --header-cover-height: 32vh !important;

    .notion-header__icon-wrapper.has-icon-image {
        width: 140px !important;
        height: 140px !important;
        left: -10px !important;
    }

    .notion-header__cover:after {
        @include cover-gradient(100%);
    }

    .notion-header__content .notion-header__title-wrapper {
        margin-top: 20px !important;
    }

    .notion-header__icon-wrapper.has-cover.has-icon-image {
        top: -160px !important;
    }

    .notion-header__title {
        font-size: 12px !important;
        padding: 4px 6px !important;
        background: var(--gray-50) !important;
        border-radius: 4px !important;
        font-weight: 300 !important;
        font-size: 12px !important;
        line-height: 14px !important;
        letter-spacing: 2px !important;
        text-transform: uppercase !important;
        min-height: auto !important;
        display: inline-flex !important;
        width: auto !important;
        color: var(--gray-400) !important;
    }

    .notion-image {
        filter: drop-shadow(0 0.4rem 0.8rem rgba(0, 0, 0, 0.08)) !important;
    }

    .notion-quote.large {
        font-weight: 500 !important;
        font-size: 30px !important;
        line-height: 36px !important;
        border: 0 !important;
        padding: 0 !important;
        letter-spacing: -0.8px !important;
    }

    .notion-quote {
        font-weight: 500 !important;
        font-size: 26px !important;
        line-height: 30px !important;
        border: 0 !important;
        padding: 0 !important;
        letter-spacing: -0.6px !important;
    }

    p {
        margin-bottom: 16px !important;
        line-height: 1.72rem !important;
        font-size: 18px !important;
    }

    ul {
        margin-bottom: 16px !important;
    }

    li {
        font-size: 18px !important;
        color: var(--gray-600) !important;
    }
}