@import "../mixins";
@import "../components/callout";

// Analytics Pricing
#block-2e25b00541164b0f938f2da56fbd60f9,
#block-b636f7b4711d4a7f92d0a47b7b4f8349 {
    color: var(--color-text-default) !important;
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;

    .notion-link strong,
    strong .notion-link {
        @include button;
        margin-top: 16px !important;
        border: 1px solid #6950CE !important;
        color: white !important;
        background: linear-gradient(173deg, rgba(113, 87, 207, 1) 0%, rgba(80, 59, 158, 1) 100%) !important;
        font-weight: 500 !important;
        font-size: 16px !important;
        transition: border .2s ease-out !important;
        position: relative !important;

        &:hover {
            border: 1px solid #927de6 !important;
            background: linear-gradient(173deg, rgb(126, 101, 218) 0%, rgb(107, 84, 186) 100%) !important;
        }
    }

    .notion-callout__content {
        text-align: center !important;
        max-width: 875px !important;
    }

    .notion-callout {
        padding: 16px !important;
    }

    h3.notion-heading:not(.toggle),
    h3.notion-heading:not(.toggle) span,
    h3:not(.toggle) {
        color: var(--color-text-default) !important;
        margin: 0 0 16px 0 !important;

        @include breakpoint-xs {
            font-size: 22px !important;
        }
    }

    .notion-bulleted-list {
        position: relative !important;
        text-align: left !important;
        list-style: none !important;
        margin-left: 0px !important;
        padding-left: 36px !important;
    }

    .notion-list-item {
        margin: 8px 0px !important;

        &::before {
            content: "";
            position: absolute;
            background: url("https://sites.super.so/super/assets/icon-check-purple.svg");
            background-size: cover !important;
            background-position: center !important;
            left: 0;
            width: 24px;
            height: 24px;
        }
    }

    .notion-column-list {
        gap: 16px !important;

        .notion-column {
            margin-inline-start: 0px !important;
            width: auto !important;

            @include breakpoint-xs {
                padding: 0 !important;
            }

        }

        .notion-callout {
            border: 1px solid var(--color-border-default) !important;
            border-radius: 12px !important;
            padding: 24px !important;

            .notion-column-list .notion-column {
                gap: 6px !important;
            }
        }

        &>.notion-column:nth-child(1) {
            width: 100% !important;
            flex: 1 !important;
            display: flex !important;
            gap: 16px !important;

            .notion-callout {

                &:first-child {
                    background: #FBFAFF !important;
                    border: 1px solid #6E55CF !important;
                    position: relative !important;

                    &::before {
                        content: 'Most popular' !important;
                        position: absolute !important;
                        top: -14px !important;
                        background: #FBFAFF !important;
                        padding: 6px 12px !important;
                        border-radius: 50px !important;
                        border: 1px solid #6E55CF !important;
                        font-size: 11px !important;
                        letter-spacing: 1px !important;
                        text-transform: uppercase !important;
                        font-weight: 500 !important;
                    }
                }

                .notion-column-list {
                    gap: 24px !important;
                }

                .notion-column {
                    padding: 0 !important;
                    justify-content: center !important;

                    &:nth-child(2) {
                        flex: 1 !important;

                        p {
                            font-size: 18px !important;

                            @include breakpoint-xs {
                                font-size: 14px !important;
                            }
                        }
                    }

                    &:nth-child(1) {
                        align-items: flex-start !important;

                        .notion-text:nth-child(1) {
                            font-size: 10px !important;
                            text-transform: uppercase !important;
                            letter-spacing: 2px !important;
                            margin-bottom: 4px !important;
                        }
                    }
                }
            }

            .notion-text {
                min-height: auto !important;
            }

            .notion-text * {
                line-height: 1.2 !important;
            }

            .notion-text__content {
                padding: 0 !important;
            }

            strong {
                font-size: 32px !important;
                color: var(--color-text-default) !important;

                @include breakpoint-xs {
                    font-size: 26px !important;
                }
            }
        }

        .notion-column:nth-child(2) {
            width: auto !important;

            @include breakpoint-xs {
                width: 100% !important;
            }

            .notion-callout {
                height: 100% !important;
                background: #F9F9F8 !important;

                @include breakpoint-xs {
                    margin-bottom: 16px !important;
                }
            }
        }
    }
}