@import "../mixins";
@import "../components/callout";

// Testimonials
#block-8c2505c01a7d44d3b95db58542a095b4 {
    @include full-width-section(transparent);
    @include testimonials-grid-section;
}

// ––––––––––––––––– 
// section-billing toggle
// –––––––––––––––––
.notion-root>h1.notion-heading {
    text-align: center !important;
    max-width: 800px !important;
    margin: 0 auto !important;
}

.notion-callout {
    @include callout-container;
}

// MONTHLY PAGE TOGGLE
#block-5f4034b33f5e4ef5aee7421baadd223e {
    .notion-column {
        &:first-child {
            padding: 12px 16px !important;
            background: var(--base-white) !important;
            margin-right: 8px !important;
            cursor: default !important;
        }

        &:last-child {
            @include breakpoint-xs {
                padding-top: 8px !important;
                padding-bottom: 8px !important;
                width: 100% !important;
            }
        }
    }
}

// ANNUAL PAGE TOGGLE
#block-e5bbddb674254449a439e4d6a593c5da {
    .notion-column {
        &:last-child {
            padding: 12px 16px !important;
            background: var(--base-white) !important;
            margin-left: 8px !important;
            cursor: default !important;

            @include breakpoint-xs {
                margin: 0px !important;
            }
        }
    }
}

// Both
#block-5f4034b33f5e4ef5aee7421baadd223e,
#block-e5bbddb674254449a439e4d6a593c5da {
    margin: 0 auto !important;
    text-align: center !important;
    background: var(--gray-25) !important;
    border-radius: 100px !important;
    padding: 8px !important;
    border: 1px solid var(--gray-50) !important;
    box-shadow: 2.6px 4px 2.6px rgba(0, 0, 0, 0.017), 7.3px 11px 7.1px rgba(0, 0, 0, 0.025),
        17.5px 26.5px 17.2px rgba(0, 0, 0, 0.033), 58px 88px 57px rgba(0, 0, 0, 0.05) !important;

    @include breakpoint-xs {
        border-radius: 12px !important;
        width: 100% !important;
    }

    .notion-column-list {
        @include breakpoint-xs {
            flex-wrap: nowrap !important;
            // flex-direction: column !important;
        }
    }

    .notion-column {
        width: auto !important;
        margin-inline-start: 0px !important;
        padding: 8px 0px !important;
        border-radius: 100px !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        flex-direction: row !important;

        @include breakpoint-xs {
            width: 100% !important;
            border-radius: 8px !important;
        }

        .notion-callout {
            @include center;
        }

        .notion-text {
            min-height: 0 !important;
        }

        .notion-semantic-string {
            line-height: 0 !important;
        }

        .notion-text__content {
            padding: 0px !important;
        }

        .notion-link {
            text-decoration: none !important;
            border-radius: 100px !important;
            padding: 12px 16px !important;
            opacity: 1 !important;
            transition: background .2s ease-out !important;

            @include breakpoint-xs {
                border-radius: 8px !important;
            }

            &:hover {
                background: var(--gray-50);
            }
        }
    }
}

// –––––––––––––––––
// section-pricing-CARDS
// –––––––––––––––––
// block-f59: MONTHLY PAGE
// block-abe: ANNUAL PAGE
#block-f59ac23d8cf344f084e546567605a696,
#block-abea645bf4084158b5f710c635984ec4 {

    // FREE and PRO
    .notion-column:first-child>.notion-callout,
    .notion-column:last-child>.notion-callout {
        .notion-link {
            @include button-secondary-gray;
            width: 100% !important;
            margin-top: 16px !important;
            position: relative !important;
            align-items: center !important;

            &::after {
                width: 20px !important;
                height: 20px !important;
                margin-left: 4px !important;
                content: url("https://sites.super.so/super/assets/arrow-right-gray-500.svg");
            }

            &:hover::after {
                width: 20px !important;
                height: 20px !important;
                margin-left: 4px !important;
                content: url("https://sites.super.so/super/assets/arrow-right-black.svg") !important;
            }
        }
    }

    // PERSONAL SITE
    .notion-column:nth-child(2)>.notion-callout {
        border: 1px solid #FFBE3D !important;
        position: relative !important;

        &::before {
            content: 'Most popular' !important;
            position: absolute !important;
            top: -14px !important;
            background: #FFF9ED !important;
            padding: 6px 12px !important;
            border-radius: 50px !important;
            border: 1px solid #FFBE3D !important;
            font-size: 11px !important;
            letter-spacing: 1px !important;
            text-transform: uppercase !important;
            font-weight: 500 !important;
        }

        .notion-link {
            @include button-primary-default;
            width: 100% !important;
            margin-top: 16px !important;
            position: relative !important;
            align-items: center !important;

            &::after {
                width: 20px !important;
                height: 20px !important;
                margin-left: 4px !important;
                content: url("https://sites.super.so/super/assets/arrow-right-black.svg");
            }
        }
    }

    // All pricing cards
    .notion-callout:first-child {
        background: var(--base-white) !important;
        border-radius: 24px !important;
        box-shadow: 2.6px 4px 2.6px rgba(0, 0, 0, 0.017), 7.3px 11px 7.1px rgba(0, 0, 0, 0.025),
            17.5px 26.5px 17.2px rgba(0, 0, 0, 0.033), 58px 88px 57px rgba(0, 0, 0, 0.05) !important;
        padding: 32px !important;

        h3 {
            font-size: 24px !important;
            font-weight: 500 !important;
            margin-top: 0px !important;
            margin-bottom: 0 !important;

            code {
                background-color: var(--base-black) !important;
                color: var(--base-white) !important;
                border-radius: 100px !important;
                padding: 4px 8px 5px 8px !important;
                font-family: inherit !important;
                font-size: 0.75rem !important;
            }
        }

        .notion-divider {
            margin: 18px 0px !important;
        }

        .notion-bulleted-list {
            position: relative;
            list-style: none;
            margin-left: 0px;
            padding-left: 36px;
        }

        h2.notion-heading {
            font-size: 18px !important;
            font-weight: 300 !important;
        }

        .notion-list-item {
            margin: 8px 0px !important;

            &::before {
                content: "";
                position: absolute;
                background: url("https://sites.super.so/super/assets/check-icon.svg");
                background-size: cover !important;
                background-position: center !important;
                left: 0;
                width: 24px;
                height: 24px;
            }
        }

        // Price wrapper
        .notion-callout {
            strong {
                font-size: 48px !important;
                font-weight: 500 !important;
            }

            .notion-callout__content {
                display: flex !important;
                flex-direction: column !important;
                align-items: flex-start !important;

                @include breakpoint-md {
                    flex-direction: column !important;
                    align-items: flex-start !important;
                }

                strong {
                    margin-right: 6px !important;
                    font-size: 48px !important;
                    font-weight: 500 !important;
                }

                .notion-text {
                    @include text-sm;
                    padding: 0px !important;
                    margin-top: 8px !important;
                    color: var(--base-black) !important;

                    * {
                        line-height: 1.2 !important;
                    }
                }
            }
        }
    }
}

// Teams Pricing
#block-127a50d5f2cc8031a582ef691b9e914d,
#block-127a50d5f2cc80aea71de04967fcd35a {
    color: var(--color-text-default) !important;
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;

    & > .notion-callout__content {
        text-align: center !important;
        display: flex!important;
        justify-content: center!important;
        max-width: 875px !important;

        & > p {
            max-width: 700px!important;
            margin: 0 auto!important;
        }
    }

    .notion-callout {
        border: 1px solid var(--color-border-default) !important;
        border-radius: 12px !important;
        padding: 24px !important;
        text-align: left!important;
    }

    .notion-column-list {
        
        .notion-callout {
            height: 100%!important;
            display: flex!important;
            align-items: center!important;
        }

        .notion-callout__content {
            text-align: left!important;

            strong {
                font-size: 32px !important;
                color: var(--color-text-default) !important;

                @include breakpoint-xs {
                    font-size: 26px !important;
                }
            }
        }
    }

    .notion-bulleted-list {
        position: relative !important;
        text-align: left !important;
        list-style: none !important;
        margin-left: 0px !important;
        padding-left: 36px !important;
    }

    .notion-list-item {
        margin: 8px 0px !important;

        &::before {
            content: "";
            position: absolute;
            background: url("https://sites.super.so/super/assets/icon-check.svg");
            background-size: cover !important;
            background-position: center !important;
            left: 0;
            width: 24px;
            height: 24px;
        }
    }

    h3.notion-heading:not(.toggle),
    h3.notion-heading:not(.toggle) span,
    h3:not(.toggle) {
        color: var(--color-text-default) !important;
        margin: 0 0 16px 0 !important;
        text-align: left!important;

        @include breakpoint-xs {
            font-size: 22px !important;
        }
    }
}

// Analytics Pricing
#block-2e25b00541164b0f938f2da56fbd60f9,
#block-b636f7b4711d4a7f92d0a47b7b4f8349 {
    color: var(--color-text-default) !important;
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;

    .notion-link strong,
    strong .notion-link {
        @include button;
        margin-top: 16px !important;
        border: 1px solid #6950CE !important;
        color: white !important;
        background: linear-gradient(173deg, rgba(113, 87, 207, 1) 0%, rgba(80, 59, 158, 1) 100%) !important;
        font-weight: 500 !important;
        font-size: 16px !important;
        transition: border .2s ease-out !important;
        position: relative !important;

        &:hover {
            border: 1px solid #927de6 !important;
            background: linear-gradient(173deg, rgb(126, 101, 218) 0%, rgb(107, 84, 186) 100%) !important;
        }
    }

    .notion-callout__content {
        text-align: center !important;
        max-width: 875px !important;
    }

    .notion-callout {
        padding: 16px !important;
    }

    h3.notion-heading:not(.toggle),
    h3.notion-heading:not(.toggle) span,
    h3:not(.toggle) {
        color: var(--color-text-default) !important;
        margin: 0 0 16px 0 !important;
        text-align: left!important;

        @include breakpoint-xs {
            font-size: 22px !important;
        }
    }

    .notion-bulleted-list {
        position: relative !important;
        text-align: left !important;
        list-style: none !important;
        margin-left: 0px !important;
        padding-left: 36px !important;
    }

    .notion-list-item {
        margin: 8px 0px !important;

        &::before {
            content: "";
            position: absolute;
            background: url("https://sites.super.so/super/assets/icon-check-purple.svg");
            background-size: cover !important;
            background-position: center !important;
            left: 0;
            width: 24px;
            height: 24px;
        }
    }

    .notion-column-list {
        gap: 16px !important;

        .notion-column {
            margin-inline-start: 0px !important;
            width: auto !important;

            @include breakpoint-xs {
                padding: 0 !important;
            }

        }

        .notion-callout {
            border: 1px solid var(--color-border-default) !important;
            border-radius: 12px !important;
            padding: 24px !important;

            .notion-column-list .notion-column {
                gap: 6px !important;
            }
        }

        &>.notion-column:nth-child(1) {
            width: 100% !important;
            flex: 1 !important;
            display: flex !important;
            gap: 16px !important;

            .notion-callout {

                &:first-child {
                    background: #FBFAFF !important;
                    border: 1px solid #6E55CF !important;
                    position: relative !important;

                    &::before {
                        content: 'Most popular' !important;
                        position: absolute !important;
                        top: -14px !important;
                        background: #FBFAFF !important;
                        padding: 6px 12px !important;
                        border-radius: 50px !important;
                        border: 1px solid #6E55CF !important;
                        font-size: 11px !important;
                        letter-spacing: 1px !important;
                        text-transform: uppercase !important;
                        font-weight: 500 !important;
                    }
                }

                .notion-column-list {
                    gap: 24px !important;
                }

                .notion-column {
                    padding: 0 !important;
                    justify-content: center !important;

                    &:nth-child(2) {
                        flex: 1 !important;

                        p {
                            font-size: 18px !important;

                            @include breakpoint-xs {
                                font-size: 14px !important;
                            }
                        }
                    }

                    &:nth-child(1) {
                        align-items: flex-start !important;

                        .notion-text:nth-child(1) {
                            font-size: 10px !important;
                            text-transform: uppercase !important;
                            letter-spacing: 2px !important;
                            margin-bottom: 4px !important;
                        }
                    }
                }
            }

            .notion-text {
                min-height: auto !important;
            }

            .notion-text * {
                line-height: 1.2 !important;
            }

            .notion-text__content {
                padding: 0 !important;
            }

            strong {
                font-size: 32px !important;
                color: var(--color-text-default) !important;

                @include breakpoint-xs {
                    font-size: 26px !important;
                }
            }
        }

        .notion-column:nth-child(2) {
            width: auto !important;

            @include breakpoint-xs {
                width: 100% !important;
            }

            .notion-callout {
                height: 100% !important;
                background: #F9F9F8 !important;

                @include breakpoint-xs {
                    margin-bottom: 16px !important;
                }
            }
        }
    }
}