.super-content-wrapper {
    display: flex!important;
}

.notion-header {
    height: 100vh !important;
    width: 50vw !important;
    margin-bottom: 0px!important;
}

.notion-header__cover {
    max-height: 100% !important;
    height: 100% !important;
}

.super-content {
    padding: 120px !important;
    width: 50vw !important;
}

@media (max-width: 1020px) {

    .super-content-wrapper {
        flex-direction: column!important;
    }

    .notion-header,
    .super-content {
        position: relative !important;
        width: 100vw !important;
    }

    .notion-header {
        height: 420px !important;
    }

}

@media (max-width: 680px) {

    .super-content {
        padding: 60px !important;
    }

}