.notion-header {
  position: fixed !important;
  height: 100vh !important;
  width: 50vw !important;
  bottom: 0 !important;
  margin: 0 !important;
  left: 0 !important;
  top: 0 !important;
}

.notion-header__cover {
  max-height: 100% !important;
  height: 100% !important;
}

.super-root {
    overflow: hidden!important;
}

.super-content {
  padding: 120px !important;
}

@media (max-width: 1020px) {
  .notion-header,
  .super-content {
    position: relative !important;
    width: 100% !important;
  }

  .notion-header {
    height: 420px !important;
  }
}

@media (max-width: 1310px) {
    .super-content {
      padding: 60px !important;
    }
  }

@media (max-width: 1020px) {
  .super-content {
    padding: 0px !important;
  }
}

@media (min-width: 1021px) {
  .super-footer,
  .super-navbar,
  .super-content {
    margin-left: 50vw !important;
    width: 50vw !important;
    position: static !important;
  }
}

@media (min-width: 1021px) {
  .notion-root {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}