:root {
    --color-text-default: #000 !important;
    --color-text-gray: #8f9ba8 !important;
    --color-text-default-light: #edeef3 !important;
    --color-bg-default: #fff !important;
    --color-ui-hover-bg: #edeef3 !important;
}