:root {
    --color-text-default: #000 !important;
    --color-text-gray: #8f9ba8 !important;
    --color-text-default-light: #d4d7dd !important;
    --color-bg-default: #fff !important;
    --color-ui-hover-bg: #f6f7f9 !important;
}