/* GLOBAL */
.notion-collection__header,
.notion-property__title__icon-wrapper {
    display: none !important;
}

/* GALLERIES */
.notion-collection-gallery {
    grid-gap: 32px !important;
    border: none !important;
    padding: 0 !important;
}

.notion-collection-card {
    box-shadow: 0 10px 40px -10px rgba(0,0,0,0.12) !important;
    transition: var(--transition) !important;
    padding: 20px 24px 24px !important;
    flex-direction: column !important;
    border-radius: 16px !important;
    display: flex !important;
}

.notion-collection-card__cover,
.notion-collection-card__cover>div,
.notion-collection-card__cover img {
    border-radius: 12px !important;
    position: relative !important;
    min-height: unset !important;
    max-height: none !important;
    height: 200px !important;
    border: none !important;
}

.notion-collection-card:hover {
    box-shadow: 0 20px 40px -10px rgba(0,0,0,0.12) !important;
    background: var(--color-white) !important;
    transform: translateY(-8px) !important;
}

.notion-collection-card:active {
    box-shadow: 0 10px 40px -10px rgba(0,0,0,0.12) !important;
    transform: translateY(0) !important;
}

.notion-property__title,
.notion-collection-card__content {
    padding: 0 !important;
}

.notion-collection-gallery .notion-property__title {
    transition: var(--transition) !important;
    margin: 20px 0 0 !important;
    font-size: 24px !important;
}

.notion-property__title .notion-semantic-string {
    letter-spacing: -1px !important;
    white-space: normal !important;
    overflow: visible !important;
    font-weight: 700 !important;
}

.notion-collection-card__content .notion-property__select .notion-pill {
    color: var(--color-grey) !important;
    letter-spacing: -0.4px !important;
    border-radius: 0 !important;
    background: none !important;
    font-weight: 700 !important;
    font-size: 18px !important;
    padding: 0 !important;
}

.notion-collection-card__content {
    overflow: visible !important;
}

/* Lists */
.notion-collection-list {
    overflow-x: visible !important;
    border: none !important;
}

.notion-collection-list__item {
    box-shadow: 0 4px 8px -2px rgba(0,0,0,0.08) !important;
    background: var(--color-white) !important;
    transition: var(--transition) !important;
    border-radius: 12px !important;
    margin: 0 0 12px 0 !important;
    padding: 24px 30px !important;
}

.notion-collection-list__item:hover {
    box-shadow: 0 10px 20px -4px rgba(0,0,0,0.08) !important;
}

.notion-collection-list__item .notion-property__title {
    font-size: 20px !important;
}

.notion-collection-list__item .notion-property__title .notion-semantic-string>span {
    border: none !important;
}

.notion-collection-list__item-property {
    letter-spacing: -0.5px !important;
    font-weight: 600 !important;
    font-size: 20px !important;
}

/* Boards */
.notion-collection-board {
    grid-template-columns: 1fr 1fr 1fr !important;
    overflow-x: visible !important;
    border: none !important;
}

.notion-collection-board__column-header {
    margin-bottom: 20px !important;
    margin-top: 0 !important;
}

.notion-collection-board__item .notion-collection-card {
    pointer-events: none !important;
}

.notion-collection-board__item .notion-collection-card .notion-property__title {
    font-size: 16px !important;
}

.notion-collection-board__item .notion-property__title .notion-semantic-string {
    letter-spacing: -0.4px !important;
}

.notion-property__text .notion-semantic-string {
    color: var(--color-grey) !important;
    letter-spacing: -0.5px !important;
    white-space: normal !important;
    font-weight: 600 !important;
    font-size: 18px !important;
}

@media (max-width: 600px) {

    .notion-collection-gallery {
        grid-gap: 24px !important;
    }

    .notion-property__title {
        font-size: 22px !important;
    }

    .notion-collection-board {
        grid-template-columns: 1fr !important;
    }

}

/* DB View switcher code*/
@-webkit-keyframes dropdown-animation-in {
    0% {
        opacity: 0;
        transform: translateY(-5%) scale(0.95);
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}
@keyframes dropdown-animation-in {
    0% {
        opacity: 0;
        transform: translateY(-5%) scale(0.95);
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}
@-webkit-keyframes dropdown-animation-out {
    0% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
    to {
        z-index: -1;
        opacity: 0;
        transform: translateY(-5%) scale(0.95);
    }
}
@keyframes dropdown-animation-out {
    0% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
    to {
        z-index: -1;
        opacity: 0;
        transform: translateY(-5%) scale(0.95);
    }
}

.notion-dropdown__menu-header, .notion-dropdown__option-icon, .notion-dropdown__button svg:first-of-type {
  display: none!important;
}

.notion-dropdown {
  width: 100%!important;
}

.notion-dropdown__button {
  justify-content: space-between!important;
  width: 100%!important;
  border: 1px solid var(--color-border-default)!important;
  padding: 10px!important;
  border-radius: 8px!important;
}

.notion-dropdown__menu-wrapper {
  margin-bottom: 25px!important;
}

.notion-dropdown__menu {
  width: 100%!important;
  border-radius: 8px!important;
  transform: none !important;
  left: auto !important;
  top: auto !important;
  box-shadow: 0 10px 20px -10px rgb(0 0 0 / 12%) !important;
}

.notion-dropdown__option-list {
  padding: 0px!important;
  flex-wrap: wrap!important;
}

.notion-dropdown__option {
  padding: 5px 16px!important;
  height: 50px!important;
}

.notion-dropdown__option p, .notion-dropdown__button-title {
  font-size: 16px!important;
}

/* Desktop styles */
@media all and (min-width: 624px) { 
    /* Hide default dropdown */
    .notion-dropdown__button,
    .notion-dropdown__menu-header,
    .notion-dropdown__option-icon {
        display: none !important;
    }

    /* Dropdown Initial State */
    .notion-dropdown__menu.initial-state {
        z-index: 1 !important;
        opacity: 1 !important;
        transform: none !important;
    }

    /* Remove animations */
    .notion-dropdown__menu.animate-in.animate-out,
    .notion-dropdown__menu.animate-in,
    .notion-dropdown__menu.animate-out {
        animation: none!important;
    }

    /* Restyle menu */
    .notion-dropdown__menu {
        background: none !important;
        box-shadow: unset !important;
        transform: none !important;
        left: auto !important;
        top: auto !important;
        position: relative !important;
    }

    /* Menu wrapper */
    .notion-dropdown__menu-wrapper {
        margin-bottom: 40px!important;
        position: relative!important;
    }

    /* Item hover */
    .notion-dropdown__option:hover {
        background: var(--color-off-white)!important;
    }

    /* Text hover style*/
    .notion-dropdown__option:hover p {
        color: var(--color-text-default)!important;
    }

    /* Item margin*/
    .notion-dropdown__option {
        margin: 10px 10px;
        border: 1px solid var(--color-border-default)!important;
        border-radius: 100px!important;
        transition: var(--transition)!important;
    }

    /* Item text */
    .notion-dropdown__option p {
        transition: color .2s ease-in-out  !important;
        color: var(--color-grey)!important;
        font-size: 18px !important;
    }

    .notion-dropdown__option-list {
        display: flex !important;
        padding: 0 !important;
        margin-left: -10px!important;
    }

    .notion-dropdown__option.active-filter {
        background: var(--color-off-black)!important;
    }
    .notion-dropdown__option.active-filter p {
        color: var(--color-white)!important;
    }
}

