/* GLOBAL */
.notion-collection__header,
.notion-property__title__icon-wrapper {
    display: none !important;
}

/* GALLERIES */
.notion-collection-gallery {
    grid-gap: 32px !important;
    border: none !important;
    padding: 0 !important;
}

.notion-collection-card {
    box-shadow: 0 10px 40px -10px rgba(0,0,0,0.12) !important;
    transition: var(--transition) !important;
    padding: 20px 24px 24px !important;
    flex-direction: column !important;
    border-radius: 16px !important;
    display: flex !important;
}

.notion-collection-card__cover,
.notion-collection-card__cover>div,
.notion-collection-card__cover img {
    border-radius: 12px !important;
    position: relative !important;
    min-height: unset !important;
    max-height: none !important;
    height: 200px !important;
    border: none !important;
}

.notion-collection-card:hover {
    box-shadow: 0 20px 40px -10px rgba(0,0,0,0.12) !important;
    background: var(--color-white) !important;
    transform: translateY(-8px) !important;
}

.notion-collection-card:active {
    box-shadow: 0 10px 40px -10px rgba(0,0,0,0.12) !important;
    transform: translateY(0) !important;
}

.notion-property__title,
.notion-collection-card__content {
    padding: 0 !important;
}

.notion-collection-gallery .notion-property__title {
    transition: var(--transition) !important;
    margin: 20px 0 0 !important;
    font-size: 24px !important;
}

.notion-property__title .notion-semantic-string {
    letter-spacing: -1px !important;
    white-space: normal !important;
    overflow: visible !important;
    font-weight: 700 !important;
}

.notion-collection-card__content .notion-property__select .notion-pill {
    color: var(--color-grey) !important;
    letter-spacing: -0.4px !important;
    border-radius: 0 !important;
    background: none !important;
    font-weight: 700 !important;
    font-size: 18px !important;
    padding: 0 !important;
}

.notion-collection-card__content {
    overflow: visible !important;
}

/* Lists */
.notion-collection-list {
    overflow-x: visible !important;
    border: none !important;
}

.notion-collection-list__item {
    box-shadow: 0 4px 8px -2px rgba(0,0,0,0.08) !important;
    background: var(--color-white) !important;
    transition: var(--transition) !important;
    border-radius: 12px !important;
    margin: 0 0 12px 0 !important;
    padding: 24px 30px !important;
}

.notion-collection-list__item:hover {
    box-shadow: 0 10px 20px -4px rgba(0,0,0,0.08) !important;
}

.notion-collection-list__item .notion-property__title {
    font-size: 20px !important;
}

.notion-collection-list__item .notion-property__title .notion-semantic-string>span {
    border: none !important;
}

.notion-collection-list__item-property {
    letter-spacing: -0.5px !important;
    font-weight: 600 !important;
    font-size: 20px !important;
}

/* Boards */
.notion-collection-board {
    grid-template-columns: 1fr 1fr 1fr !important;
    overflow-x: visible !important;
    border: none !important;
}

.notion-collection-board__column-header {
    margin-bottom: 20px !important;
    margin-top: 0 !important;
}

.notion-collection-board__item .notion-collection-card {
    pointer-events: none !important;
}

.notion-collection-board__item .notion-collection-card .notion-property__title {
    font-size: 16px !important;
}

.notion-collection-board__item .notion-property__title .notion-semantic-string {
    letter-spacing: -0.4px !important;
}

.notion-property__text .notion-semantic-string {
    color: var(--color-grey) !important;
    letter-spacing: -0.5px !important;
    white-space: normal !important;
    font-weight: 600 !important;
    font-size: 18px !important;
}

@media (max-width: 600px) {

    .notion-collection-gallery {
        grid-gap: 24px !important;
    }

    .notion-property__title {
        font-size: 22px !important;
    }

    .notion-collection-board {
        grid-template-columns: 1fr !important;
    }

}




